.ticket_header {

  .btn {
    border-radius: var(--btn-border-radius);
    padding: 0.5rem 1rem;
    border: none;
    outline: 1px solid var(--text-regular-color);
    cursor: pointer;
  }

  .ticket_header_info {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: var(--padding);
    border-bottom: 1px solid var(--regular-color);

    .ticket_title {
      font-size: 1.25rem;
      text-wrap: balance;
      width: 100%;
    }

    .ticket_actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      gap: 0.5rem;

      
      .btn {
        &.btn_draft {
          font-weight: bold;
          color: var(--text-regular-color);
          background-color: var(--light-color);
        }

        &.btn_save {
          outline: 1px solid var(--brand-color);
          background-color: var(--brand-color);
        }
      }
    }
  }

  .ticket_header_actions {
    display: flex;
    gap: 1rem;
    padding: var(--padding);
    border-bottom: 1px solid var(--regular-color);

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;
      width: 15rem;
      font-weight: bold;
      font-size: 0.9rem;
      cursor: inherit;
      color: var(--text-regular-color);
    }

    .header_actions_container {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      justify-content: flex-end;
      width: 100%;

      .icon {
        background-color: transparent;
        border: none;
        padding: 0.25rem 0.35rem;
        padding-bottom: 0;
        cursor: pointer;
        transition: .3s;

        &:hover {
          border-radius: 0.25rem;
          background-color: var(--regular-color);
        }

        &.separator {
          border-right: 1px solid #efefef;
        }
      }
    }
  }
}