.grid {
  --color-surface: rgb(249 249 249);
  --color-bg: rgb(255 255 255);
  --color-icon-border: rgb(244 244 244);
  --speed: 0.2s;
  --bounce: cubic-bezier(.47, 1.64, .41, .8);

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  padding: .5rem;
  border-radius: 1rem;
  background-color: var(--color-surface);
  box-shadow: 0 0 1rem 0.5rem rgb(0 0 0 / 0.1);

  & > a {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 1rem;
    border-radius: 0.8rem;
    background-color: var(--color-bg);

    .icon {
      width: calc(28px + 1.15rem);
      padding: 0.25rem 0.5rem;
      border-radius: 0.75rem;
      border: 1px solid var(--color-icon-border);

      & > svg > * {
        transition: var(--speed) var(--bounce);
      }
    }

    &.task:hover {
      & > .icon {
        & > svg {
          & > .icon_line_vertical {
            animation: shake calc(var(--speed) + 0.2s) ease-in-out forwards;
          }
  
          & > .icon_line_horizontal {
            animation: shake calc(var(--speed) + 0.2s) ease-in-out forwards;
          }
        }
      }
    }

    &.member:hover {
      & > .icon {
        & > svg {
          & > .vertical, & > .horizontal {
            translate: -15px 0;
          }
  
          & > .top, & > .bottom {
            translate: 6px 0;
          }
        }
      }
      
    }

    &.connect:hover {
      & > .icon > svg {
        & > .plug_male {
          translate: 3px -3px;
        }
        & > .plug_female {
          translate: -3px 3px;
        }

        & > .plug {
          stroke-width: 0;
        }
      }
    }

    &.project:hover {
      & > .icon > svg {
        .dashboard {
          animation: rotatable_shake 0.6s ease-in-out forwards;
          transform-origin: center center;
        }
      }
    }

    .title {
      font-weight: bold;
      margin-top: 1.5rem;
    }

    .description {
      text-wrap: pretty;
      font-size: 0.8rem;
      color: rgb(0 0 0 / 0.5);
    }
  }
}

@keyframes shake {
  0% {
    translate: 0 0;
  }
  25% {
    translate: -4px 0;
  }
  50% {
    translate: 4px 0;
  }
  75% {
    translate: 2px 0;
  }
  100% {
    translate: 0 0;
  }
}

@keyframes rotatable_shake {
  0% {
    rotate: 20deg;
  }
  25% {
    rotate: -20deg;
  }
  50% {
    rotate: 10deg;
  }
  75% {
    rotate: -10deg;
  }
  100% {
    rotate: 0deg;
  }
}