.product_info {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .product_reviews {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 1rem;
  }

  .product_price {
    font-size: 2rem;
    font-weight: bold;
  }

  

  

  .misc_info {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: rgb(62 62 62);
  }
}