.button {
  --button-bg-color: rgb(243 239 233);
  --label-color: rgb(61 56 49);
  --orange-color: rgb(254 107 57);
  --purple-color: rgb(171 76 244);
  --pink-color: rgb(246 137 200);
  --radius: .25rem;

  padding: 1rem;
  position: relative;
  overflow: hidden;

  .button_label_container {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    justify-content: center;

    .button_dot_container {
      .dot {
        position: absolute;
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        margin-right: 1rem;

        &.dot_orange {
          background-color: var(--orange-color);
        }

        &.dot_purple {
          background-color: var(--purple-color);
        }

        &.dot_pink {
          background-color: var(--pink-color);
        }
      }

      .button_label {
        margin-left: 1rem;
      }
    }
  }
}