.audio_player_container {
  .audio_player {
    border: 1px solid red;
    background-color: red;
  }
  .audio_player_controls_container {
    .play_controls {
      background: transparent;
      border: none;
    }
  }
}
