.container {
  display: grid;
  gap: 1rem;
  background-color: rgb(255 255 255);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 1rem rgb(40 40 40 / 0.1);
  width: 25rem;
  transition: 0.4s var(--bounce);

  &:hover {
    rotate: 2deg;
    box-shadow: none;
  }

  > .info {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;

    > div {
      display: flex;
      gap: 0.5rem;
    }
  }

  .title {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    font-weight: bold;
  }

  .btn_info {
    grid-row: 1 / 1;
    grid-column: 2 / 2;
    background-color: rgb(235 235 235);
    color: rgb(163 163 163);
    width: 1rem;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10rem;
  }

  .text {
    grid-row: 2 / 2;
    grid-column: 1 / 2;
    line-height: 20px;
    word-spacing: 3px;
    color: rgb(40 40 40 / 0.8);
  }

  svg {
    grid-row: 1 / 3;
    grid-column: 3 / 3;
  }

  .box {
    grid-row: 3 / 3;
    grid-column: 1 / 4;
    display: flex;
    gap: 1rem;
    width: 100%;

    > * {
      flex-basis: 100%;
      text-align: center;
    }

    .group {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      flex-direction: column;

      .indicator {
        display: flex;
        width: 25px;
        aspect-ratio: 1;
        background-color: rgb(215 215 215);
        border-radius: 10rem;
        position: relative;

        &.done {
          background-color: rgb(249 151 21);
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: 9px;
            left: 8px;
            width: 8px;
            height: 3px;
            border-left: 1px solid rgb(255 255 255);
            border-bottom: 1px solid rgb(255 255 255);
            rotate: -45deg;
          }
        }
      }
    }
  }
}