.menu {
  --bg: #ffffff;
  --normal-bg: #f8f7f6;
  --active-bg: #efedea;
  --surface-bg: #f8f7f6;
  --title-color: #908c8a;
  --text-color: #31302e;
  --menu-radius: 1rem;
  --button-radius: 0.5rem;
  --gap: 0.5rem;
  --space-block: 1rem;
  --space-inline: 1rem;

  .menu_button {
    cursor: pointer;
    padding: 0.5rem 0.8rem .8rem;
    border-radius: var(--button-radius);
    display: flex;
    border: none;
    place-content: center;
    justify-content: center;
    align-items: center;
    place-items: center;
    background-color: var(--normal-bg);
    color: var(--text-color);
    font-weight: 800;
    transition: all .5s;
    anchor-name: --menu-button;

    &:hover {
      background-color: var(--active-bg);
    }
  }

  .menu_drawer {
    background-color: var(--surface-bg);
    padding: 1rem 2rem;
    border-radius: var(--menu-radius);
    width: 300px;
    position-anchor: --menu-button;
    position-area: bottom left;
    position: absolute;
    right: -35px;
    margin-top: 0.5rem;
    box-shadow: 0 0 5px 2px #e9e8e8;
    color: var(--text-color);
    border: none;
    transition: all .5s;

    display: none;
    opacity: 0;

    &:popover-open {
      display: block;
      opacity: 1;
  
      @starting-style {
        opacity: 0;
      }
    }

    .group_title {
      display: block;
      font-size: 0.9rem;
      margin-block: var(--space-block);
      color: var(--title-color);
    }

    .list {
      inset: 0;
      list-style: none;

      .item {
        padding: 0.5rem 1rem;
        background-color: var(--bg);
        border-radius: 0.5rem;
        width: 100%;
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-block: 0.2rem;
        transition: all .5s;
        font-size: 0.9rem;

        &:hover {
          background-color: var(--active-bg);
        }
      }
    }
  }
}