.card {
  --bg-color: rgb(253 253 253);
  --secondary-text-color: rgb(126 138 136);

  --tag-bg-color: rgb(236 236 236);
  --tag-text-color: rgb(115 115 115);

  --button-bg-color: rgb(0 0 0);
  --button-text-color: rgb(255 255 255);

  --badge-border-color: rgb(148 148 148);

  --bounce: cubic-bezier(.47, 1.64, .41, .8);

  padding: 1rem;
  border-radius: calc(1rem + 0.75rem);
  display: flex;
  flex-direction: column;
  width: 25rem;
  gap: 1rem;
  box-shadow: 0 1rem 1rem 0rem rgb(0 0 0 / 0.1);
  position: relative;
  transition: 1s;
  overflow: hidden;

  .header {
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
      font-size: 1.1rem;
    }

    .badge {
      margin-left: auto;
      border: 1px solid var(--badge-border-color);
      padding: 0.25rem 0.5rem;
      border-radius: 10rem;
    }
  }

  .description {
    color: var(--secondary-text-color);
  }

  .tags {
    display: flex;
    gap: 0.5rem;
    font-size: 0.7rem;

    .tag {
      background-color: var(--tag-bg-color);
      color: var(--tag-text-color);
      padding: 0.25rem 0.5rem;
      border-radius: 10rem;
    }
  }

  .meta {
    display: flex;
    align-items: center;

    & > span {
      color: rgb(39 39 39);
      font-size: 0.8rem;
    }

    .button {
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 0.75rem;
      border: none;
      background-color: var(--button-bg-color);
      color: var(--button-text-color);
      border-radius: 10rem;
      gap: 0.5rem;
      cursor: pointer;
    }
  }

  .carousel {
    overflow-x: scroll;
    display: flex;
    gap: 1.25rem;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    border-radius: 0.75rem;
    scroll-marker-group: after;
    position: relative;
    
    &::scroll-marker-group {
      width: 100%;
      height: 1rem;
      z-index: 1;
      display: flex;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 1;
      bottom: 1.5rem;
      left: 0;
    }
    
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem 0 rgb(0 0 0 / 0.1);
    scroll-snap-align: start;
    flex: 0 0 100%;

    &::scroll-marker {
      background-color: rgb(157 133 118);
      width: 10px;
      aspect-ratio: 1;
      height: 5px;
      content: "";
      border-radius: 10rem;
      transition: 0.3s var(--bounce);
    }

    &::scroll-marker:target-current {
      background-color: rgb(216 212 204);
      flex-basis: 5%;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }

    & figcaption {
      display: flex;
      align-self: flex-start;
      justify-self: flex-start;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: absolute;
      padding: 0.5rem;

      .ratings {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        gap: 0.25rem;
        color: rgb(255 255 255);
        font-size: 0.7rem;
      }

      .inclusions {
        display: flex;
        gap: 0.75rem;
        font-size: 0.7rem;
        color: rgb(255 255 255);

        & > * {
          background-color: rgb(255 255 255 / 0.3);
          padding: 0.25rem 0.5rem;
          border-radius: 10rem;
          backdrop-filter: blur(4px);
        }
      }
    }
  }
}