.container {
  --width: 80vw;

  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  gap: 2rem;
  max-width: var(--width);
  margin: 0 auto;

  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  > h1 {
    grid-column: 1 / 4;
  }

  .product_info {
    grid-column: 3 / 3;
    grid-row: 2 / 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .product_reviews {
      display: flex;
      align-items: center;
      justify-self: center;
      gap: 1rem;
    }

    .product_price {
      font-size: 2rem;
      font-weight: bold;
    }

    :where(.product_colors, .product_sizes) {
      display: grid;
      grid-template-columns: repeat(12, auto);
      gap: 1rem;

      input {
        display: none;
      }

      .section_title {
        grid-column: span 12;
      }

      :where(.product_color, .product_size) {
        width: 2.25rem;
        aspect-ratio: 1;
        background-color: var(--product-color);
        cursor: pointer;
        transition: 0.3s, scale 0.1s;
        border-radius: 0.25rem;

        &:hover {
          opacity: 0.8;
        }
      }

      .product_color {
        outline: 1px solid rgb(255 255 255 / 0);
        outline-offset: -3px;

        &:active {
          scale: 0.97;
        }
      }

      .product_color:has(input:checked) {
        outline: 1px solid rgb(255 255 255 / 1);
      }

      .product_size {
        outline: 1px solid rgb(206, 206, 206);
        
        display: flex;
        align-items: center;
        justify-content: center;

        &:has(input:checked) {
          border-color: rgb(238 238 238);
          background-color: rgb(0 0 0);
          color: rgb(240 240 240);
        }

        &:active {
          scale: 0.97;
        }
      }
    }

    .controls {
      display: flex;
      gap: 1rem;
      
      .button {
        
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        cursor: pointer;
        transition: 0.3s, scale 0.1s;

        &:hover {
          background-color: rgb(0 0 0 / 0.7);
        }

        &:active {
          scale: 0.97;
        }
      }

      .add_button {
        background-color: rgb(0 0 0);
      }
      
      :where(.buy_now_button, .bookmark_button) {
        background-color: rgb(229 229 229);
        color: rgb(40 40 40);
      }
    }

    .misc_info {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      color: rgb(62 62 62);
    }
  }

  .product_details {
    grid-row: 3 / 3;
    grid-column: span 3;
  }

  .product_similar {
    grid-row: 4 / 4;
    grid-column: span 12;
  }

  .product_images {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    grid-row: 2 / 2;
    grid-column: 1 / 1;

    @media screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .product_image {
      & > * {
        opacity: 0;
        display: none;
      }
    }

    &:has(> .images_list > label > .image_1:checked) {
      /* background-color: red; */
      & > .product_image {
        & > * {
          display: none;
          opacity: 0;
        }
        
        & > .image_1 {
          display: flex;
          opacity: 1;
          width: 100%;
          height: auto;

          @starting-style {
            opacity: 0;
          }
        }
      }
    }
    
    &:has(> .images_list > label > .image_2:checked) {
      /* background-color: red; */
      & > .product_image {
        & > * {
          display: none;
          opacity: 0;
        }

        & > .image_2 {
          display: flex;
          opacity: 1;
          width: 100%;
          height: auto;

          @starting-style {
            opacity: 0;
          }
        }
      }
    }
    
    &:has(> .images_list > label > .image_3:checked) {
      /* background-color: red; */
      & > .product_image {
        & > * {
          display: none;
          opacity: 0;
        }

        & > .image_3 {
          display: flex;
          opacity: 1;
          width: 100%;
          height: auto;

          @starting-style {
            opacity: 0;
          }
        }
      }
    }
    
    &:has(> .images_list > label > .image_4:checked) {
      /* background-color: red; */
      & > .product_image {
        & > * {
          display: none;
          opacity: 0;
        }

        & > .image_4 {
          display: flex;
          opacity: 1;
          width: 100%;
          height: auto;

          @starting-style {
            opacity: 0;
          }
        }
      }
    }
    
    &:has(> .images_list > label > .image_5:checked) {
      /* background-color: red; */
      & > .product_image {
        & > * {
          display: none;
          opacity: 0;
        }

        & > .image_5 {
          display: flex;
          opacity: 1;
          width: 100%;
          height: auto;

          @starting-style {
            opacity: 0;
          }
        }
      }
    }

    .main_image {
      width: 100%;
      height: auto;
      aspect-ratio: 1;
      object-fit: cover;
      border-radius: 0.5rem;

      transition: 0.3s;
      /* opacity: 1; */
      /* display: none; */
    }

    .images_list {
      display: flex;
      gap: 1rem;
    }

    .image_picker {
      display: none;
    }

    .image_label {
      width: calc(70vw / 4);
      cursor: pointer;
      border-radius: 0.5rem;
      display: flex;
      
      .image_list {
        border-radius: 0.5rem;
      }

      &:has(.image_picker:checked) {
        outline: 2px solid rgb(40 40 40);
      }
    }

    .image_list {
      width: 100%;
      height: auto;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
}


.product_details {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, auto);
  gap: 0.5rem;
  margin-block-start: 3rem;
  transition: 0.3s;

  :where(.tab_overview, .tab_specs, .tab_reviews) {
    padding: 1rem 2rem;
    cursor: pointer;
    color: rgb(149 149 149);
    font-weight: bold;

    input {
      display: none;
    }
  }

  :where(label:nth-child(1), label:nth-child(2)) {
    border-right: 1px solid rgb(149 149 149);
  }

  &:has(.tab_overview input:checked) {
    label.tab_overview {
      color: rgb(57 57 57);
      padding: 1rem;
    }

    .tab_overview {
      display: flex;
      opacity: 1;

      @starting-style {
        opacity: 0;
      }
    }
  }
  
  &:has(.tab_specs input:checked) {
    label.tab_specs {
      color: rgb(57 57 57);
    }

    .tab_specs {
      display: flex;
      opacity: 1;

      @starting-style {
        opacity: 0;
      }
    }
  }
  
  &:has(.tab_reviews input:checked) {
    label.tab_reviews {
      color: rgb(57 57 57);
      padding: 1rem 2rem;
    }

    .tab_reviews {
      display: flex;
      opacity: 1;

      @starting-style {
        opacity: 0;
      }
    }
  }

  .tab_desc {
    grid-row: 2 / 2;
    grid-column: 1 / 12;
    background-color: transparent;
    display: none;
    opacity: 0;
    transition: 0.3s;
    color: rgb(40 40 40);
    font-weight: normal;
    cursor: auto;
    padding: 0;
    padding-block: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
  }

  .tab_reviews {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.product_similar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-block-end: 4rem;
  width: 81%;

  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center;
    justify-content: center;

    .similar_container {
      flex-basis: 100%;
      flex-grow: 1;

      img {
        width:  100%;
      }
    }
  }

  .section_title {
    grid-column: span 4;
    text-align: center;
  }

  .section_subtitle {
    grid-column: span 4;
    grid-row: 2 / 2;
    text-align: center;
    margin-block-end: 1.5rem;
  }

  .similar_container {
    grid-row: 3 / 3;
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    img {
      width:  100%;
      height: auto;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
}