.container {
  --width: 80vw;

  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  gap: 2rem;
  max-width: var(--width);
  margin: 0 auto;

  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  > h1 {
    grid-column: 1 / 4;
  }
}
