.container {
  background-color: rgb(243 243 243);
  width: 20rem;
  padding: 0.25rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.75rem 0 rgb(40 40 40 / 0.2);

  .price_section {
    background-color: rgb(255 255 255);
    background: linear-gradient(to bottom, , rgb(255 255 255));
    padding: 1rem;
    border-radius: 0.85rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    outline: 1px solid rgb(246 246 246);
    outline-offset: -4px;

    .title {
      font-size: 1.3rem;
      font-weight: bold;
    }

    .desc {
      color: rgb(144 144 144);
    }

    & div {
      .occurrence {
        font-size: 0.8rem;
        color: rgb(144 144 144);
        display: flex;
      }

      .amount {
        font-weight: bold;
        font-size: 1.1rem;
      }
    }

    & button {
      background: rgb(5 6 19);
      border: none;
      border-radius: 0.35rem;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      cursor: pointer;
      box-shadow: 0 0.5rem 0.75rem 0 rgb(40 40 40 / 0.2);
    }
  }

  .features {
    display: flex;
    gap: 1rem;

    & ul {
      padding: 1rem;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      &:last-child {
        margin-left: auto;
      }

      & li {
        display: flex;
        align-items: center;
        gap: 0.35rem;

        & span {
          font-size: 0.8rem;
        }
      }
    }
  }

  .toggle {
    display: flex;
    gap: 0.5rem;
    padding-inline: 1rem;
    padding-bottom: 1rem;
    color: rgb(144 144 144);
    font-size: 0.8rem;
    cursor: pointer;
    user-select: none;
    position: relative;
    transition: 0.3s;

    & input {
      display: none;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 1rem;
      width: 2rem;
      height: 1rem;
      border-radius: 10rem;
      background-color: rgb(235 235 235);
      transition: 0.3s;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0.10rem;
      left: 1.1rem;
      width: 0.80rem;
      aspect-ratio: 1;
      border-radius: 10rem;
      background-color: rgb(255 255 255);
      transition: 0.3s var(--bounce);
    }

    &:has(input:checked) {
      color: rgb(40 40 40);

      &:after {
        left: 2.10rem;
      }

      &:before {
        background-color: rgb(5 6 19);
      }
    }

    .label {
      margin-left: 2.5rem;
    }
  }
}
