.product_details {
  grid-row: 3 / 3;
  grid-column: span 3;
  
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;

  input {
    display: none;
  }

  label {
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    color: rgb(149 149 149);
    transition: 0.3s;

    &:hover {
      color: rgb(40 40 40);
    }
  }

  .tabs_container {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .tab_text {
    padding: 0.5rem 1rem;
  }

  label:not(:last-child) > .tab_text {
    border-right: 1px solid rgb(149 149 149);
  }

  .tab_desc {
    top: 3rem;
    opacity: 0;
    display: none;
    letter-spacing: 1px;
    line-height: 1.25rem;
    transition: 0.3s;

    &.tab_reviews {
      display: none;
      opacity: 0;
      flex-direction: column;
      gap: 1rem;
    }
  }



  &:has(.tab_overview > input:checked) {
    .tab_overview {
      display: flex;
      opacity: 1;
      color: rgb(40 40 40);

      @starting-style {
        opacity: 0;
      }
    }
  }
  
  &:has(.tab_specs > input:checked) {
    .tab_specs {
      display: flex;
      opacity: 1;
      color: rgb(40 40 40);

      @starting-style {
        opacity: 0;
      }
    }
  }
  
  &:has(.tab_reviews > input:checked) {
    .tab_reviews {
      display: flex;
      opacity: 1;
      color: rgb(40 40 40);

      @starting-style {
        opacity: 0;
      }
    }
  }
}
