.navigation {
  outline: 7px solid rgb(85 85 85);
  border-radius: 1.5rem;
  padding: 0.5rem;
  background-color: rgb(16 16 16);
  color: rgb(164 164 164);
  min-width: 15rem;
  box-shadow: 0 1rem 1rem 1rem rgb(40 40 40 / 0.2);
  
  .navigation_list {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  .item_link {
    padding: 0.75rem 1rem;
    display: flex;
    gap: 0.5rem;
    transition: 0.3s var(--bounce);

    &:hover {
      color: rgb(249 249 250);

      .icon {
        > svg {
          stroke: rgb(249 249 250);
        }
      }
    }

    .icon {
      display: flex;
      align-items: center;

      > svg {
        transition: 0.3s;
      }
    }

    &.active {
      color: rgb(249 249 250);
      background-color: rgb(42 42 42);
      border-radius: 1rem;
      position: relative;
      padding-inline: 2rem;
      box-shadow: inset 0 0 1px 1px rgb(220 220 220 / 0.1);

      .icon {
        > svg {
          stroke: rgb(249 249 250);
        }
      }

      &::before, &::after {
        content: "";
        position:absolute;
        top: calc(40% - 0.30rem);
        left: 10px;
        width: 4px;
        border-radius: 10rem;
        height: 40%;
        background-color: rgb(247 247 247);
        transition: 0.3s;
      }

      &::after {
        content: "";
        left: 18px;
        height: 60%;
        top: calc(60% - 1rem);
        opacity: 0.7;
        filter: blur(5px);
      }
    }
  }
}
