.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100%;

  .search_container {
    position: relative;
    margin: auto;

    .search_icon {
      position: absolute;
      width: 2.5rem;
      height: 100%;
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10rem;
    }
    .search_input {
      background-color: rgb(240 240 240);
      padding: 0.75rem 1.25rem;
      padding-inline-start: 2.75rem;
      border-radius: 10rem;
      border: none;
      color: rgb(40 40 40);
      outline: none;
    }
  }

  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .card {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      position: relative;
      background-color: rgb(244 244 244);
      padding: 0.75rem;
      border-radius: 1rem;
      cursor: pointer;

      &:hover {
        .media > span:first-child {
          rotate: 10deg;
        }
        .media > span:last-child {
          opacity: 0.4;
          rotate: -10deg;
        }
      }

      .media {
        width: 100%;
        aspect-ratio: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(255 255 255);
        border-radius: 0.5rem;
        font-size: 4rem;
        padding-block-start: 4rem;

        & > * {
          transition: 0.3s;
        }

        & > *:last-child {
          scale: 1 -1;
          margin-top: -1.5rem;
          position: relative;
          opacity: 0;

          &::after {
            content: "";
            position: absolute;
            background-color: rgb(250 250 250);
            background-color: red;
            background: linear-gradient(to bottom, rgb(255 255 255) 50%, transparent);
            width: 100%;
            height: 80%;
            left: 0;
            top: 0;
          }
        }
      }

      .ingredients {
        position: absolute;
        top: 1.25rem;
        left: 1.25rem;
        display: flex;
        gap: 0.25rem;

        .chip {
          background-color: rgb(244 244 244);
          padding: 0.25rem 0.5rem;
          border-radius: 10rem;
          font-size: 0.7rem;
          color: rgb(40 40 40);
          text-transform: capitalize;
        }
      }
    }
  }

  .empty_state {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .empty {
      font-size: 5rem;
    }
  }
}