.card {
  position:relative;
  display: grid;
  row-gap: 1rem;
  inline-size: min(20rem, 100%);
  padding: 1rem;
  background-color: rgb(255 255 255);
  border-radius: 1rem;
  box-shadow:
    0 0 0.75rem 0.25rem rgb(40 40 40 / .2),
    0 0 0rem 1px rgb(40 40 40 / .1);

  button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .card_favorite {
    position: absolute;
    background-color: rgb(100 117 127 / .7);
    backdrop-filter: blur(1px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10rem;
    width: 2rem;
    aspect-ratio: 1;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;

    > svg {
      transition: 0.1s;
    }

    &:active {
      > svg {
        scale: 0.90;
      }
    }

    &.favorite {
      > svg {
        fill: rgb(254, 155, 155);
        stroke: rgb(254, 155, 155);
      }
    }
  }

  .card_image {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16 / 12;
    border-radius: 0.65rem;
    grid-column: span 3;
  }

  .card_title {
    font-size: 0.9rem;
    grid-column: 1 / 3;
    grid-row: 2 / 2;
  }

  .card_reviews {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    grid-column: 3 / 3;
    grid-row: 2 / 2;
    margin-left: auto;
  }

  .card_location {
    grid-row:  3 / 3;
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.8rem;
    color: rgb(98 98 98);
  }

  .card_amenities {
    grid-row: 4 / 4;
    grid-column: span 3;

    display: flex;
    gap: 1rem;
    font-size: 0.750rem;
    width: 100%;
    color: rgb(39 39 39 / .9);

    .group {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;
    }
  }



  .card_price {
    grid-row: 5 / 5;
    align-self: center;
    font-weight: bold;
  }


  .button_reserve {
    grid-row: 5 / 5;
    grid-column: span 2;
    color: rgb(230 230 230);
    background-color: rgb(6 6 6);
    padding: 0.5rem 1rem;
    border-radius: 10rem;
    font-weight: bold;
    transition: scale 0.1s, box-shadow 0.2s;
    box-shadow: 0 0 0.25rem 0.15rem rgb(40 40 40 / .5);

    &:active {
      scale: 0.99;
      box-shadow: 0 0 0 0 rgb(40 40 40 / 0.5);
    }
  }
}