.car_rental {
  display: flex;
  flex-direction: column;
  inline-size: min(25rem, 100%);
  block-size: auto;
  box-shadow: 0 1rem 1rem 0 rgb(40 40 40 / .1);
  border-radius: 2rem;

  * {
    transition: 0.3s;
  }

  .rental_media {
    padding: 0.25rem;
    background-color: rgb(255 255 255);
    border-radius: 2rem 2rem 0 0;

    img {
      inline-size: 100%;
      block-size: auto;
      object-fit: contain;
      border-radius: 1.75rem 1.75rem 0 0;
    }
  }

  .group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    background-color: rgb(255 255 255);
    margin-block-start: -2rem;
    border-radius: 2rem;

    .link {
      margin-inline-start: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .box {
    border-radius: 2rem 2rem 0 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    border-radius: 0;

    .box_title {
      font-weight: bold;
    }

    .field {
      display: flex;
      gap: 0.25rem;
      flex-direction: column;
      justify-content: center;
      border: 1px solid rgb(240 240 240);
      padding: 0.75rem;
      border-radius: 0.5rem;
      cursor: pointer;
      inline-size: 8rem;
      position: relative;
      user-select: none;

      &::before {
        content: "";
        position: absolute;
        inline-size: 100%;
        block-size: 100%;
        background-color: rgb(242 242 242);
        top: 0;
        left: 0;
        border-radius: inherit;
        transition:  0.3s;
        scale: 0;
        opacity: 0;
      }

      &:active {
        &::before {
          scale: 1;
          opacity: 1;
        }

        scale: 0.98;
        box-shadow: 0 0 0 0 rgb(40 40 40 / 0);
      }

      * {
        z-index: 10;
      }

      &:hover {
        border: 1px solid rgb(89 89 89);
        box-shadow: 0 0 0.5rem 0 rgb(40 40 40 / .2);
      }

      &:has(.input:checked) {
        border: 1px solid rgb(89 89 89);
        
        &::before {
          scale: 1;
          opacity: 1;
        }
      }

      .input {
        display: none;
      }
    }

    &:has(.car_plans) {
      margin-block-start: -1rem;
    }

    &:has(.agency_avatar) {
      flex-direction: row;
      gap: 0.75rem;
      align-items: center;
      background-color: rgb(242, 242, 242);
      margin-inline: 1rem;
      border-radius: 1rem;

      .agency_avatar {
        background-color: bisque;
        inline-size: 3rem;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-weight: bold;
      }

      .block {
        gap: 0.25rem;
        display: flex;
        flex-direction: column;

        .agency_name {
          font-weight: bold;
        }

        div {
          display: flex;
          align-items: center;
          gap: 0.25rem;
        }
      }
    }

    &:has(.car_specs) {
      gap: 0.5rem;
      overflow-x: scroll;
      position: relative;

      .box_title {
        position: sticky;
        left: 0;
        top: 0;
      }

      .car_specs {
        display: flex;
        align-items: flex-start;
        gap: 0.5rem;
        inline-size: fit-content;
      }
    }

    &:has(.car_total) {
      flex-direction: row;
      align-items: center;
      border-block-start: 1px solid rgb(239 239 239);

      .car_total {
        display: grid;
        row-gap: 0.25rem;
        
        > span:nth-of-type(2) {
          grid-column: 1 / 1;
          grid-row: 2 / 2;
          font-weight: bold;
          font-size: 1.5rem;
          align-self: flex-end;
        }
        
        > span:nth-of-type(3) {
          grid-column: 2 / 2;
          grid-row: 2 / 2;
          align-self: flex-end;
        }
      }

      .button {
        margin-inline-start: auto;
        background-color: rgb(20 20 20);
        color: rgb(255 255 255);
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
      }
    }
  }

  .secondary_text {
    color: rgb(151 151 151);
  }
}
