.product_container {
  --bg-color: #000000;
  --text-color-primary: #e8e8e8;
  --text-color-secondary: #5b5b5b;
  --text-color-tertiary: #707070;
  --padding: 1.5rem;
  --gutter: 0.5rem;
  --radius: 1.5rem;
  --card-timer: 0.4s;
  --image-timer: 0.3s;
  --image-delay: 0.1s;
  --bounce: cubic-bezier(.47, 1.64, .41, .8);
  --animation-props: var(--bounce) forwards alternate;
  cursor: pointer;
  position: relative;
  width: 350px;
  height: 470px;

  .product {
    background-color: var(--bg-color);
    color: var(--text-color-tertiary);
    padding: var(--padding);
    padding-bottom: 0;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
    position: absolute;

    max-width: 350px;
    overflow: hidden;
    box-shadow: 0 20px 50px 0px #535353;
    transform-origin: top left;
    
    .product_image {
      animation: 
        spin_media_reverse
        var(--image-timer)
        var(--animation-props);
      margin-left: -120px;
      object-fit: cover;
      object-position: 10% 70%;
    }
  }

  .product_vinta {
    z-index: 1;
    transform: rotate(-3deg);
    animation: reverse_wrist_watch .4s var(--animation-props);
    translate: -10px 0;
  }

  .product_beverage {
    transform: rotate(1deg);
    translate: 0px -10px;
    animation:
      reverse_beverage
      var(--card-timer)
      var(--animation-props);

    .product_image {
      animation:
        spin_media_reverse
        var(--image-timer)
        var(--animation-props);
      margin-left: -120px;
      object-fit: cover;
      object-position: 10% 50%;
    }
  }
  
  &:hover .product_vinta {
    animation:
      spin_wrist_watch
      var(--card-timer)
      var(--animation-props);

    .product_image_container {
      .product_image {
        animation:
          spin_media
          var(--image-timer)
          var(--animation-props);
      }
    }
  }

  &:hover .product_beverage {
    animation: spin_beverage var(--card-timer) var(--animation-props);

    .product_image_container {
      .product_image {
        animation:
          spin_media
          var(--image-timer)
          var(--animation-props)
          var(--image-delay);
      }
    }
  }

  .product_title {
    color: var(--text-color-primary);
  }

  .product_subtitle {
    color: var(--text-color-secondary);
  }
}

@keyframes spin_wrist_watch {
  to {
    transform: rotate(20deg);
    translate: -100px -30px;
  }
}

@keyframes reverse_wrist_watch {
  from {
    transform: rotate(20deg);
    translate: -100px -30px;
  }
  to {
    transform: rotate(-3deg);
    translate: -10px 0;
  }
}

@keyframes spin_beverage {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-20deg);
    translate: 150px 50px;
  }
}

@keyframes reverse_beverage {
  from {
    transform: rotate(-20deg);
    translate: 150px 50px;
  }
  to {
    transform: rotate(1deg);
    translate: 0px -10px;
  }
}

@keyframes spin_media {
  to {
    margin-left: -24px;
  }
}

@keyframes spin_media_reverse {
  from {
    margin-left: -24px;
  }
  to {
    margin-left: -120px;
  }
}
