.button {
  display: flex;
  gap: 0.5rem;
  padding: 1rem 1.5rem;
  border-radius: 10rem;
  border: none;
  background-color: rgb(255 137 82);
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: -5px -5px 5px 0 rgba(248, 81, 4, 0.4) inset;
  scale: 1 1;
  position: relative;
  
  &:hover {
    animation: bounce 0.5s ease-in-out forwards;
  }
}

@keyframes bounce {
  0% {
    scale: 1.1 0.9;
  }
  25% {
    scale: 0.9 1.1;
  }
  50% {
    scale: 1.05 0.95;
  }
  75% {
    scale: 0.95 1.05;
  }
  100% {
    scale: 1 1;
  }
}
