.container {
  --bg-color: rgb(255 255 255);
  --text-base-color: rgb(85 85 88);
  --text-secondary-color: rgb(97 97 97);
  --border-color: rgb(243 243 243);

  --badge-bg-color: rgb(249 234 174);
  --badge-text-color: rgb(153 72 8);
  --badge-border-color: rgb(250 225 176);

  --bounce: cubic-bezier(.47, 1.64, .41, .8);

  background-color: var(--bg-color);
  box-shadow: 0 0 1rem 0 rgb(40 40 40 / 0.2);
  padding: 1.5rem;
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  min-width: 30rem;
  position: relative;

  .avatar {
    border: 5px solid rgb(227 228 228);
    border-radius: 5rem;
    width: 3.5rem;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header {
    display: flex;
    align-items: center;

    .header_title {
      font-weight: bold;
      font-size: 1.1rem;
    }

    .header_counter {
      margin-left: auto;
      background-color: var(--badge-bg-color);
      padding: 0.25rem 0.5rem;
      border-radius: 1rem;
      font-size: .6rem;
      font-weight: bold;
      color: var(--badge-text-color);
      border: 1px solid var(--badge-border-color);
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
  }

  .contents {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .contents_dropdown {
      border: 1px solid var(--border-color);
      background-color: var(--bg-color);
      color: var(--text-base-color);
      padding: 0.5rem 0.75rem;
      border-radius: 0.5rem;
      text-transform: capitalize;
    }

    .contents_text {
      text-align: center;
      color: var(--text-secondary-color);
    }

    .team_avatars {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .empty_state {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        color: var(--text-secondary-color);
      }
    }
  }

  .popup {
    list-style: none;
    display: none;
    flex-direction: column;
    border: 4px solid rgb(243 243 243 / 0.6);
    border-radius: 1rem;
    position: absolute;
    background-color: rgb(255 255 255 / 0.1);
    width: calc(100% - 2rem);
    backdrop-filter: blur(10px);
    left: 1rem;
    box-shadow: 0 0 1rem 0 rgb(40 40 40 / 0.2);
    opacity: 0;
    transition: 0.3s var(--bounce);
    max-height: 20rem;
    overflow-y: scroll;
    scale: 0;

    &::-webkit-scrollbar {
      display: none;
    }

    .button_close {
      border: none;
      cursor: pointer;
      background-color: rgb(255, 255, 255);
      padding-block: 0.5rem;
      color: rgb(100 100 100);
      width: 100%;
      font-weight: bold;
      transition: 0.3s;

      &:hover {
        background-color: rgb(100 100 100 / 0.1);
      }
    }

    &.show {
      display: flex;
      opacity: 1;
      scale: 1;

      @starting-style {
        opacity: 0;
        scale: 0;
      }
    }
    
    &.hide {
      display: none;
      opacity: 0;
      scale: 0;
      

      @starting-style {
        opacity: 1;
        scale: 1;
      }
    }

    & li:not(:last-child) {
      .member_item {
        border-bottom: 1px solid var(--border-color);
      }
    }

    .member_item {
      padding: 1rem;
      padding-inline: 1.5rem;
      display: flex;
      gap: 0.5rem;
      align-items: center;

      .avatar {
        width: 2.5rem;
        border-width: 3px;
      }

      & button {
        margin-left: auto;
        background: none;
        padding: 0.25rem 0.5rem;
        border-radius: 5rem;
        border: 2px solid var(--text-base-color);
        color: var(--text-base-color);
        cursor: pointer;
      }
    }
  }

  .add_button {
    padding: 0.5rem 0.75rem;
    background-color: var(--bg-color);
    color: var(--text-base-color);
    border: 1px solid var(--border-color);
    border-radius: 5rem;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;

    &:disabled {
      color: rgb(40 40 40 / 0.1);
    }
  }
}