.nav {
  --bg-color: #ffffff;
  --title-color: #75757a;
  --labels-color: #252b3c;

  .nav_container {
    inset: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: var(--bg-color);
    /* border: 1px solid var(--title-color); */
    padding: 1rem;
    position: absolute;
    top: 0;
    height: 60px;
    border-radius: 1rem;

    .nav_menu_container {
      anchor-name: --menu-container;

      .nav_category_container {
        /* position-anchor: --menu-container; */
        position-area: bottom center;
        anchor-scope: --menu-container;
      }

      .nav_menu_link {
        background-color: transparent;
        border: none;
        color: var(--labels);
        display: flex;
        align-items: center;
        /* gap: 0.3rem; */
        cursor: pointer;
        transition: all 1s;
        padding: 0.5rem 1rem;
        border: 1px solid red;

        .down {
          animation: rotate_down .2s linear forwards alternate;
        }

        &:hover {
          background-color: #f0f0f1;
        }

        .up {
          animation: rotate_up .3s linear forwards alternate;
        }
      }

      .nav_category_container {
        /* display: grid; */
        /* grid-template-columns: repeat(3, 1fr); */
        /* display: flex; */
        /* grid-template-columns: 1fr 1fr 1fr; */
        gap: 1rem;
        padding: 1rem;
        background: #fff;
        color: #000;
        border: none;

        .nav_category_menu {
          
        }
      }
    }
  }

  .nav_menu_title .nav_category_item {
    inset: 0;
    list-style-type: none;
  }
}

@keyframes rotate_up {
  to {
    rotate: 180deg;
  }
}

@keyframes rotate_down {
  from {
    rotate: 180deg;
  }
  to {
    rotate: 0deg;
  }
}