.tabs {
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: rgb(0 0 0);
    padding: 0.25rem;
    border-radius: 10rem;

    &:has(> li:nth-child(2) input:checked) {
      li:first-child {
        label {
          &::after {
            opacity: 1;
          }
        }
      }
      
      li:last-child {
        label {
          &::after {
            opacity: 1;
          }
        }
      }
    }


    &:has(> li:last-child input:checked) {
      li:nth-child(2) {
        label {
          .active {
            opacity: 1;
          }
        }
      }
    }

    li {
      transition: 0.2s var(--bounce);

      & > * {
        transition: 0.2s var(--bounce);
      }

      &:first-child {
        &:has(input:checked) {
          scale: 0.9;

          span {
            background-color: rgb(24 24 24);
          }

          label {
            &::before {
              opacity: 0;
            }
          }

          & + li {
            label {
              &::after {
                opacity: 1;
              }
            }
          }
        }

        label {
          span {
            border-top-left-radius: 10rem;
            border-bottom-left-radius: 10rem;
          }

          &::before {
            border-top-left-radius: 10rem;
            border-bottom-left-radius: 10rem;
          }

          &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 40%;
            height: 90%;
            background: linear-gradient(to left, rgb(255 255 255 / 0.6) 0%, transparent 100%);
            filter: blur(6px);
            border-top-left-radius: 10rem;
            border-bottom-left-radius: 10rem;
            z-index: 20;

            opacity: 0;
            transition: 0.2s var(--bounce);
          }
        }
      }
      
      &:last-child {
        &:has(input:checked) {
          scale: 0.9;

          label {
            span {
              background-color: rgb(24 24 24);
            }
            &::before {
              opacity: 0;
            }
          }
        }

        

        label {
          span {
            border-top-right-radius: 10rem;
            border-bottom-right-radius: 10rem;
          }

          &::before {
            border-top-right-radius: 10rem;
            border-bottom-right-radius: 10rem;
          }

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 40%;
            height: 90%;
            background: linear-gradient(to right, rgb(255 255 255 / 0.6) 0%, transparent 100%);
            filter: blur(6px);
            border-top-right-radius: 10rem;
            border-bottom-right-radius: 10rem;
            z-index: 20;

            opacity: 0;
            transition: 0.2s var(--bounce);
          }
        }
      }

      &:nth-of-type(2) {

        
        &:has(input:checked) {
          label {
            scale: 0.9;
          }

          label {
            span {
              background-color: rgb(24 24 24);
            }
            &::before {
              opacity: 0;
            }
          }
        }

        label {
          .active {
            background-color: red;
            position: absolute;
            right: 0;
            top: 0.15rem;
            height: 90%;
            background: linear-gradient(to left, rgb(255 255 255 / 0.6) 0%, transparent 100%);
            filter: blur(6px);
            border-top-left-radius: 10rem;
            border-bottom-left-radius: 10rem;

            opacity: 0;
            transition: 0.2s var(--bounce);
          }
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 40%;
            height: 90%;
            background: linear-gradient(to right, rgb(255 255 255 / 0.6) 0%, transparent 100%);
            filter: blur(6px);
            border-top-right-radius: 10rem;
            border-bottom-right-radius: 10rem;
            z-index: 20;

            opacity: 0;
            transition: 0.2s var(--bounce);
          }
        }
      }
      
      label {
        /* padding: 1rem; */
        cursor: pointer;
        display: flex;
        
        border-radius: 0.25rem;
        position: relative;
        z-index: 10;
        transition: 0.2s var(--bounce);

        span {
          background-color: rgb(27 27 27);
          z-index: 3;
          /* width: 100%; */
          padding: 1rem;
          border-radius: 0.25rem;
        }

        &::before {
          content: "";
          position: absolute;
          top: -2.5%;
          left: -2.5%;
          width: 105%;
          height: 105%;
          background: linear-gradient(to top, transparent, rgb(55 55 55) 40%);
          border-radius: 0.25rem;
          z-index: 1;
        }

        input {
          display: none;
        }
      }
    }
  }
}