.ticket_container {
  --light-color: #ffffff;
  --regular-color: #f6f6f6;
  --brand-color: #06a3fe;
  --text-dark-color: #30373d;
  --text-regular-color: #7c8388;
  --text-light-color: #959ba1;
  --border-color: #f9c313;
  --danger-color: #fb4a3e;
  --radius: 0.75rem;
  --padding: 1rem;
  --gap-section-block: 1rem;
  --gap-items-block: 0.5rem;
  --btn-border-radius: 0.5rem;

  width: min(35rem);
  border-radius: var(--radius);
  background-color: var(--light-color);

  .btn {
    border-radius: var(--btn-border-radius);
    padding: 0.5rem 1rem;
    border: none;
    outline: 1px solid var(--text-regular-color);
    cursor: pointer;
  }

  .inner_gap {
    padding: var(--padding);
  }

  .ticket_avatar {
    display: block;
    background: url(./assets/profile.jpeg) no-repeat;
    width: 25px;
    height: 25px;
    border-radius: 10rem;
    background-position: -108px -10px;
  }

  .ticket_contributor_container {
    padding: var(--padding);

    .ticket_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      font-size: 0.9rem;

      .ticket_grid_cell {
        display: flex;
        flex-direction: column;

        .ticket_label {
          color: var(--text-light-color);
          margin-bottom: 0.5rem;
        }

        .ticket_value {
          display: flex;
          display: flex;
          align-items: center;
          gap: 0.5rem;

          .ticket_avatar {
            &.ticket_avatar_assigned {
              &.one {
                background-position: -208px -10px;
              }
              &.two {
                background-position: -208px -210px;
              }
              &.three {
                background-position: -108px -110px;
              }
              &:not(:first-child) {
                margin-left: -10px;
              }
            }
          }
        }
      }
    }
  }

  .ticket_details {
    position: relative;

    .separator {
      border-bottom: 1px solid var(--regular-color);
    }

    .ticket_details_tabs {
      display: flex;
      gap: 1.25rem;
      font-size: 0.9rem;
      color: var(--text-light-color);

      .tab_link {
        padding: 0.75rem;
        padding-left: 0;
        padding-right: 0.25rem;
        margin-left: 1rem;
      }

      .ticket_active {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        gap: 0.5rem;
        color: var(--text-dark-color);
        border-bottom: 2px solid var(--border-color);

        .tab_notification_counter {
          padding: 0.05rem 0.30rem;
          font-size: 0.8rem;
          font-weight: bold;
          border-radius: 100%;
          color: var(--light-color);
          background-color: var(--danger-color);
        }
      }
    }
  }

  .ticket_comments {
    display: flex;
    gap: 1rem;
    padding: var(--padding);

    .ticket_comment_details {
      display: flex;
      flex-direction: column;
      row-gap: 0.75rem;
      width: 100%;

      .ticket_commenter {
        font-weight: bold;
      }

      .ticket_comment_text_info {
        font-size: 0.8rem;
        color: var(--text-light-color);
        display: flex;
        gap: 0.5rem;

        .separator {
          font-weight: bold;
          display: block;
          font-size: 2rem;
          padding: 0;
          margin: 0;
          width: 6px;
          height: 8px;
          border-radius: 100%;
          background-color: var(--text-light-color);
          margin-top: 0.30rem;
        }
      }

      .ticket_comments_text {
        border-radius: var(--radius);
        padding: var(--padding);
        background-color: var(--regular-color);
        font-size: 0.9rem;
      }

      .btn {
        width: 6rem;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        font-weight: bold;
        color: var(--text-dark-color);
        background: transparent;
        display: flex;
        border-radius: var(--btn-border-radius);
        padding: 0.5rem 1rem;
        border: none;
        outline: 1px solid var(--text-light-color);
        cursor: pointer;
      }
    }
  }
}
