.container {
  --btn-more-color: rgb(243 243 243);

  & > table {
    box-shadow: 0 10px 1rem 0rem rgb(0 0 0 / 0.2);
    border-radius: 1rem;

    & > thead {
      display: block;
      width: 100%;
      border-bottom: 1.5px solid rgb(214, 213, 213);
      padding: 0.5rem 1rem;

      & > tr {
        & > th {
          text-align: left;
          min-width: 8rem;
        }
      }
    }

    & > tbody {
      display: block;

      & > tr {
        display: block;
        padding-block: 0.5rem;
        
        &:not(:last-child) {
          border-bottom: 1px solid rgb(242 242 242);
        }

        & > td {
          padding-inline: 1rem;
          text-align: left;
          min-width: 8rem;

          &:last-child {
            text-align: right;
          }

          & > button {
            cursor: pointer;
            padding: 0.5rem;
            border: none;
            border-radius: 0.25rem;
            transition: 0.5s;
            background: transparent;
            
            &:hover {
              background-color: var(--btn-more-color);
            }
          }
        }
      }
    }
  }

  .action_list {
    list-style: none;
    text-align: left;
    background-color: rgb(44 44 44);
    outline: 1px solid rgb(69 69 69);
    outline-offset: -4px;
    border-radius: 0.75rem;
    padding: 4px;
    position-area: bottom left;
    margin-right: -2.2rem;
    height: 10px;
    transition: 0.3s;

    &:popover-open {
      height: fit-content;

      @starting-style {
        height: 10px;
      }
    }

    & > li {
      opacity: 0;
      animation: opacity 0.6s ease-in-out forwards;

      &:last-child {
        border-top: 1px solid rgb(65 65 65);
        
        & > button {
          border-bottom-left-radius: 0.5rem;
          border-bottom-right-radius: 0.5rem;
        }
      }

      &:nth-child(1) {
        & > button {
          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;
        }
      }

      & > button {
        transition: 0.5s;
        cursor: pointer;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        padding: 0.5rem 1rem;
        border: none;
        background-color: rgb(44 44 44 / 1);
        width: 100%;

        &:hover {
          background-color: rgb(62, 62, 62);
          box-shadow: 0px 0px 10px 0 rgb(255 255 255 / 0.2) inset;
        }
      }
    }
  }
}

@keyframes opacity {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
  }
}