.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0rem;
  position: relative;

  .product_photo {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    border-radius: 0rem;
    object-fit: cover;
    outline: 4px solid rgb(255 255 255);
    transition: 0.3s;
  }

  .product_image {
    position: relative;
  }

  .product_caption {
    padding-block: 1rem;
    display: flex;
    gap: 0.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem 0.5rem;
  }

  .buy_button {
    background-color: rgb(142 134 133);
    display: flex;
    align-items: center;
    padding: 0.15rem;
    gap: 0.5rem;
    padding-inline-start: 0.75rem;
    transition: 0.3s var(--bounce);

    &:hover {
      .button_icon {
        rotate: 320deg;
      }
    }

    .button_icon {
      background-color: rgb(255 255 255);
      border-radius: 10rem;
      width: 2rem;
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      transition: 0.8s var(--bounce);
    }
  }

  .product_price, .buy_button {
    color: rgb(255 255 255);
    border-radius: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .product_price {
    margin-left: auto;
    background-color: rgb(40 40 40);
    padding: 0.5rem 1rem;
    gap: 0.25rem;
  }

  .product_name {
    font-size: 1.1rem;
  }

  .button_cart {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.50rem;
    border-radius: 10rem;
    border: none;
    cursor: pointer;
    background-color: rgb(255 255 255 / 0.7);
    color: rgb(40 40 40);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 2px solid rgb(40 40 40 / 0.6);
    outline-offset: -2px;

    &:hover {
      &::before, &::after {
        opacity: 1;
        filter: blur(0);
        translate: 0rem 0rem;
      }
    }

    &::before {
      content: "Add to cart";
      position: absolute;
      top: calc(100% + 4.75rem * -1);
      left: calc(100% + 5.25rem * -1);
      z-index: 1;
      background-color: rgb(40 40 40);
      color: rgb(230 230 230);
      width: calc(100% + 5rem);
      padding: 0.5rem;
      border-radius: 0.5rem;
      box-shadow: 0 0.5rem 0.5rem 0 rgb(40 40 40 / .3);
      opacity: 0;
      filter: blur(2px);
      transition: 0.2s var(--bounce);
      translate: 0rem 1rem;
    }

    &::after {
      content: "";
      width: 0.5rem;
      aspect-ratio: 1;
      bottom: 2.5rem;
      left: calc(100% / 2 - 0.25rem);
      z-index: 10;
      rotate: 45deg;
      background-color: rgb(40 40 40);
      position: absolute;
      opacity: 0;
      filter: blur(2px);
      transition: 0.2s var(--bounce);
      translate: 0 1rem;
    }
  }

  .info {
    display: flex;
  }

  .product_reviews {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-left: auto;
  }
}
