.card_container {
  position: relative;     
  display: grid;
  width: 330px;
  border: 1px solid #cccccc;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  border-radius: .5rem;
  background-color: #faf9f9;
  gap: 1rem;
}

.card_title {
  text-align: center;
  font-size: 1.5rem;
}

.card_media_container {
  --top: -5px;
  --left: -5px;
  --width: 102.5%;
  --height: 101.2%;
  --bg-color: #f2f0f0;
  --border-color: #cccaca;
  --bounce: cubic-bezier(.47, 1.64, .41, .8);

  position: relative;
  z-index: 2;
  cursor: pointer;
  translate: 0 0;
  transition: all 1s;
  animation: move_media_down .1s linear forwards;
  
  &::before {
    content: "";
    position: absolute;
    top: var(--top);
    left: var(--left);
    width: var(--width);
    height: var(--height);
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    top: var(--top);
    left: var(--left);
    width: var(--width);
    height: var(--height);
    z-index: -2;
  }

  &:hover {
    animation: move_media_up .5s var(--bounce) forwards alternate;

    &::before {
      background-color: var(--bg-color);
      border-radius: .5rem;
      border: 1px solid var(--border-color);
      animation: rotate_low_deg .7s var(--bounce) forwards alternate;
    }

    &::after {
      background-color: var(--bg-color);
      border-radius: .5rem;
      border: 1px solid var(--border-color);
      animation: rotate_high_deg .9s var(--bounce) forwards alternate;
    }
  }
}

.card_media {
  border-radius: .5rem;
}

@keyframes move_media_up {
  from {
    translate: 0 0;
  }
  to {
    translate: 0 -80px;
    scale: 1.08;
  }
}

@keyframes move_media_down {
  from {
    translate: 0 -80px;
    scale: 1.08;
  }
  to {
    translate: 0 0;
    scale: 1;
  }
}

@keyframes rotate_low_deg {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 5deg;
  }
}

@keyframes rotate_high_deg {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 10deg;
  }
}

.card_contents {
  position: absolute;
  bottom: 3.8rem;
  z-index: 1;
}

.card_action {
  background: #869afc;
  border: none;
  padding: .25rem .5rem;
}
