.checkout_summary {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid rgb(216, 216, 216);
    padding: 1rem;
    border-radius: 1rem;
    align-self: flex-start;
    margin-bottom: 4rem;

    > div:first-child {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .box {
    display: flex;
    gap: 0.5rem;

    .value {
      margin-left: auto;
    }
  }

  .total {
    border-top: 1px solid rgb(216, 216, 216);
    padding-block-start: 1rem;
    font-weight: bold;
    margin-top: auto;
  }