.button {
  --brand-color-primary: #ffffff;
  --brand-color-secondary: #000000;
  --rounded: 10rem;
  --min-timer: .3s;
  --max-timer: .5s;
  --starting-point: -60px;
  --final-point: 50px;
  --entry: ease-in-out forwards;

  overflow: hidden;
  font-size: 1.5rem;
  width: min(250px);
  border: 0px solid var(--brand-color-secondary);
  border-radius: 10rem;
  padding: 2.85rem;
  background-color: var(--brand-color-secondary);
  position: relative;
  box-shadow: 0 0 10px 10px #6f6e6e inset, 0 1rem 1rem 0px #c3c2c2;
  cursor: pointer;

  .button_avatar {
    position: absolute;
    width: fit-content;
    padding: 1rem .5rem;
    font-size: 1rem;
    color: var(--brand-color-secondary);
    border-radius: 10rem;
    background-color: var(--brand-color-primary);
    top: 1.3rem;
    filter: blur(.5rem);
    opacity: 0;

    &.button_host_avatar {
      left: var(--starting-point);
      rotate: -90deg;
      background: url(./assets/avatar.png) no-repeat;
      background-size: contain;
      aspect-ratio: 1;
      width: 50px;
      animation: host_exit var(--min-timer) var(--entry);
    }

    &.button_client_avatar {
      padding: 1rem .75rem;
      right: var(--starting-point);
      rotate: 90deg;
      animation: client_exit var(--min-timer) var(--entry);
    }
  }

  .button_symbol {
    position: absolute;
    bottom: 10px;
    opacity: 0;
    right: 0;
    left: 0;
    width: 1rem;
    margin: auto;
    animation: symbol_exit var(--min-timer) var(--entry);
  }

  .button_label {
    display: block;
    position: absolute;
    top: 35px;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    animation: label_entry var(--max-timer) ease-in-out forwards;
  }

  &:hover .button_label {
    animation: label_exit var(--min-timer) ease-in-out forwards;
  }

  &:hover .button_host_avatar {
    animation: host_entry var(--max-timer) var(--entry);
  }

  &:hover .button_client_avatar {
    animation: client_entry var(--max-timer) var(--entry);
  }

  &:hover .button_symbol {
    animation: symbol_entry var(--max-timer) var(--entry);
  }
}

@keyframes label_exit {
  50% {
    opacity: 0;
  }
  100% {
    top: -50px;
    opacity: 0;
  }
}

@keyframes label_entry {
  0% {
    opacity: 0;
    top: -30px;
  }
  60% {
    opacity: 1;
    top: 40px;
  }
  100% {
    top: 35px;
    opacity: 1;
  }
}

@keyframes host_entry {
  0% {
    left: var(--starting-point);
  }
  60% {
    left: 60px;
    rotate: 20deg;
    filter: blur(0rem);
    opacity: 1;
  }
  100% {
    filter: blur(0);
    opacity: 1;
    left: var(--final-point);
    rotate: 0deg;
  }
}

@keyframes host_exit {
  0% {
    left: var(--final-point);
    rotate: 0deg;
    filter: blur(0);
    opacity: 1;
  }
  100% {
    left: var(--starting-point);
    rotate: -90deg;
    filter: blur(.5rem);
    opacity: 0;
  }
}

@keyframes client_entry {
  0% {
    right: var(--starting-point);
  }
  60% {
    right: 60px;
    rotate: -10deg;
    filter: blur(0);
    opacity: 1;
  }
  100% {
    right: var(--final-point);
    rotate: 0deg;
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes client_exit {
  0% {
    right: var(--final-point);
    rotate: 0deg;
    filter: blur(0);
    opacity: 1;
  }
  100% {
    right: var(--starting-point);
    rotate: 90deg;
    filter: blur(0.5rem);
    opacity: 0;
  }
}

@keyframes symbol_entry {
  0% {
    bottom: 10px;
  }
  60% {
    bottom: 40px;
    opacity: 1;
  }
  100% {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes symbol_exit {
  0% {
    bottom: 30px;
    opacity: 1;
  }
  100% {
    opacity: 0;
    bottom: 10px;
  }
}