.header {
  padding-inline: 1rem;
  margin-block-end: 1rem;
  
  & h3 {
    display: flex;
    gap: 1rem;
    align-items: center;

    & select {
      border: none;
      border-radius: 0.25rem;
      padding: 0.25rem 0.5rem;
      background-color: rgb(255, 255, 255);
      color: rgb(40 40 40);
      font-weight: bold;
      outline: none;
      cursor: pointer;
    }
  }
}
