.container {
  width: 80vw;
  margin: auto;

  .page_title {
    margin-bottom: 1rem;
  }
  
  .grid_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }





  .checkout_form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid rgb(158, 158, 158, 0.2);
    border-radius: 1rem;
    background-color: rgb(255 255 255);

    > section:first-child {
      border-bottom: 1px solid rgb(40 40 40 / 0.1);
      padding-block-end: 2rem;
    }

    .payment_tabs {
      display: flex;

      input {
        display: none;
      }

      .tab_label {
        width: 100%;
        display: flex;
        gap: 0.25rem;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 0.5rem;
        cursor: pointer;
        transition: 0.2s;
        background-color: rgb(40 40 40 / 0.05);
        user-select: none;

        &:first-child {
          border-top-left-radius: 0.5rem;
          border-bottom-left-radius: 0.5rem;
        }
        
        &:last-child {
          border-top-right-radius: 0.5rem;
          border-bottom-right-radius: 0.5rem;
        }

        &:has(> input:checked), &:has(> input:checked + .tab_text) {
          background-color: rgb(40 40 40 / 0.1);
        }

        &:hover {
          background-color: rgb(40 40 40 / 0.1);
        }
      }
    }

    .payment_container {
      div.paypal {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-block-start: 1rem;

        a {
          display: flex;
          align-items: center;
          font-size: 1.1rem;
          gap: 0.5rem;
        }
      }

      :is(div.credit, div.debit, div.paypal) {
        display: none;
        transition: 0.3s;
        opacity: 0;
        margin-top: 0.5rem;
        padding-inline: 0.25rem;
      }
      
      &:has(.credit:checked) {
        div.credit {
          opacity: 1;
          display: flex;  
          filter: blur(0);
          translate: 0 0;
          
          @starting-style {
            opacity: 0;
            filter: blur(5px);
            translate: 0 -1rem;
          }
        }
      }
      
      &:has(.debit:checked) {
        div.debit {
          opacity: 1;
          display: flex;  
          filter: blur(0);
          translate: 0 0;
          
          @starting-style {
            opacity: 0;
            filter: blur(5px);
            translate: 0 -1rem;
          }
        }
      }
      
      &:has(.paypal:checked) {
        div.paypal {
          opacity: 1;
          display: flex;  
          filter: blur(0);
          translate: 0 0;
          
          @starting-style {
            opacity: 0;
            filter: blur(5px);
            translate: 0 -1rem;
          }
        }
      }
    }

    .title_payment {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-block-end: 1rem;
    }

    > section:first-child {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      > div {
        display: flex;
        gap: 0.5rem;
      }

      > p {
        color: rgb(40 40 40 / 0.6);
      }
    }

    .fieldset {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      > div {
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        gap: 1rem;

        &:nth-child(1) {
          margin-block-end: 1rem;
          background-color: red;
        }
      }

      .form_field {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        flex-basis: 100%;
        position: relative;



        > div {
          display: flex;
          gap: 0.5rem;
          align-items: center;
        }

        .field_label {
          color: rgb(40 40 40 / 0.8);
          position: absolute;
          bottom: 0.60rem;
          left: 0.55rem;
          transition: 0.3s;
          background-color: rgb(255 255 255);
          padding-inline: 0.5rem;

          &.date {
            opacity: 0;
          }
        }

        &:has(> input:focus) {
          .field_label {
            bottom: 1.75rem;
          }
        }

        input, .country {
          background: transparent;
          border: 1px solid rgb(40 40 40 / 0.3);
          padding: 0.5rem 1rem;
          border-radius: 0.5rem;
          color: rgb(40 40 40);
          outline: none;
        }
      }
    }

    .checkout_button {
      background-color: rgb(55 0 254);
      border: none;
      border-radius: 0.25rem;
      padding: 0.5rem;
      margin-top: 1rem;
      cursor: pointer;
      transition: 0.3s, scale 0.1s;

      &:hover {
        background-color: rgb(55 0 254 / 0.8);
      }

      &:active {
        scale: 0.99;
      }
    }
  }



}