.payment_container {
  --bg-color: rgb(255 255 255);
  --text-primary-color: rgb(50 51 53);
  --text-secondary-color: rgb(145 146 148);
  --text-tertiary-color: rgb(89 90 92);
  --text-supporting-color: rgb(5 158 112);
  --text-status-color: rgb(190 73 19);
  --status-bg-color: rgb(252 251 229);
  --text-hourly-color: rgb(83 77 219);
  --hourly-bg-color: rgb(238 240 255);
  --radius: 1rem;
  --text-title-size: 1.2rem;
  --text-total-size: 1.1rem;
  --text-container-size: 1rem;
  --text-secondary-size: 0.8rem;
  --text-tertiary-size: 0.9rem;
  --inner-space: 1.5rem;
  --gutter-block: 1rem;
  --border-color: rgb(225, 224, 224);

  background-color: var(--bg-color);
  border-radius: var(--radius);
  padding: var(--inner-space);
  width: min(30rem);

  .flex {
    display: flex;
  }

  .flex_column {
    flex-direction: column;
  }

  .flex_row {
    flex-direction: row;
  }

  .payment_primary_text {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .payment_secondary_text {
    color: var(--text-secondary-color);
    font-size: var(--text-secondary-size);
  }

  .payment_tertiary_text {
    color: var(--text-tertiary-color);
    font-size: var(--text-tertiary-size);
  }

  .payment_header {
    align-items: center;
    margin-bottom: calc(var(--gutter-block) * 1.5);

    .payment_title {
      font-size: var(--text-title-size);
      font-weight: normal;
    }

    .payment_btn_close {
      flex-basis: 60%;
      text-align: right;
      margin-left: auto;
    }
  }

  .payment_contents {
    .payment_company {
      .payment_company_name {
        display: flex;
        flex-direction: column;
      }

      .payment_company_job {
        flex-basis: 1fr;
        margin-left: auto;
      }
    }

    .payment_status_container {
      gap: var(--gutter-block);
      margin-top: var(--gutter-block);
      
      .payment_status_meta {
        font-size: var(--text-secondary-size);
        border-radius: 1rem;
        padding: .5rem;

        &.payment_status {
          background-color: var(--status-bg-color);
          color: var(--text-status-color);
  
          .status_icon {
            width: 5px;
            height: 5px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
            border-radius: 100%;
            background-color: var(--text-status-color);
          }
        }
  
        &.status_hourly {
          background-color: var(--hourly-bg-color);
          color: var(--text-hourly-color);
        }
      }
    }
  }

  .tasks_list {
    padding: 0;
    margin: 0;
    list-style: none;
    padding: 1rem;
    margin-top: var(--gutter-block);
    border-radius: 1rem;
    border: 1px solid var(--border-color);

    & > * {
      padding-block: 1rem;

      & > .task_hours {
        flex-basis: 65%;
        text-align: right;
        align-self: flex-end;
      }

      .task_name {
        margin-bottom: .5rem;
      }

      &:last-child {
        color: var(--text-supporting-color);
        font-weight: bold;
        padding-bottom: 0;
        align-items: flex-end;
        justify-content: flex-end;

        .task_total_label {
          margin-right: 0.5rem;
        }
      }
    }

    .tasks_list_item_total {
      font-size: var(--text-tertiary-size);
    }

    & > *:not(.tasks_list_item_total) {
      border-bottom: 1px solid var(--border-color);
    }
  }

  .payment_total_details {
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);

    .payment_total_hours_amount {
      flex-basis: 70%;
      text-align: right;
      margin-left: auto;
    }

    .payment_total_hours_amount {
      font-size: 0.9rem;
      color: var(--text-primary-color);
    }
  }

  .payment_deduction {
    padding: 1rem;

    .payment_deducted_amount {
      flex-basis: 60%;
      text-align: right;
      margin-left: auto;
      font-size: 0.9rem;
      color: var(--text-primary-color);
    }
  }

  .payment_grand_total_container {
    text-align: right;
    color: var(--text-supporting-color);

    .payment_footer_text {
      font-size: var(--text-secondary-size);
    }

    .payment_footer_grand_total {
      margin-top: 0.25rem;
      font-weight: bold;
      font-size: var(--text-total-size);
    }

    & > * {
      display: block;
    }

    & > .payment_footer_actions {
      margin-top: 1rem;
      display: flex;
      gap: .5rem;
      justify-content: flex-end;
    }

    .btn {
      border-radius: 0.25rem;
      padding: 0.25rem 0.5rem;
      background: transparent;
      border: none;
      color: var(--text-primary-color);
      font-weight: bold;
      background-color: var(--border-color);
      cursor: pointer;
      transition: .5s;

      &:hover {
        opacity: 0.7;
      }

      &.payment_btn_more {
        padding-bottom: 0;
      }
    }
  }
}