.button_one {
  cursor: pointer;
  border: none;
  position: relative;

  --position-y: 0;
  --bounce: cubic-bezier(.47, 1.64, .41, .8);
  --speed: 0.8s;
  overflow: hidden;

  & > * {
    transition: 1s;
    display: inline-block;
  }

  &:hover {
    & > span:nth-child(odd) {
      --position-y: -2.5rem;
      animation: slide_text_in var(--speed) var(--bounce) forwards;
    }

    & > span:nth-child(even) {
      --position-y: 2.5rem;
      animation: slide_text_in var(--speed) var(--bounce) forwards;
    }
  }
}

@keyframes slide_text_in {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 var(--position-y);
    filter: blur(5px);
  }
  100% {
    transform: 0 0;
  }
}
