.container {
  --button-color: rgb(255 133 10);
  
  --text-color-100: rgb(110 110 112);
  --text-color-200: rgb(168 168 170);

  --process-color: rgb(227, 227, 227);

  background-color: rgb(250 250 250);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 10px 10px 0 rgb(40 40 40 / 0.1);
  min-width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-x: hidden;

  & * {
    transition: 0.4s;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    &.icon_shadow {
      box-shadow: 0 3px 10px 0 rgb(40 40 40 / 0.2) inset;
    }

    &.icon_radius {
      border-radius: 0.25rem;
    }
  }

  .views_headers {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
    & > * {
      display: grid;
      grid-template-columns: 0.10fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0.15rem;
      column-gap: 0.75rem;
      transition: 2s;
    }

    .icon {
      grid-row: span 2;
      background-color: rgb(235 236 240);
    }

    .header_title {
      font-weight: bold;
      color: var(--text-color-100);
    }

    .header_info, .header_price {
      color: var(--text-color-200);
      font-size: 0.7rem;
    }





    & > .header_review_view {
      opacity: 0;
      display: none;

      &.reveal {
        opacity: 1;
        display: grid;

        @starting-style {
          opacity: 0;
        }
      }
    }

    & > .header_processing_view {
      opacity: 0;
      display: none;

      & > .icon > svg {
        transition: 10s;
      }
      
      &.reveal {
        opacity: 1;
        display: grid;

        & > .icon > svg {
          rotate: 3060deg;

          @starting-style {
            rotate: 0deg;
          }
        }

        @starting-style {
          opacity: 0;
        }
      }
    }

    & > .header_confirmation_view {
      opacity: 0;
      display: none;

      .header_title {
        color: rgb(80 156 138);
      }
      
      &.reveal {
        opacity: 1;
        display: grid;

        & > .icon {
          background-color: rgb(20 190 135);
        }

        @starting-style {
          opacity: 0;
        }
      }
    }
  }






  .status_steps {
    display: flex;

    & > * {
      flex: 1 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;
      position: relative;

      .step_text {
        background-color: rgb(238 238 240);
        padding: 0.30rem 0.5rem;
        border-radius: 10rem;
        color: var(--text-color-100);
        font-weight: bold;
        font-size: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-delay: 0.4s;
      }

      .step_label {
        font-size: 0.7rem;
        color: var(--text-color-100);
      }
    }

    .step_one {
      align-items: flex-start;

      .step_text {
        color: rgb(240 240 240);
        background-color: rgb(99 98 105);
      }
    }
    
    .step_three {
      align-items: flex-end;
    }

    .step_two, .step_three {
      &::before, &::after {
        content: "";
        position: absolute;
        top: 0.60rem;
        width: 9rem;
        height: 2px;
        transition: 0.4s;
      }

      &::before {
        background-color: var(--process-color);
      }
      
      &::after {
        width: 0;
        background-color: rgb(40 40 40);
      }
    }

    .step_two {
      &::before {
        left: -6.05rem;
      }

      &.current {
        .step_text {
          color: rgb(240 240 240);
          background-color: rgb(99 98 105);
        }

        &::after {
          width: 9rem;
          top: 0.60rem;
          left: -6.05rem;
        }
      }
    }
    
    .step_three {
      &::before {
        left: -2.90rem;
      }

      &.current {
        .step_text {
          color: rgb(240 240 240);
          background-color: rgb(99 98 105);
        }
        
        &::after {
          width: 9rem;
          top: 0.60rem;
          left: -2.90rem;
        }
      }
    }
  }









  .item {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.25rem;
    column-gap: 0.5rem;
      grid-column: span 3;

    .icon {
      padding-inline: 0.25rem;
      grid-row: span 2;
      background-color: rgb(228 244 255);
      display: flex;
      place-content: center;
      place-items: center;
      border-radius: 0.25rem;
      box-shadow: 0 3px 10px 0 rgb(40 40 40 / 0.2) inset;
    }

    .order_name {
      color: var(--text-color-100);
      font-weight: bold;
      font-size: 0.8rem;
    }
    
    .order_number {
      color: var(--text-color-200);
      font-size: 0.7rem;
      margin-left: auto;
    }

    .order_price {
      color: var(--text-color-100);
      font-size: 0.7rem;
      font-weight: bold;
    }
  }






  .payment_details {
    opacity: 0;
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    &.reveal {
      display: grid;
      opacity: 1;
    }

    .items {
      grid-column: span 2;
    }

    .card {
      padding: 0.75rem;
      border-radius: 0.5rem;
      border: 1px solid var(--process-color);
      background: none;
      color: var(--text-color-100);
    }

    .card_details {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.5fr 1fr;
      font-size: 0.8rem;
      align-items: center;

      .card_name {
        grid-column: span 2;
        font-weight: bold;
        color: var(--text-color-100);
      }

      .icon {
        margin-left: auto;
      }
    }

    .button_card {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 0.25rem;
      cursor: pointer;
    }
  }

  .processing_view {
    background-color: rgb(255 255 255);
    padding: 0.75rem;
    border-radius: 0.5rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    opacity: 0;
    display: none;

    &.reveal {
      display: grid;
      opacity: 1;

      .icon > svg {
        rotate: 4000deg;
        transition: 10s;

        @starting-style {
          rotate: 0deg;
        }
      }

      .progress_bar {
        display: grid;
        opacity: 1;

        &::before {
          width: var(--w);
        }

        @starting-style {
          opacity: 0;

          &::before {
            width: 0%;
          }
        }
      }
    }

    & > section {
      display: grid;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      background-color: rgb(255 255 255);
      color: var(--text-color-100);
      font-weight: bold;

      & svg {
        stroke: rgb(230 230 230);
      }

      &:nth-of-type(1) {
        transition: 0.5s;
        transition-delay: calc(5000ms / 3);
        background-color: rgb(231 251 243);
        color: rgb(61 148 120);

        & svg {
          transition: 0.5s;
          transition-delay: calc(5000ms / 3);
          stroke: rgb(61 148 120);
        }

        @starting-style {
          background-color: rgb(255 255 255);
          color: var(--text-color-100);

          & svg {
            stroke: rgb(230 230 230);
          }
        }
      }
      
      &:nth-of-type(2) {
        transition: 0.5s;
        transition-delay: calc(5000ms / 2);
        background-color: rgb(231 251 243);
        color: rgb(61 148 120);

        & svg {
          transition: 0.5s;
          transition-delay: calc(5000ms / 2);
          stroke: rgb(61 148 120);
        }

        @starting-style {
          background-color: rgb(255 255 255);
          color: var(--text-color-100);

          & svg {
            stroke: rgb(230 230 230);
          }
        }
      }
      
      &:nth-of-type(3) {
        transition: 0.5s;
        transition-delay: 4000ms;
        background-color: rgb(231 251 243);
        color: rgb(61 148 120);

        & svg {
          transition: 0.5s;
          transition-delay: 4000ms;
          stroke: rgb(61 148 120);
        }

        @starting-style {
          background-color: rgb(255 255 255);
          color: var(--text-color-100);

          & svg {
            stroke: rgb(230 230 230);
          }
        }
      }
    }

    .item {
      display: grid;
      grid-template-columns: 0.1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0.25rem;
      column-gap: 0.5rem;
      grid-column: span 3;

      .icon {
        grid-row: span 2;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.25rem;
        background-color: rgb(228 244 255);
        box-shadow: 0 3px 10px 0 rgb(40 40 40 / 0.2) inset;

        & > svg {
          transition: 10s;
        }
      }

      .ordering_status {
        font-size: 0.9rem;
        font-weight: bold;
        color: var(--text-color-100);
      }

      .ordering_info {
        color: var(--text-color-200);
        font-size: 0.7rem;
      }
    }

    .progress_bar {
      position: relative;
      background-color: rgb(230 230 230);
      height: 2px;
      grid-column: span 3;
      align-self: center;
      border-radius: 10rem;
      display: none;
      opacity: 0;

      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        z-index: 1;
        background-color: rgb(40 40 40);
        width: 0%;
        height: 100%;
        transition: var(--d);
        border-radius: 10rem;
      }
    }

    .bank_connection,
    .security,
    .network  {
      border-radius: 0.25rem;
      border: 1px solid rgb(230 230 230);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .confirmation_view {
    display: none;
    opacity: 0;
    background-color: rgb(255 255 255);
    padding: 0.75rem;
    border-radius: 0.5rem;
    gap: 1rem;

    &.reveal {
      opacity: 1;
      display: grid;
    }

    .total {
      display: flex;
      gap: 1rem;
      font-weight: bold;
      color: var(--text-color-100);
      border: 1px solid rgb(230 230 230);
      padding: 0.75rem;
      border-radius: 0.5rem;
      grid-column: span 3;
      font-size: 0.8rem;
      align-items: center;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .amount {
        margin-left: auto;
      }
    }

    .controls {
      display: flex;
      gap: 1rem;
      grid-column: span 3;

      & > * {
        flex-basis: 100%;
      }

      .button_download {
        background-color: rgb(255 255 255);
        color: var(--text-color-100);
        border: 1px solid rgb(220 220 220);
      }
    }
  }

  .button_pay, .button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.75rem;
    gap: 0.25rem;
    border-radius: 10rem;
    background-color: var(--button-color);
    border: none;
    cursor: pointer;
    grid-column: span 2;
    margin-top: 1rem;
    font-weight: bold;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
}