.listing {
  --base-text-color: rgb(130 130 132);

  display: flex;
  gap: 1.5rem;
  position: relative;

  .filter {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 10rem;

    & label {
      color: var(--base-text-color);
      user-select: none;
    }

    .category {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      & label {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        color: var(--base-text-color);
        cursor: pointer;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 10%;
          height: 100%;
          background-color: rgb(240 240 240);
          border-radius: 0.25rem;
        }

        &::after {
          content: "";
          position: absolute;
          top: 4px;
          left: 3px;
          width: 5%;
          height: 20%;
          border-left: 2px solid rgb(240 240 240);
          border-bottom: 2px solid rgb(240 240 240);
          rotate: -45deg;
          opacity: 0;
          transition: 0.3s;
        }

        &:has(input:checked) {
          &::before {
            background-color: rgb(46 108 168);
          }

          &::after {
            opacity: 1;
          }
        }
      }

      & input {
        accent-color: rgb(46 108 168);
      }
    }

    .section {
      > div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }

    .filter_title {
      font-weight: bold;
    }

    .price_range {
      display: flex;
      gap: 0.5rem;
      flex-direction: column;

      & div {
        display: flex;
        align-items: center;
        gap: 0.25rem;

        & input {
          width: 50%;
          background-color: rgb(240 240 240);
          border: 1px solid rgb(233, 233, 233);
          border-radius: 0.25rem;
          padding: 0.25rem 0.5rem;
          color: rgb(40 40 40);
          outline: none;
        }

        & span {
          padding: 0.5rem;
          font-size: 1rem;
        }
      }
    }





    .delivery_type {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      & label {
        cursor: pointer;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 2.5rem;
          height: 1.25rem;
          background-color: rgb(227 227 228);
          border-radius: 10rem;
          transition: 0.3s;
          transition-delay: 0.1s;
        }

        &::after {
          content: "";
          position: absolute;
          top: 2px;
          left: 2px;
          width: 1rem;
          height: 1rem;
          background-color: rgb(254 254 255);
          border-radius: 10rem;
          transition: 0.3s;
        }

        &:has(input:checked) {
          &::after {
            left: 1.38rem;
          }

          &::before {
            background-color: blue;
          }
        }

        & input {
          opacity: 0;
        }
      }
    }






    .colors {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      & ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        & label {
          display: flex;
          gap: 0.5rem;
          align-items: center;
          cursor: pointer;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 10%;
            height: 100%;
            background-color: rgb(240 240 240);
            border-radius: 0.25rem;
          }

          &::after {
            content: "";
            position: absolute;
            top: 4px;
            left: 3px;
            width: 5%;
            height: 20%;
            border-left: 2px solid rgb(240 240 240);
            border-bottom: 2px solid rgb(240 240 240);
            rotate: -45deg;
            opacity: 0;
            transition: 0.3s;
          }

          &:has(input:checked) {
            &::before {
              background-color: rgb(46 108 168);
              background-color: var(--color);
            }

            &::after {
              opacity: 1;
            }
          }

          & input {
            accent-color: rgb(46 108 168);
          }
        }
      }
    }
  }











  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 30rem;

    .card {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      &:hover {
        .image {
          rotate: 2deg;
          scale: 1.1;
        }
      }
    }

    .image {
      width: 100%;
      height: auto;
      aspect-ratio: 1;
      object-fit: cover;
      transition: 0.3s;
    }

    .product_info {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .category, .colors, .range {
        color: var(--base-text-color);
      }

      .price {
        font-weight: bold;
      }
    }
  }
}