.container {
  --padding: 0.5rem 1rem;
  --radius: 0.35rem;
  --transition: all 1s;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 300px;
}

.input_field {
  padding: var(--padding);
  border: 1px solid #ccc;
  background: #fcfcfc;
  outline: none;
  border-radius: var(--radius);
  transition: var(--transition);
  font-size: 1rem;  
  z-index: 1;
}

.shake {
  animation: shake .5s ease-in-out alternate;
  box-shadow: 0 0 4px 3px #e2e2e2;
}

.btn_shake {
  padding: var(--padding);
  background-color: #1392e1;
  border: none;
  font-size: 1rem;
  border-radius: var(--radius);
  transition: var(--transition);
  cursor: pointer;
  
  &:hover {
    opacity: 0.7;
  }
}

@keyframes shake {
  0% {
    translate: -20px -20px;
  }
  20% {
    translate: 20px 20px;
  }
  40% {
    translate: -10px 10px;
  }
  60% {
    translate: 10px 10px;
  }
  80% {
    translate: -5px -5px;
  }
  100% {
    translate: 0 0;
  }
}