.chip {
  padding-inline: 1rem;
  padding-block: 0.25rem;
  border-radius: 0.25rem;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 100;
  width: calc(100%);
  position: absolute;
  top: var(--bottom-pos);
  z-index: 10;
  font-size: 0.6rem;
  box-shadow: 0 2px 2px 0px rgb(80 80 80 / 0.5);

  anchor-name: var(--anchor-name);

  
  
  &.high {
    background-color: rgb(225 244 216);
    color: rgb(1, 139, 1);
    border: 1px solid rgb(97, 249, 97);
  }

  &.medium {
    background-color: rgb(189 218 239);
    color: rgb(23, 94, 144);
    border: 1px solid rgb(94, 169, 223);
  }

  &.low {
    background-color: rgb(209 204 232);
    color: rgb(75, 48, 196);
    border: 1px solid rgb(130, 106, 237);
  }

  &.past {
    background-color: rgb(224, 224, 224);
    color: rgb(112, 112, 112);
    border: 1px solid rgb(182, 182, 182);
  }

  &:hover {
    & + div {
      opacity: 1;
      display: flex;
      
      @starting-style {
        opacity: 0;
      }
    }
  }

  &.pulse {
    &::before {
      content: "";
      top: -5px;
      left: -5px;
      width: calc(100% + 10px);
      height: calc(100% + 10px);
      background-color: rgb(0, 220, 0, 1);
      z-index: -1;
      filter: blur(0);
      opacity: 0;
      position: absolute;
      border-radius: 1rem;
      animation: pulse 3s linear infinite;
    }
  }
}

@keyframes pulse {
  0% {
    filter: blur(0);
    opacity: 0;
  }
  50% {
    filter: blur(5px);
    opacity: 0.8;
  }
  100% {
    filter: blur(0);
    opacity: 0;
  }
}
