.button_container {
  display: grid;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s, scale 0.1s, box-shadow 0.1s;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;

  &:has(input:checked) {
    > svg {
      scale: 0;
      opacity: 0;
      filter: blur(5px);
    }
    
    > svg:last-child {
      scale: 1;
      opacity: 1;
      filter: blur(0);
    }
  }

  &:hover {
    background-color: rgb(233 233 233);
    box-shadow: 0 0 0.5rem 0.25rem rgb(40 40 40 / 0.1);
  }

  &:active {
    scale: 0.98;
    box-shadow: none;
  }

  > * {
    transition: 0.3s;
    grid-area: 1 / 1;
  }

  > svg:last-child {
    opacity: 0;
    scale: 0;
    filter: blur(5px);
  }

  input {
    display: none;
  }
}