.cards_stack {
  color: rgb(255 255 255);
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;

  .card {
    padding: 1rem;
    inline-size: 10rem;
    aspect-ratio: 16 / 9;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 1rem;
    position: relative;
    background-color: rgb(53 53 53);

    * {
      z-index: 1;
    }

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 3px;
      inline-size: calc(100% - 6px);
      block-size: calc(100% - 6px);
      background: linear-gradient(to top, rgb(29 29 29), rgb(54 54 54));
      border-radius: 0.70rem;
      filter: blur(5px);
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: flex-start;
      padding: 1rem;
      border-radius: 1rem;
      background: linear-gradient(to top, rgb(var(--bg-color) / 1), rgb(255 255 255 / .7));
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        inline-size: calc(100% - 10px);
        block-size: calc(100% - 10px);
        border-radius: 0.70rem;
        background-color: red;
        background: linear-gradient(to top, rgb(var(--bg-color) / 1), rgb(255 255 255 / .7));
        filter: blur(2px);
      }
    }

    .group {
      display: grid;
      row-gap: 0.75rem;

      .title {
        grid-column: 1 / 1;
        font-weight: bold;
      }

      .total {
        grid-column: 2 / 2;
        margin-inline-start: auto;
        color: rgb(142 142 142);
      }

      .progress {
        inline-size: 100%;
        height: 8px;
        background-color: rgb(var(--color) / var(--tracker-opacity));
        border-radius: 10rem;
        grid-column: span 2;
        position: relative;
        transition: 0.3s;

        &::before {
          content: "";
          inline-size: var(--progress);
          block-size: 100%;
          border-radius: inherit;
          background: linear-gradient(to bottom, rgb(var(--color) / 1), rgb(var(--color) / 1), rgb(255 255 255 / .7));
          position: absolute;
          top: 0;
          left: 0;
          transition: 0.3s;
        }
      }
    }
  }
}