.card {
  width: 16rem;
  padding: 1rem;
  background-color: rgb(255 255 255);
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgb(40 40 40 / 0.2);

  .box {
    display: flex;

    .breadcrumb {
      font-size: 0.7rem;
      display: flex;
      gap: 0.25rem;
      align-items: center;

      a {
        padding: 0.25rem 0.5rem;
        border-radius: 10rem;
      }

      > a:first-child {
        background-color: rgb(40 40 40);
        color: rgb(240 240 240);
      }
      
      > a:last-child {
        background-color: rgb(236, 236, 236);
        color: rgb(34 33 35);
      }
    }

    .timestamp {
      margin-left: auto;
      background-color: rgb(250 245 200);
      color: rgb(182 174 36);
      font-size: 0.7rem;
      font-weight: bold;
      padding: 0.25rem 0.5rem;
      border-radius: 10rem;
    }
  }



  .contents {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .progress {
      display: grid;
      gap: 0.25rem;
    }

    .label {
      grid-column: 1 / 1;
      grid-row: 1 / 1;
      color: rgb(172 173 179);
      text-transform: uppercase;
    }

    .completion {
      grid-column: 2 / 2;
      text-align: right;
      color: rgb(86 181 117);
    }

    .progress_bar {
      grid-row: 2 / 2;
      grid-column: 1 / 3;
      background-color: rgb(133 238 172);
      border-radius: 10rem;
      height: 10px;
      width: 100%
    }
  }



  .collaborators {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 0.5rem;

    .collab_title {
      grid-row: 1 / 1;
      grid-column: 1 / 4;
    }

    .collab_list {
      display: flex;
      gap: 0.15rem;

      a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 1.5rem;
        aspect-ratio: 1;
        background-color: cadetblue;
        border-radius: 0.25rem;
        border: 1px solid rgb(230 230 230);

        &:nth-child(2) {
          translate: -5px;
          background-color: bisque;
        }
        
        &:nth-child(3) {
          translate: -10px;
          background-color: burlywood;
        }
      }
    }

    .status {
      margin-left: auto;
      background-color: rgb(224 246 231);
      color: rgb(79 217 131);
      text-transform: uppercase;
      padding: 0.25rem 0.5rem;
      border-radius: 10rem;
    }

    svg {
      margin-left: auto;
    }
  }
}