.button {
  background-color: rgb(250 43 55);
  border: none;
  border-radius: 10rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: rgb(255 255 255);
  cursor: pointer;
  position: relative;
  transition: 0.2s;
  font-weight: bold;
  user-select: none;
  
  .input {
    display: none;
  }

  &:active {
    scale: 0.98;
  }

  &:has(.input:checked) {
    background-color: rgb(255 224 226);
    color: rgb(250 43 55);

    .icon > svg {
      opacity: 0;
      display: none;
    }

    .icon {
      background-color: rgb(250 43 55);
      translate: 18.5px -14.5px;
      width: 25px;
      aspect-ratio: 1;

      &.done {
        scale: 0;
        opacity: 0;
      }
    }

    .initial_label {
      opacity: 0;
      display: none;
    }

    .pending_label {
      display: flex;
      opacity: 1;

      &.done {
        display: none;
        opacity: 0;
      }

      @starting-style {
        opacity: 0;
      }
    }

    .counter {
      display: flex;
      opacity: 1;
      scale: 1;

      &.done {
        opacity: 0;
        display: none;
      }

      @starting-style {
        opacity: 0;
        scale: 0;
      }
    }
  }

  .icon {
    background-color: rgb(255 255 255);
    border-radius: 10rem;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s var(--bounce);

    > svg {
      display: flex;
      transition: 0.3s;
    }
  }

  .pending_label {
    display: none;
    opacity: 0;
    transition: 0.2s var(--bounce);
    translate: 15px 0;
  }

  .done_label {
    display: none;
    opacity: 0;
    translate: 18px 0;

    &.done {
      display: flex;
      opacity: 1;

      @starting-style {
        opacity: 0;
      }
    }
  }

  .counter {
    translate: 45px -15px;
    font-weight: bold;
    position: absolute;
    transition: 0.2s;
    color: rgb(255 255 255);

    opacity: 0;
    display: none;
  }
}