.card {
  position: relative;
  width: 25rem;
  aspect-ratio: 1;
  border-radius: 2rem;
  box-shadow: 0 0 1rem 1rem rgb(40 40 40 / 0.2);

  .media {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1.5;
    border-radius: 2rem;
  }

  .location {
    position: absolute;
    color: rgb(255 255 255);
    background-color: rgb(255 255 255 / 0.2);
    font-weight: bold;
    top: 1rem;
    left: 1rem;
    padding: 0.5rem;
    border-radius: 10rem;
    backdrop-filter: blur(3px);
  }

  .property_features {
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgb(255 255 255);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: linear-gradient(to top, rgb(0 0 0) 50%, rgb(40 40 40 / 0));
    width: 100%;
    padding: 1rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

    .title {
      font-weight: bold;
      font-size: 1rem;
    }

    .features_list {
      list-style-type: none;
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;

      > li {
        display: flex;
        gap: 0.5rem;
        background-color: rgb(47 49 50);
        padding: 0.5rem;
        border-radius: 10rem;
        outline: 1px solid rgb(60 64 66);
        outline-offset: -1px;
      }
    }

    .button {
      display: flex;
      align-items: center;
      background-color: rgb(46 48 46);
      text-align: center;
      padding: 1rem;
      border-radius: 10rem;
      justify-content: center;
      gap: 0.25rem;
      cursor: pointer;
    }
  }
}