.wishlist {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }

  .card {
    width: 100%;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &:last-child {
      margin-bottom: 4rem;
    }

    .card_media {
      width: 100%;
      padding: 0.5rem;

      > img {
        width: 100%;
        height: auto;
        aspect-ratio: 2 / 1;
        object-fit: cover;
        border-radius: 0.8rem;
      }
    }

    .card_price {
      font-weight: bold;
      padding-inline: 0.5rem;
    }

    .amenities {
      display: flex;
      gap: 0.5rem;
      border-bottom: 1px solid rgb(216, 216, 216);
      padding: 0.5rem;

      .amenity {
        display: flex;
        gap: 0.5rem;

        .info {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;
          align-items: center;

          > :is(.label, .value) {
            font-size: 0.7rem;
            text-transform: capitalize;
          }
        }
      }
    }


    .address_container {
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }

    .title {
      color: rgb(104 106 115);
    }
    
    .address {
      color: rgb(116 120 124);
    }




    .button_like {
      position: absolute;
      top: 1rem;
      right: 1rem;
      border: none;
      display: flex;
      padding: 0.25rem;
      border-radius: 0.5rem;
      background-color: rgb(255 255 255);
      cursor: pointer;
      transition: 0.2s;

      > svg {
        transition: 0.2s;
      }

      &:hover {
        > svg {
          animation: --beat 1s ease-in-out infinite;
        }
      }
    }
  }
}

@keyframes --beat {
  0% {
    scale: 1.25;
  }
  25% {
    scale: 1;
  }
  50% {
    scale: 1.25;
  }
  75% {
    scale: 1;
  }
  100% {
    scale: 1;
  }
}