.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-height: 20rem;

  & ul {
    list-style: none;
  }

  & * {
    corner-shape: squircle;
    transition: 0.4s;
  }

  .goals {
    box-shadow: 0 0 10px 0 rgb(40 40 40 / 0.1);
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(255 255 255);
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 22rem;

    .goals_header {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      font-weight: bold;
    }

    .goals_contents {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .user {
        font-size: 0.8rem;
        color: rgb(40 40 40 / 0.6);
        border-top: 1px solid rgb(40 40 40 / 0.1);
        padding-block-start: 0.5rem;
        text-align: center;
      }

      .weekly_goal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        min-width: 18rem;

        .label_trackers {
          margin-left: auto;
          font-size: 0.7rem;
          color: rgb(40 40 40 / 0.6);
        }

        .label_progress {
          grid-column: span 2;
          background-color: rgb(248 248 248);
          height: 8px;
          border-radius: 40rem;
          corner-shape: round;
          position: relative;

          &::before {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: rgb(0 167 57);
            z-index: 1;
            content: "";
            border-radius: 10rem;
            transition: 0.4s;
          }
        }

        .goals_completion {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          font-size: 0.7rem;
          color: rgb(40 40 40 / 0.6);
        }

        &.tasks {
          .label_progress {
            &::before {
              width: var(--tasks-progress);
            }
          }
        }

        &.focus {
          .label_progress {
            &::before {
              width: var(--focus-progress);
            }
          }
        }
        
        &.meetings {
          .label_progress {
            &::before {
              width: var(--meeting-progress);
            }
          }
        }
      }
    }
  }

  .controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline-start: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgb(40 40 40 / 0.1);
    translate: -0.5rem 0.5rem;
    height: 95%;
    overflow-y: scroll;
    position: relative;

    & label {
      cursor: pointer;
      padding: 0.5rem;
      border-radius:  0.5rem;
    }

    &:has(.tab_task:checked) {
      .tasks_container, .hours_container, .meetings_container {
        display: none;
        opacity: 0;
      }

      .tasks_container {
        display: flex;
        flex-direction: column;
        opacity: 1;
      }
    }
    
    &:has(.tab_hours:checked) {
      .tasks_container, .hours_container, .meetings_container {
        display: none;
        opacity: 0;
      }

      .hours_container {
        display: flex;
        flex-direction: column;
        opacity: 1;
        align-items: center;
        justify-content: center;
        height: 100%;

        & select {
          width: 100%;
          text-align: center;
          background-color: rgb(230 230 230);
          color: rgb(40 40 40);
          border: 1px solid rgb(40 40 40 / 0.2);
          padding: 0.5rem;
          border-radius: 0.5rem;
          font-weight: bold;
          font-size: 1.1rem;
        }
      }
    }
    
    &:has(.tab_meetings:checked) {
      .tasks_container, .hours_container, .meetings_container {
        display: none;
        opacity: 0;
      }

      .meetings_container {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        opacity: 1;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
    }

    & > div:first-child {
      display: flex;
      gap: 1rem;
      position: sticky;
      padding: 1rem;
      top: 0;
      background-color: rgb(255 255 255 / 0.1);
      box-shadow: 0 3px 5px 0 rgb(40 40 40 / 0.1);
      z-index: 1;
      backdrop-filter: blur(13px);

      & label {
        cursor: pointer;
        padding: 0.5rem;
        border-radius:  0.5rem;

        &:hover {
          background-color: rgb(40 40 40 /0.2);
        }

        &:has(input:checked) {
          background-color: rgb(40 40 40 /0.1);
        }

        &:active {
          scale: 0.98;
        }
      }

      & input {
        display: none;
      }
    }

    .tasks_container {
      gap: 1rem;

      & li {
        & > label {
          display: flex;
          gap: 0.5rem;
          padding-inline: 1rem;

          &:hover {
            background-color: rgb(40 40 40 / 0.1);
          }

          & > span {
            position: relative;

            &::before {
              transition: 0.3s;
              position: absolute;
              top: 50%;
              content: "";
              left: 0;
              width: 0%;
              height: 2px;
              background-color: rgb(40 40 40);
            }
          }
        }

        & input {
          cursor: pointer;
          accent-color: rgb(40 40 40);

          &:checked + span {
            &::before {
              width: 102%;
            }
          }
        }
      }
    }

    .hours_container, .meetings_container {
      display: flex;
      align-items: center;
      justify-content: center;

      display: none;
      opacity: 0;

      & > input {
        accent-color: rgb(0 167 57);
        cursor: pointer;
      }
    }
  }
}
