.booking {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1200px;
  margin: auto;
  
  .uppercase {
    text-transform: capitalize;
  }

  .secondary_text {
    color: rgb(140 140 140);
  }
  
  .ter_text {
    color: rgb(91 89 88);
  }

  .booking_header {
    display: grid;
    gap: 0.5rem;

    .header_title {
      grid-column: 1 / 2;
    }

    .header_address {
      grid-row: 2 / 2;
      grid-column: 1 / 1;
    }

    .header_ratings {
      grid-row: 2 / 2;
      grid-column: 2 / 2;
    }
  }






  .booking_contents {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;

    .contents {
      /* padding-block: 1rem; */

      .controls {
        margin-block-start: 1rem;
        padding: 1rem;
        background-color: rgb(209, 209, 209);
        border-radius: 1rem;
        margin-block-end: 4rem;
        
        display: flex;
        gap: 1rem;
        align-items: center;

        .price {
          display: grid;
          grid-template-columns: auto auto;

          .currency {
            grid-column: 1 / 1;
            color: rgb(153 154 162);
            font-size: 1.25rem;
            font-weight: bold;
          }
          
          .amount {
            grid-column: 2 / 2;
            font-size: 1.25rem;
            font-weight: bold;
          }
          
          .price_info {
            grid-column: 1 / 3;
            grid-row: 2 / 2;
            font-size: 0.7rem;
          }
        }

        .button_edit {
          background-color: rgb(230 230 230);
          border: 1px solid rgb(203 203 203);
          color: rgb(94 93 94);
          padding: 0.5rem;
          border-radius: 0.5rem;
          cursor: pointer;
        }

        .reservation_dates,
        .guests,
        .cancellation,
        .reserve {
          border-left: 1px solid rgb(178, 178, 178);
          padding-inline: 1rem;
          /* background-color: red; */
        }

        .guests {
          display: flex;
          align-items: center;
          gap: 0.25rem;
        }

        .reserve {

          .button_reserve {
            background-color: rgb(40 223 121);
            color: rgb(255 255 255);
            padding: 0.5rem;
            border-radius: 0.5rem;
          }
        }
      }
    }

    .contents_info {
      display: grid;
      align-items: center;
      gap: 1rem;
      grid-template-columns: auto 1fr;
      /* background-color: red; */
      border-bottom: 1px solid rgb(224, 224, 224);
      padding-block-end: 1rem;
    }

    .info_about {
      grid-column: 1/1;
    }

    .contents_text {
      grid-row: 2 / 2;
      grid-column: 1 / 3;
    }

    .more_link {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }

    .features_list {
      display: flex;
      align-items: center;
      gap: 1rem;
      grid-column: 2 / 2;

      .feature {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;
        background-color: rgb(239, 238, 238);
        padding: 0.5rem 0.5rem;
        border-radius: 10rem;
        font-size: 0.7rem;
      }
    }

    .contents_image {
      width: 100%;
      height: auto;
      object-fit: cover;
      aspect-ratio: 1;
    }

    .aside {
      width: 12rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      img {
        width: 100%;
        height: auto;
        aspect-ratio: 2 / 1;
      }

      .location {
        position: relative;
        display: flex;

        &::before {
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          position: absolute;
        }
      }

      .aside_ameneties {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 1fr 1fr;

        .link {
          grid-column: 1 / 3;
          grid-row: 1 / 1;
          text-decoration: underline;
        }

        .amenety {
          display: flex;
          align-items: center;
          gap: 0.25rem;
        }
      }
    }
  }
}