.card {
  background-color: rgb(254 253 245);
  padding: 1rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 0.5rem 0.5rem rgb(40 40 40 / .1);
  width: 25rem;
  display: grid;
  gap: 1rem;

  .title {
    grid-column: 1 / 1;
    color: rgb(60 147 56);
    font-weight: normal;
  }

  .text {
    grid-row: 2 / 2;
    color: rgb(81 178 75);
  }

  svg {
    grid-column: 2 / 2;
    grid-row: 1 / 3;
  }

  .cta {
    grid-row: 3 / 3;
    grid-column: 1 / 3;
    background-color: rgb(89 179 82);
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 3px 0.25rem 0.25rem rgb(40 40 40 / 0.1);
    transition: 0.2s;
    font-weight: bold;

    &:active {
      scale: 0.98;
      box-shadow: none;
    }
  }
}