.card {
  width: 30rem;
  aspect-ratio: 1;
  border-radius: 1rem;
  position: relative;
  box-shadow: 0 0.5rem 0.5rem 0 rgb(40 40 40 / 0.1);

  .image {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: 0 -200px;
    border-radius: 1rem;
    position: absolute;
  }





  &:hover {
    .contents {
      bottom: 3.5rem;
    }
  }



  .contents {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(255 255 255);
    border-radius: 1rem;
    transition: 0.3s var(--bounce);

    .meta_info {
      display: flex;
      align-items: center;

      .badge {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        background-color: rgb(234 252 231);
        padding: 0.25rem 0.5rem;
        border-radius: 10rem;
        font-size: 0.7rem;
        color: rgb(12 184 27);
        text-transform: uppercase;
      }

      .price_container {
        margin-left: auto;

        .price {
          font-size: 1.1rem;
          color: rgb(12 184 27);
        }

        .type {
          color: rgb(159 159 162);
        }
      }
    }

    .main {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .location {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 0.7rem;
      }

      .event_info {
        display: flex;
        gap: 1rem;
        border-top: 1px dashed rgb(217, 217, 217);
        border-bottom: 1px dashed rgb(217, 217, 217);

        .box {
          flex-basis: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100px;
          flex-direction: column;
          gap: 0.5rem;
          font-size: 0.7rem;

          &:not(:last-child) {
            border-right: 1px solid rgb(217, 217, 217);
          }
        }
      }
    }
  }














  .controls {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    padding: 1rem;
    padding-block-start: 3rem;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 241, 241);
    position: absolute;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    bottom: 0;

    > button {
      background: none;
      border: none;
      cursor: pointer;
      transition: 0.2s;
      padding: 0.25rem;
      border-radius: 0.25rem;
      display: flex;

      &:hover {
        background-color: rgb(40 40 40 / 0.1);
      }
    }

    .event_buttons {
      margin-left: auto;
      display: flex;
      gap: 0.5rem;

      > button {
        background: none;
        border: none;
        cursor: pointer;
        border-radius: 10rem;
        padding: 0.25rem 0.75rem;
        transition: 0.2s;

        &.edit_button {
          border: 1px solid rgb(207, 206, 216);
          color: rgb(32 32 34);

          &:hover {
            background-color: rgb(40 40 40 / 0.1);
          }
        }

        &.share_button {
          background-color: rgb(252 105 47);

          &:hover {
            background-color: rgb(252 105 47 / 0.8);
          }
        }
      }
    }
  }
}