.cart {
  --speed: 0.3s;

  isolation: isolate;

  * {
    transition: var(--speed);
    transition-behavior: allow-discrete;
  }

  .cart_empty {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 20rem;
    min-height: 20rem;
    background-color: red;
    grid-column: span 2;
    grid-row: span 12;
  }

  .cart_items {
    position: absolute;
    position-anchor: --cart-button;
    bottom: anchor(top);
    right: anchor(right);
    z-index: -1;

    background-color: rgb(255 255 255);
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.25rem 0 rgb(30 30 30 / .3);
    overflow: hidden;
    
    padding: 0;
    padding-inline: 1rem;
    
    scroll-behavior: smooth;
    transition: var(--speed), z-index var(--speed) var(--speed);
    transition-duration: 0.2s;

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, auto);

    max-inline-size: fit-content;
    max-block-size: 30rem;
    opacity: 1;
    filter: blur(0);
    

    &::before {
      content: "";
      grid-column: span 2;
      background-color: rgb(255 255 255);
      inline-size: 100%;
      block-size: 1rem;
      position: sticky;
      z-index: 1;
      margin-block-end: -0.5rem;
    }

    &::before {
      grid-row: 1 / 1;
      top: 1rem;
      translate: 0 -1rem;
    }

    .cart_item {
      inline-size: 10rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      opacity: 0;
      filter: blur(4px);
      
      position: relative;
      transition: 1s;
      transition-delay: calc(0.4s * sibling-index());
      /* transition-delay: 10s; */


      /* view-transition-name: box; */



      &:hover {
        .delete_button {
          opacity: 1;
          display: flex;

          @starting-style {
            opacity: 0;
          }
        }
      }

      .delete_button {
        position: absolute;
        display: flex;
        background-color: rgb(10 10 10);
        border: none;
        border-radius: 50%;
        cursor: pointer;
        right: -0.5rem;
        top: -0.5rem;
        padding: 0.25rem;
        opacity: 0;
        display: none;
      }

      img {
        width: 100%;
        height: auto;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 0.5rem;
      }

      figcaption {
        display: flex;
        gap: 0.5rem;

        h1 {
          font-size: 0.8rem;
          font-weight: normal;
        }

        span {
          margin-inline-start: auto;
        }
      }
    }

    .items_footer {
      position: sticky;
      bottom: 0;
      grid-column: span 2;
      inline-size: calc(100% + 2rem);
      block-size: fit-content;
      background-color: inherit;
      translate: -1rem 0;
      padding: 0.75rem 1rem;
      border-block-start: 1px solid rgb(243 243 243);
      display: flex;
      align-items: center;
      opacity: 0;
      /* display: none; */
      transition: 1s 1s;
      transition-behavior: allow-discrete;

      .items_total {
        font-weight: bold;
        font-size: 1.25rem;
      }

      .buy_button {
        margin-inline-start: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        background-color: rgb(10 10 10);
        color: rgb(255 255 255);
        padding: 0.5rem 0.75rem;
        border-radius: 0.25rem;
      }
    }
  }

  &:has(.button_input:checked) {
    .cart_items {
      padding-inline: 1rem;
      bottom: calc(anchor(top) + 0.5rem);
      right: anchor(right);
      z-index: 1;
      overflow: auto;
      transition-duration: var(--speed);

      max-inline-size: fit-content;
      max-block-size: 30rem;
      opacity: 1;
      filter: blur(0);

      @starting-style {
        max-inline-size: fit-content;
        max-block-size: 30rem;
        padding: 0;
        z-index: -1;
        opacity: 1;
        filter: blur(0);
      }

      
    }

    .cart_item {
      opacity: 1;
      filter: blur(0);

      @starting-style {
        opacity: 0;
        filter: blur(4px);
      }
    }

    .items_footer {
      opacity: 1;

      @starting-style {
        opacity: 0;
      }
    }
  }























  .toggle_button {
    background-color: rgb(10 10 10);
    display: grid;
    width: 3rem;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    anchor-name: --cart-button;

    * {
      grid-area: 1 / 1;
    }

    .button_input {
      display: none;
    }

    svg {
      display: none;
      opacity: 0;
    }

    &:hover {
      box-shadow: 0 0.5rem 0.75rem rgb(40 40 40 / .3);
    }

    &:active {
      transition-duration: 0.1s;
      box-shadow: 0 0rem 0.75rem rgb(40 40 40 / .3);
      scale: 0.98;
    }

    &:has(.button_input:checked) {
      box-shadow: 0 0.5rem 0.75rem rgb(40 40 40 / .3);

      .icon_close {
        display: flex;
        opacity: 1;

        @starting-style {
          opacity: 0;
        }
      }
    }
    
    &:has(.button_input:not(:checked)) {
      .icon_cart {
        display: flex;
        opacity: 1;

        @starting-style {
          opacity: 0;
        }
      }
    }
  }
}


/* ::view-transition-group(.cart_item) {
	animation-delay: 0.3s;
} */

/* ::view-transition-new(enter) {
	animation: enter 0.5s;
}

::view-transition-old(leave) {
	animation: leave 0.5s forwards;
} */

/* @keyframes enter {
	from { opacity: 0; translate: 0 20px; }
	to { opacity: 1; translate: 0 0; }
}

@keyframes leave {
	to { opacity: 0; translate: 0 20px; }
} */

