.cart_container {
  --speed: 0.3s;
  --delay: var(--speed);

  isolation: isolate;
  position: fixed;

  * {
    transition: var(--speed);
    transition-behavior: allow-discrete;
  }

  .cart_list {
    background-color: rgb(255 255 255);
    position-anchor: --cart-button;
    position: absolute;
    bottom: calc(anchor(top) + 0.5rem);
    right: anchor(right);
    border-radius: 1rem;
    box-shadow: 0 0.5rem 0.5rem 0 rgb(40 40 40 / .2);
    display: grid;
    row-gap: 3rem;
    grid-template-columns: auto auto;
    overflow: auto;
    max-block-size: 0;
    max-inline-size: 25rem;
    padding: 0;
    opacity: 0;
    transition: var(--speed);

    &::-webkit-scrollbar-track-piece {
      margin-block: 12px;
    }

    &::-webkit-scrollbar {
      width: 4px;
      position: absolute;
    }

    &::-webkit-scrollbar-thumb {
      background: rgb(175 175 175 / .7);
      border-radius: 10rem;
    }

    *:not(.cart_footer):not(.button_delete) {
      opacity: 0;
      transition-delay: calc(var(--delay) * sibling-index());
    }

    .list_card {
      width: 10rem;
      height: 100%;
      aspect-ratio: 1;
      position: relative;

      .button_delete {
        display: flex;
        background-color: rgb(10 10 10);
        border: none;
        border-radius: 1rem;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: -0.5rem;
        top: -0.5rem;
        width: 1.25rem;
        aspect-ratio: 1;
        opacity: 0;
        cursor: pointer;
      }

      &:hover {
        .button_delete {
          opacity: 1;
          transition-delay: 0;
          transition-duration: 0.1s;
        }
      }

      a {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }

      &:not(:nth-of-type(even)) {
        margin-inline: 1rem;
      }
      
      &:nth-of-type(even) {
        margin-inline-end: 1rem;
      }

      .card_image {
        width: 100%;
        height: auto;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 0.5rem;
      }

      .card_block {
        display: flex;
        gap: 1rem;
        font-weight: bold;

        .card_title {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        .card_price {
          margin-inline-start: auto;
        }
      }
    }

    .cart_footer {
      position: sticky;
      bottom: 0;
      grid-column: span 2;
      background-color: rgb(255 255 255);
      display: flex;
      align-items: center;
      inline-size: 100%;
      left: 0;
      padding: 0.5rem 1rem;
      border-block-start: 1px solid rgb(217, 217, 217);
      transition-delay: 0;

      .footer_total {
        font-weight: bold;
        font-size: 1.5rem;
      }

      .button_buy {
        margin-inline-start: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        background-color: rgb(10 10 10);
        color: rgb(255 255 255);
        padding: 0.5rem 0.75rem;
        border-radius: 0.5rem;
      }
    }
  }



  &:has(.button_input:checked) {
    .cart_list {
      max-block-size: 30rem;
      opacity: 1;
      padding-block-start: 1rem;

      *:not(.cart_footer):not(.button_delete) {
        opacity: 1;
      }
    }
  }
























  .toggle_button {
    background-color: rgb(10 10 10);
    display: grid;
    width: 3rem;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    anchor-name: --cart-button;
    position: relative;
    right: 1rem;
    bottom: 1rem;

    * {
      grid-area: 1 / 1;
    }

    .button_input {
      display: none;
    }

    svg {
      display: none;
      opacity: 0;
    }

    &:hover {
      box-shadow: 0 0.5rem 0.75rem rgb(40 40 40 / .3);
    }

    &:active {
      transition-duration: 0.1s;
      box-shadow: 0 0rem 0.75rem rgb(40 40 40 / .3);
      scale: 0.98;
    }

    &:has(.button_input:checked) {
      box-shadow: 0 0.5rem 0.75rem rgb(40 40 40 / .3);

      .icon_close {
        display: flex;
        opacity: 1;

        @starting-style {
          opacity: 0;
        }
      }
    }
    
    &:has(.button_input:not(:checked)) {
      .icon_cart {
        display: flex;
        opacity: 1;

        @starting-style {
          opacity: 0;
        }
      }
    }
  }
}
