.days_container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.25rem;
  align-items: center;
  justify-content: center;

  .day_text {
    text-align: center;
    padding: 0.25rem 0.75rem;
    align-self: center;
    justify-self: center;
    border-radius: 0.5rem;
    cursor: pointer;
    position: relative;
    font-size: 1rem;

    & input {
      display: none;
    }

    &:hover {
      background-color: rgb(239, 239, 239);
    }

    &.current_day {
      background-color: red;
      color: rgb(250 250 250);

      &:hover {
        background-color: rgb(255, 111, 111);
      }
    }

    &.Sun {
      grid-column: 7;
    }
    
    &.Mon {
      grid-column: 1;
    }
    
    &.Tue {
      grid-column: 2;
    }
    
    &.Wed {
      grid-column: 3;
    }
    
    &.Thu {
      grid-column: 4;
    }
    
    &.Fri {
      grid-column: 5;
    }
    
    &.Sat {
      grid-column: 6;
    }
  }
}
