@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  padding: 2rem 8rem;
  border-radius: 10rem;
  position: relative;
  border: none;
  font-weight: bold;
  font-size: 1.2rem;
  /* outline: 2px solid rgb(255 255 255 / 1); */
  cursor: pointer;
  text-transform: uppercase;

  &.rotate {
    &::before {
      --angle: 360deg;
    }
  }

  &::before {
    transition: --angle 1s 1s;
    content: "";
    top: -4px;
    left: -4px;
    width: 103%;
    height: 112%;
    background: conic-gradient(from 80deg, rgb(255 243 9) var(--angle), rgb(0 0 0 / 0) 0deg); /* rgb(255 243 9) */
    filter: blur(10);
    z-index: -10;
    position: absolute;
    border-radius: 10rem;
    
    
  }

  .road {
    width: 10rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    overflow: hidden;
    z-index: 3;

    & > * {
      width: 2rem;
      height: 2px;
      background-color: rgb(255 255 255);
    }
  }

  .button_initial_label,
  .button_finished_label,
  .button_icon {
    position: absolute;
    transition: 1s;
  }

  .button_finished_label, .button_icon {
    translate: 0 -5rem;
  }

  .reveal {
    animation: reveal 0.4s ease-in-out forwards 0.4s;
  }

  .hide {
    animation: hide 0.4s ease-in-out forwards;
  }

  .rotate {
    --angle: 360deg;
    box-shadow: 0 0 20px 15px rgb(255 243 9 / 0.4);
  }
}

@keyframes hide {
  0% {
    translate: 0 0;
  }

  80% {
    translate: 0 1rem;
  }

  100% {
    translate: 0 -4rem;
  }
}

@keyframes reveal {
  0% {
    translate: 0 -4rem;
  }

  80% {
    translate: 0 0.75rem;
  }

  100% {
    translate: 0 0;
  }
}