.button {
  --bg-color: rgb(35 35 35);
  --text-color: rgb(255 255 255);
  --bounce: cubic-bezier(.47, 1.64, .41, .8);

  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 0.25rem;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  row-gap: 0.25rem;
  transition: 0.3s var(--bounce);
  width: 8rem;
  overflow: hidden;

  & * {
    user-select: none;
    transition: 0.3s var(--bounce);
  }

  & input {
    display: none;
  }

  &:has(input:checked) {
    border-radius: 1rem;
    width: 20rem;
    box-shadow: 0 0 1rem 0 rgb(40 40 40 / 0.8);

    .controls {
      display: grid;
      opacity: 1;

      @starting-style {
        opacity: 0;
      }
    }

    .button_icon {
      rotate: 45deg;
    }

    .button_label, .button_icon {
      padding: 0.5rem 1rem;
    }
  }

  .button_label {
    width: 150%;
  }

  .button_label, .button_icon {
    padding-inline: 0.75rem;
  }

  .button_icon {
    margin-left: auto;
    font-weight: lighter;
    font-size: 1.5rem;
  }

  .controls {
    grid-row: 2;
    grid-column: span 2;
    background-color: rgb(255 255 255);
    border-radius: 0.80rem;
    padding: 0.5rem;
    color: rgb(40 40 40);
    display: none;
    opacity: 0;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;

    & button {
      background: none;
      border: none;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 0.25rem;
      color: rgb(40 40 40);
      padding: 1rem;
      border-radius: 0.75rem;
      cursor: pointer;

      &:hover {
        background-color: rgb(40 40 40 / 0.1);
      }
    }
  }
}
