.kanban_cards_container {
  --bg-color: rgb(245 245 247);
  --card-bg-color: rgb(255 255 255);
  --text-primary-color: rgb(20 20 20);
  --text-secondary-color: rgb(111 110 112);
  --progress-color: rgb(66 155 233);
  --border-radius: 1rem;
  --space: 1rem;

  width: min(25rem);
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  padding: calc(var(--space) - 0.25rem);

  .kanban_card_header {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;

    .kanban_card_title {
      font-size: 1.1rem;
      font-weight: normal;
    }

    .kanban_card_actions {
      display: flex;
      gap: 1rem;
      margin-left: 1rem;
      margin-left: auto;

      .kanban_card_btn {
        background: transparent;
        border: none;
        cursor: pointer;
        flex-basis: 20rem;
        margin-left: auto;
      }
    }
  }

  .ticket {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--card-bg-color);
    border-radius: calc(var(--border-radius) - 0.25rem);

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    .ticket_header {
      display: flex;
      gap: 1rem;

      .ticket_header_number {
        display: block;
        color: var(--text-secondary-color);
      }

      .ticket_user_container {
        flex-basis: 280px;
        text-align: right;
      }
    }

    .ticket_subtask_details {
      display: flex;
      align-items: center;
      align-items: center;
      gap: 1rem;
      margin-block: 0.5rem;

      .ticket_subtask_done {
        display: block;
        color: var(--text-secondary-color);
      }

      .ticket_subtask_progress {
        position: relative;
        height: 3px;
        width: 100%;
        border-radius: 10rem;
        background-color: #cccccc;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: inherit;
          width: 70%;
          background-color: var(--progress-color);
        }
      }
    }

    .ticket_social {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #cccccc;

      .ticket_social_btn {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        cursor: pointer;
        color: var(--text-primary-color);
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        border: 1px solid #dcdcdc;
        background: transparent;
      }
    }

    .ticket_info_container {
      display: flex;
      gap: 1rem;
      align-items: center;

      .ticket_info {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
      }

      .ticket_date {
        flex-basis: 200px;
        margin-left: auto;
        text-align: right;
      }
    }
  }
}
