.button_picker {
  display: flex;
  position: relative;
  width: 7rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
  border: none;
  background-color: rgb(218, 218, 218);
  color: rgb(95 95 95);
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.2s;

  anchor-name: --button;

  &:hover {
    box-shadow: 0 0 0.5rem 0rem rgb(40 40 40 / 0.1);
  }
  
  &:active {
    box-shadow: 0 0 0rem 0rem rgb(40 40 40 / 0.1);
    scale: 0.98;
  }

  > div {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    opacity: 0;
    transition: 0.2s;
  }

  > .public {
    opacity: 1;
  }
  
  > .private {
    opacity: 1;
  }
}

.button_tooltip {
  position: absolute;
  position-anchor: --button;
  top: calc(anchor(top) - 3.15rem);
  left: calc(anchor(center) - 7rem);

  gap: 0.25rem;
  background-color: rgb(222, 222, 222);
  padding: 0.25rem;
  border-radius: 10rem;
  border: none;
  display: none;
  transition: 0.2s;

  &:popover-open {
    display: flex;
    opacity: 1;
    translate: 0 0rem;

    @starting-style {
      opacity: 0;
      translate: 0 0.5rem;
    }
  }

  > button {
    background-color: rgb(254 254 254);
    color: rgb(40 40 40);
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem;
    font-weight: bold;
    display: flex;
    border: none;
    cursor: pointer;
    color: rgb(119 119 119);
    font-size: 1.1rem;

    &:hover {
      box-shadow: 0 0 0.5rem 0rem rgb(40 40 40 / 0.1);
    }
    
    &:active {
      box-shadow: 0 0 0rem 0rem rgb(40 40 40 / 0.1);
      scale: 0.98;
    }

    > svg {
      stroke: rgb(119 119 119);
      transition: 0.2s;
    }

    &:is(.public, .private) {
      color: rgb(40 40 40);

      > svg {
        stroke: rgb(40 40 40);
      }
    }
    
    &:first-child {
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
      border-top-left-radius: 10rem;
      border-bottom-left-radius: 10rem;
    }
    
    &:last-child {
      border-top-right-radius: 10rem;
      border-bottom-right-radius: 10rem;
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;
    }
  }
}