/* @import "../_vars.css"; */

@view-transition {
  navigation: auto;
}

.center {
  display: flex;
  flex-direction: column;
  position: relative;
  /* padding: 4rem; */
  /* height: 100dvh; */
  height: 100%;
  /* padding-block-end: 2rem; */
  background-color: #e7e7e7;
  background-color: rgb(255 255 255);
  /* background: linear-gradient(to top right, rgb(255 236 242), rgb(255 242 252)); */
  /* background-color: rgb(255 255 255); */
  /* margin-top: -1rem;
  margin-left: -1rem; */
  /* max-width: 450px; */
  /* justify-content: center; */
  /* align-items: center; */
  gap: 1rem;
  /* padding-block-end: 1rem; */
  /* padding-inline-end: 1rem; */
  /* padding: 1rem; */
  /* z-index: -100; */
  /* width: minmax(auto, 800px); */
  /* background-color: rgb(13 13 13); */
  /* background-color: rgb(46 46 46); */
}