.card {
  width: 30rem;
  height: auto;
  position: relative;
  background-color: rgb(255 255 255);
  padding: 0.75rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 0 0.5rem 0.5rem rgb(40 40 40 / 0.1);

  .button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .badge {
    position: absolute;
    color: rgb(33 33 33);
    background-color: rgb(255 255 255);
    top: 1.5rem;
    left: 1.5rem;
    padding: 0.5rem 0.75rem;
    border-radius: 10rem;
    font-size: 0.7rem;
  }

  .button_like {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }

  .card_media {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    border-radius: 0.75rem;
    object-fit: cover;
  }



  .contents {
    display: grid;

    .title {
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }

    .price_container {
      grid-column: 2 / 2;
      margin-left: auto;

      .price {
        font-weight: bold;
        font-size: 1.5rem;
      }

      .occurrence {
        color: rgb(104 104 104);
      }
    }

    .text {
      color: rgb(104 104 104);
    }
  }


  .footer {
    display: flex;
    gap: 1rem;

    > * {
      flex-basis: 100%;
      padding-block: 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &.label {
        color: rgb(116 116 116);
      }

      &.value {
        color: rgb(75 75 75);
        font-weight: bold;
      }

      &:not(:last-child) {
        border-right: 1px solid rgb(185 185 185);
      }
    }
  }
}