.container {
  --surface-bg-color: rgb(234 234 232);
  --media-bg-color: rgb(225 225 223);

  --padding: 1rem;
  --border-radius: 0.5rem;
  --outer-radius: 0.75rem;

  --nav-regular-state-bg-color: rgb(239 239 237);
  --nav-regular-state-text-color: rgb(16 16 13);
  --nav-active-state-bg-color: rgb(21 21 21);
  --nav-active-state-text-bg-color: rgb(224 224 224);
  --nav-border-radius: 10rem;
  --nav-padding: 0.5rem 1rem;

  --base-text-color: rgb(65 65 63);

  --bounce: cubic-bezier(.47, 1.64, .41, .8);
  --speed: .3s;

  display: flex;
  flex-direction: column;
  gap: 3rem;
  box-shadow: 0 0 0.5rem 0 rgb(0 0 0 / 0.1);
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;

  .navigation {
    .navigation_list {
      list-style: none;
      display: flex;
      gap: 1rem;

      .navigation_item {
        .item_container {
          padding: var(--nav-padding);
          cursor: pointer;
          background-color: var(--nav-regular-state-bg-color);
          border-radius: var(--nav-border-radius);
          color: var(--nav-regular-state-text-color);

          &:has(> input:checked) {
            background-color: var(--nav-active-state-bg-color);
            color: var(--nav-active-state-text-bg-color);
          }

          & > button {
            background-color: transparent;
            border: none;
            color: rgb(169 37 44);
            cursor: pointer;
          }

          & > input {
            display: none;
          }
        }
      }
    }
  }

  &:has(.navigation .field_all:checked) {
    .contents .card {
      display: flex;
    }
  }

  &:has(.navigation .field_mammals:checked) {
    .card {
      /* display: none; */
      animation: scale_down var(--speed) ease-in-out forwards;
    }
    
    .contents .mammals {
      display: flex;
      animation: scale_up var(--speed) ease-in-out forwards;
    }
  }
  
  &:has(.navigation .field_birds:checked) {
    .card {
      /* display: none; */
      animation: scale_down var(--speed) ease-in-out forwards;
    }
    
    .contents .birds {
      display: flex;
      animation: scale_up var(--speed) ease-in-out forwards;
    }
  }
  
  &:has(.navigation .field_aquatic:checked) {
    .card {
      animation: scale_down var(--speed) ease-in-out forwards;
    }
    
    .contents .aquatic {
      display: flex;
      animation: scale_up var(--speed) ease-in-out forwards;
    }
  }
  
  &:has(.navigation .field_reptiles:checked) {
    .card {
      animation: scale_down var(--speed) ease-in-out forwards;
    }
    
    .contents .reptiles {
      display: flex;
      animation: scale_up var(--speed) ease-in-out forwards;
    }
  }

  .contents {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;

    .card {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 0.5rem;
      border-radius: var(--outer-radius);
      box-shadow: 0 0 0.5rem 0 rgb(0 0 0 / 0.1);

      scale: 1;
      transition: all 0.5s;
      animation: scale_up var(--speed) ease-in-out alternate;

      @starting-style {
        scale: 1;
      }

      .card_media {
        width: 100%;
        aspect-ratio: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--border-radius);
        background-color: var(--surface-bg-color);
        font-size: 3rem;
      }
    }
  }
}

@keyframes scale_up {
  0% {
    scale: 0;
    filter: blur(2px);
  }
  80% {
    scale: 1.1;
  }
  85% {
    scale: 0.9;
  }
  90% {
    scale: 1.05;
    filter: blur(2px);
  }
  95% {
    scale: 0.95;
  }
  100% {
    scale: 1;
    filter: blur(0);
  }
}

@keyframes scale_down {
  0% {
    scale: 1;
  }
  95% {
    scale: 0;
    opacity: 0;
  }
  100% {
    display: none;
    scale: 0;
  }
}
