.container {
  --bg-color: rgb(255 255 255);
  --text-color-primary: rgb(29 29 29);
  --text-color-secondary: rgb(87 87 87);
  --text-color-supporting: rgb(161 161 161);
  --button-bg-color: rgb(247 247 247);
  --button-border-color: rgb(232 232 232);
  --button-radius: 0.25rem;
  --badge-background-color: rgb(254 191 201);
  --badge-text-color: rgb(106 39 46);
  --organic-color: rgb(251 178 31);
  --refferal-color: rgb(72 193 255);
  --direct-color: rgb(126 81 246);
  --radius: 1rem;

  width: min(20rem);
  background-color: var(--bg-color);
  padding: 1.5rem;
  border-radius: var(--radius);

  .flex {
    display: flex;
  }

  .f_col {
    flex-direction: column;
  }

  .f_row {
    flex-direction: row;
  }

  .f_center {
    align-items: center;
    justify-content: center;
  }

  .f_jusitfy_center {
    justify-content: center;
  }

  .f_align_center {
    align-items: center;
  }

  .text_color_primary {
    color: var(--text-color-primary);
  }

  .text_color_secondary {
    color: var(--text-color-secondary);
  }

  .text_color_supporting {
    color: var(--text-color-supporting);
  }

  .visitors_stats_container {
    .visitors_stats_content {
      margin-bottom: 0.5rem;
    }

    .visitor_stats_title {
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
    }

    .visitor_stats_percentage {
      font-weight: bold;
      font-size: 1.1rem;

      .badge {
        background-color: var(--badge-background-color);
        padding: 0.15rem 0.5rem;
        border-radius: 10rem;
        font-size: 0.7rem;
        color: var(--badge-text-color);
      }
    }

    .visitor_stats_action {
      width: 60%;
      text-align: right;
      margin-left: auto;
    }

    .visitor_stats_btn {
      padding: 0.25rem 0.5rem;
      border-radius: var(--button-radius);
      background-color: transparent;
      border: 1px solid var(--button-border-color);
    }
  }

  .visitor_stats_graphs {
    margin-top: 0.5rem;

    .visitor_graphs {
      gap: .25rem;

      & > * {
        border-radius: 1px;
        height: 5px;
      }

      .visitor_stats_organic {
        width: 50%;
        background-color: var(--organic-color);
      }

      .visitor_stats_referral {
        width: 30%;
        background-color: var(--refferal-color);
      }

      .visitor_stats_direct {
        width: 30%;
        background-color: var(--direct-color);
      }
    }

    .visitor_graphs_labels {
      margin-top: 0.5rem;
      align-items: center;
      font-size: 0.8rem;

      & > * {
        margin-right: 0.5rem;
      }
      
      .visitor_organic_icon {
        width: 5px;
        height: 5px;
        margin-right: 0.25rem;
        display: inline-block;
        border-radius: 10px;
        vertical-align: middle;
        background-color: var(--organic-color);
      }

      .visitor_referral_icon {
        width: 5px;
        height: 5px;
        margin-right: 0.25rem;
        display: inline-block;
        border-radius: 10px;
        vertical-align: middle;
        background-color: var(--refferal-color);
      }

      .visitor_direct_icon {
        width: 5px;
        height: 5px;
        margin-right: 0.25rem;
        display: inline-block;
        border-radius: 10px;
        vertical-align: middle;
        background-color: var(--direct-color);
      }
    }
  }

  .social_states_table {
    margin-top: 1rem;
    
    .social_table_header {
      padding-block: .5rem;

      & > * {
        font-size: 0.8rem;

        &:first-child {
          flex-basis: 50%;
        }
        
        &:nth-child(2) {
          flex-basis: 30%;
        }

        &:last-child {
          flex-basis: 20%;
        }
      }
    }

    .social_table_body {
      & > * {
        font-size: 0.9rem;

        &:first-child {
          flex-basis: 50%;
        }

        &:nth-child(2) {
          flex-basis: 30%;
        }

        &:last-child {
          flex-basis: 20%;
        }
      }

      .social_table_column {
        margin-top: 0.5rem;

        & > * {
          gap: 0.25rem;
          margin-bottom: 1rem;
        }
      }

      .social_table_row {
        & > * {
          &:first-child {
            flex-basis: 50%;
          }
        }
      }
    }
  }

  .btn {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: var(--button-bg-color);
    border: 1px solid var(--button-border-color);
    border-radius: var(--button-radius);
    color: var(--text-color-secondary);
    font-weight: bold;
  }
}