.sidebar {
  --active-text-color: rgb(243 243 243);
  --regular-text-color: rgb(239 239 239);
  --bg-color: rgb(24 24 24);
  --border-gradient: rgb(118 118 118);
  --bg-gradient: linear-gradient(rgb(16 16 16), rgb(21 21 21), rgb(20 20 20));
  --border: 1px solid rgb(76 76 76);
  --round: 1rem;
  --padding: 1rem;
  --icon-width: 24px;
  --icon-height: 24px;
  --active-bg: linear-gradient(to right, rgb(51 51 51), rgb(29, 28, 28));

  color: var(--regular-text-color);
  padding: var(--padding);
  border-radius: var(--round);
  background-image: var(--bg-gradient);
  max-width: 25rem;
  min-height: 98dvh;
  position: relative;

  &::before {
    --_top: -1.5px;
    --_left: -1.5px;
    content: "";
    position: absolute;
    top: var(--_top);
    left: var(--_left);
    width: calc(100% + 1.5px * 2);
    height: calc(100% + 1.5px * 2);
    background-image: linear-gradient(200deg, rgb(118 118 118), #000, #000, #000, #000, #000000, #000, #000, #000, #000, #000, #000, #000, #000);
    z-index: -1;
    border-radius: 1.1rem;
  }

  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: red;
  }

  .icon {
    width: var(--icon-width);
    height: var(--icon-height);
  }

  .gutter_inline {
    margin-block: 1rem;
  }

  .gutter_inline, .gutter_top, .gutter_bottom {
    margin-top: 1rem;
  }

  .gutter_bottom {
    margin-bottom: 1rem;
  }

  .sidebar_header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    & > div:first-child {
      display: flex;

      .logo {
        font-size: 1.4rem;
        font-weight: bold;
      }

      & > button {
        width: var(--icon-width);
        height: var(--icon-height);
        text-align: right;
        margin-left: auto;
        cursor: pointer;
        border: none;
      }
  
      .btn_close {
        display: block;
        background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9InJnYigxNzMgMTczIDE3MykiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1wYW5lbC1yaWdodC1vcGVuLWljb24gbHVjaWRlLXBhbmVsLXJpZ2h0LW9wZW4iPjxyZWN0IHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgeD0iMyIgeT0iMyIgcng9IjIiLz48cGF0aCBkPSJNMTUgM3YxOCIvPjxwYXRoIGQ9Im0xMCAxNS0zLTMgMy0zIi8+PC9zdmc+) no-repeat;
      }

      .btn_open {
        display: none;
        background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9InJnYigxNzMgMTczIDE3MykiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1wYW5lbC1yaWdodC1jbG9zZS1pY29uIGx1Y2lkZS1wYW5lbC1yaWdodC1jbG9zZSI+PHJlY3Qgd2lkdGg9IjE4IiBoZWlnaHQ9IjE4IiB4PSIzIiB5PSIzIiByeD0iMiIvPjxwYXRoIGQ9Ik0xNSAzdjE4Ii8+PHBhdGggZD0ibTggOSAzIDMtMyAzIi8+PC9zdmc+) no-repeat;
      }
    }

    .sidebar_search_container {
      position: relative;
      --_width: 24px;
      border-radius: calc(var(--round) - 0.5rem);

      .search_icon {
        position: absolute;
        top: 0.5rem;
        left: 0.75rem;
        width: var(--_width);
        background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9InJnYigxNzMgMTczIDE3MykiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1zZWFyY2gtaWNvbiBsdWNpZGUtc2VhcmNoIj48cGF0aCBkPSJtMjEgMjEtNC4zNC00LjM0Ii8+PGNpcmNsZSBjeD0iMTEiIGN5PSIxMSIgcj0iOCIvPjwvc3ZnPg==);
      }

      .sidebar_icons {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        position: absolute;
        top: 0.25rem;
        right: 0.25rem;

        .sidebar_icon_cmd,
        .sidebar_icon_key {
          display: block;
          padding: 1rem;
          border-radius: calc(var(--round) - 0.5rem);
          border: var(--border);
          
        }

        .sidebar_icon_cmd {
          background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9InJnYigxNzMgMTczIDE3MykiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jb21tYW5kLWljb24gbHVjaWRlLWNvbW1hbmQiPjxwYXRoIGQ9Ik0xNSA2djEyYTMgMyAwIDEgMCAzLTNINmEzIDMgMCAxIDAgMyAzVjZhMyAzIDAgMSAwLTMgM2gxMmEzIDMgMCAxIDAtMy0zIi8+PC9zdmc+) no-repeat;
          background-position: 50% 50%;
        }

        .sidebar_icon_key {
          width: 32px;
          height: 32px;
          padding: 0;
          text-align: center;
          align-content: center;
        }
      }

      & > input {
        width: 100%;
        outline: none;
        border: var(--border);
        border-radius: calc(var(--round) - 0.5rem);
        padding: calc(var(--padding) - 0.25rem) calc(var(--padding) + 0.5rem);
        padding-left: calc(var(--padding) + var(--_width));
      }
    }
  }

  .sidebar_nav {
    .sidebar_list_item {
      .sidebar_item_link {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: calc(var(--padding) - 0.5rem);
        margin-block: calc(var(--padding) - 0.5rem);

        &.active, &:hover {
          border-radius: calc(var(--round) - 0.25rem);
          background-image: var(--active-bg);
        }

        .sidebar_link_icon {
          background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9InJnYigxNzMgMTczIDE3MykiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1zY2FuLWV5ZS1pY29uIGx1Y2lkZS1zY2FuLWV5ZSI+PHBhdGggZD0iTTMgN1Y1YTIgMiAwIDAgMSAyLTJoMiIvPjxwYXRoIGQ9Ik0xNyAzaDJhMiAyIDAgMCAxIDIgMnYyIi8+PHBhdGggZD0iTTIxIDE3djJhMiAyIDAgMCAxLTIgMmgtMiIvPjxwYXRoIGQ9Ik03IDIxSDVhMiAyIDAgMCAxLTItMnYtMiIvPjxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjEiLz48cGF0aCBkPSJNMTguOTQ0IDEyLjMzYTEgMSAwIDAgMCAwLS42NiA3LjUgNy41IDAgMCAwLTEzLjg4OCAwIDEgMSAwIDAgMCAwIC42NiA3LjUgNy41IDAgMCAwIDEzLjg4OCAwIi8+PC9zdmc+) no-repeat;
        }

        .regular_member {
          margin-left: auto;
          background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9InJnYigyNTUgNDggOTgpIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9Imx1Y2lkZSBsdWNpZGUtc2lnbmFsLWljb24gbHVjaWRlLXNpZ25hbCI+PHBhdGggZD0iTTIgMjBoLjAxIi8+PHBhdGggZD0iTTcgMjB2LTQiLz48cGF0aCBkPSJNMTIgMjB2LTgiLz48cGF0aCBkPSJNMTcgMjBWOCIvPjxwYXRoIGQ9Ik0yMiA0djE2Ii8+PC9zdmc+) no-repeat;
        }

        .partime_member {
          margin-left: auto;
          background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9InJnYigyNDEgMTk1IDQwKSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXNpZ25hbC1sb3ctaWNvbiBsdWNpZGUtc2lnbmFsLWxvdyI+PHBhdGggZD0iTTIgMjBoLjAxIi8+PHBhdGggZD0iTTcgMjB2LTQiLz48L3N2Zz4=) no-repeat;
        }

        .irregular_member {
          margin-left: auto;
          background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9InJnYigxNCAyMTMgMzQpIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9Imx1Y2lkZSBsdWNpZGUtc2lnbmFsLXplcm8taWNvbiBsdWNpZGUtc2lnbmFsLXplcm8iPjxwYXRoIGQ9Ik0yIDIwaC4wMSIvPjwvc3ZnPg==) no-repeat;
        }
      }

      &.sidebar_item_block {
        padding-block: 1rem;
        display: flex;
        
        .btn_add {
          margin-left: auto;
          border: none;
          background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9InJnYigxNzMgMTczIDE3MykiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1wbHVzLWljb24gbHVjaWRlLXBsdXMiPjxwYXRoIGQ9Ik01IDEyaDE0Ii8+PHBhdGggZD0iTTEyIDV2MTQiLz48L3N2Zz4=) no-repeat;
        }
      }

      &:nth-child(2) {
        .team_avatar {
          background: url(./assets/profile.jpeg) no-repeat;
          background-position: 10% 10%;
        }

        & > .sidebar_item_link {
          & > .sidebar_link_icon {
            background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9InJnYigxNzMgMTczIDE3MykiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1sYXlvdXQtZGFzaGJvYXJkLWljb24gbHVjaWRlLWxheW91dC1kYXNoYm9hcmQiPjxyZWN0IHdpZHRoPSI3IiBoZWlnaHQ9IjkiIHg9IjMiIHk9IjMiIHJ4PSIxIi8+PHJlY3Qgd2lkdGg9IjciIGhlaWdodD0iNSIgeD0iMTQiIHk9IjMiIHJ4PSIxIi8+PHJlY3Qgd2lkdGg9IjciIGhlaWdodD0iOSIgeD0iMTQiIHk9IjEyIiByeD0iMSIvPjxyZWN0IHdpZHRoPSI3IiBoZWlnaHQ9IjUiIHg9IjMiIHk9IjE2IiByeD0iMSIvPjwvc3ZnPg==) no-repeat;
          }
        }
      }

      &:nth-child(3) {
        .team_avatar {
          background: url(./assets/profile.jpeg) no-repeat;
          background-position: 30% 30%;
        }
        & > .sidebar_item_link {
          & > .sidebar_link_icon {
            background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9InJnYigxNzMgMTczIDE3MykiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1sYXlvdXQtbGlzdC1pY29uIGx1Y2lkZS1sYXlvdXQtbGlzdCI+PHJlY3Qgd2lkdGg9IjciIGhlaWdodD0iNyIgeD0iMyIgeT0iMyIgcng9IjEiLz48cmVjdCB3aWR0aD0iNyIgaGVpZ2h0PSI3IiB4PSIzIiB5PSIxNCIgcng9IjEiLz48cGF0aCBkPSJNMTQgNGg3Ii8+PHBhdGggZD0iTTE0IDloNyIvPjxwYXRoIGQ9Ik0xNCAxNWg3Ii8+PHBhdGggZD0iTTE0IDIwaDciLz48L3N2Zz4=) no-repeat;
          }
        }
      }

      &:nth-child(4) {
        border-bottom: var(--border);

        .team_avatar {
          background: url(./assets/profile.jpeg) no-repeat;
          background-position: 50% 37%;
        }

        & > .sidebar_item_link {
          & > .sidebar_link_icon {
            background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9InJnYigxNzMgMTczIDE3MykiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jYWxlbmRhci1zeW5jLWljb24gbHVjaWRlLWNhbGVuZGFyLXN5bmMiPjxwYXRoIGQ9Ik0xMSAxMHY0aDQiLz48cGF0aCBkPSJtMTEgMTQgMS41MzUtMS42MDVhNSA1IDAgMCAxIDggMS41Ii8+PHBhdGggZD0iTTE2IDJ2NCIvPjxwYXRoIGQ9Im0yMSAxOC0xLjUzNSAxLjYwNWE1IDUgMCAwIDEtOC0xLjUiLz48cGF0aCBkPSJNMjEgMjJ2LTRoLTQiLz48cGF0aCBkPSJNMjEgOC41VjZhMiAyIDAgMCAwLTItMkg1YTIgMiAwIDAgMC0yIDJ2MTRhMiAyIDAgMCAwIDIgMmg0LjMiLz48cGF0aCBkPSJNMyAxMGg0Ii8+PHBhdGggZD0iTTggMnY0Ii8+PC9zdmc+) no-repeat;
          }
        }
      }
      
      &:nth-child(5) {
        & > .sidebar_item_link {
          & > .sidebar_link_icon {
            background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9InJnYigxNzMgMTczIDE3MykiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1pbmJveC1pY29uIGx1Y2lkZS1pbmJveCI+PHBvbHlsaW5lIHBvaW50cz0iMjIgMTIgMTYgMTIgMTQgMTUgMTAgMTUgOCAxMiAyIDEyIi8+PHBhdGggZD0iTTUuNDUgNS4xMSAyIDEydjZhMiAyIDAgMCAwIDIgMmgxNmEyIDIgMCAwIDAgMi0ydi02bC0zLjQ1LTYuODlBMiAyIDAgMCAwIDE2Ljc2IDRINy4yNGEyIDIgMCAwIDAtMS43OSAxLjExeiIvPjwvc3ZnPg==) no-repeat;
          }
        }
      }

      &:nth-child(6) {
        & > .sidebar_item_link {
          & > .sidebar_link_icon {
            background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9InJnYigxNzMgMTczIDE3MykiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaGFydC1uby1heGVzLWNvbWJpbmVkLWljb24gbHVjaWRlLWNoYXJ0LW5vLWF4ZXMtY29tYmluZWQiPjxwYXRoIGQ9Ik0xMiAxNnY1Ii8+PHBhdGggZD0iTTE2IDE0djciLz48cGF0aCBkPSJNMjAgMTB2MTEiLz48cGF0aCBkPSJtMjIgMy04LjY0NiA4LjY0NmEuNS41IDAgMCAxLS43MDggMEw5LjM1NCA4LjM1NGEuNS41IDAgMCAwLS43MDcgMEwyIDE1Ii8+PHBhdGggZD0iTTQgMTh2MyIvPjxwYXRoIGQ9Ik04IDE0djciLz48L3N2Zz4=) no-repeat;
          }
        }
      }
      
      &:nth-child(7) {
        border-bottom: var(--border);
        & > .sidebar_item_link {
          & > .sidebar_link_icon {
            background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9InJnYigxNzMgMTczIDE3MykiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1lbGxpcHNpcy1pY29uIGx1Y2lkZS1lbGxpcHNpcyI+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iMSIvPjxjaXJjbGUgY3g9IjE5IiBjeT0iMTIiIHI9IjEiLz48Y2lyY2xlIGN4PSI1IiBjeT0iMTIiIHI9IjEiLz48L3N2Zz4=) no-repeat;
          }
        }
      }
    }
  }

  .sidebar_footer {
    bottom: calc(var(--padding));
    position: absolute;
    width: calc(100% - var(--padding) * 2);

    .sidebar_list_item {
      margin-bottom: 1rem;

      .sidebar_item_link {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        padding-inline: calc(var(--padding) - 0.5rem);
        padding-block: 0.25rem;

        &.active, &:hover {
          border-radius: calc(var(--round) - 0.25rem);
          background-image: var(--active-bg);
        }
      }

      &:first-child > .sidebar_item_link > .sidebar_link_icon {
        background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9InJnYigxNzMgMTczIDE3MykiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jb2ctaWNvbiBsdWNpZGUtY29nIj48cGF0aCBkPSJNMTIgMjBhOCA4IDAgMSAwIDAtMTYgOCA4IDAgMCAwIDAgMTZaIi8+PHBhdGggZD0iTTEyIDE0YTIgMiAwIDEgMCAwLTQgMiAyIDAgMCAwIDAgNFoiLz48cGF0aCBkPSJNMTIgMnYyIi8+PHBhdGggZD0iTTEyIDIydi0yIi8+PHBhdGggZD0ibTE3IDIwLjY2LTEtMS43MyIvPjxwYXRoIGQ9Ik0xMSAxMC4yNyA3IDMuMzQiLz48cGF0aCBkPSJtMjAuNjYgMTctMS43My0xIi8+PHBhdGggZD0ibTMuMzQgNyAxLjczIDEiLz48cGF0aCBkPSJNMTQgMTJoOCIvPjxwYXRoIGQ9Ik0yIDEyaDIiLz48cGF0aCBkPSJtMjAuNjYgNy0xLjczIDEiLz48cGF0aCBkPSJtMy4zNCAxNyAxLjczLTEiLz48cGF0aCBkPSJtMTcgMy4zNC0xIDEuNzMiLz48cGF0aCBkPSJtMTEgMTMuNzMtNCA2LjkzIi8+PC9zdmc+) no-repeat;
      }

      &:nth-child(2) > .sidebar_item_link > .sidebar_link_icon {
        background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9InJnYigxNzMgMTczIDE3MykiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaXJjbGUtaGVscC1pY29uIGx1Y2lkZS1jaXJjbGUtaGVscCI+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iMTAiLz48cGF0aCBkPSJNOS4wOSA5YTMgMyAwIDAgMSA1LjgzIDFjMCAyLTMgMy0zIDMiLz48cGF0aCBkPSJNMTIgMTdoLjAxIi8+PC9zdmc+) no-repeat;
      }
    }

    .sidebar_help_container {
      display: flex;
      gap: 0.5rem;
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      border: var(--border);
      cursor: pointer;

      &:hover {
        background-image: var(--active-bg);
      }

      @media (hover: none) {
        &:focus {
          background-image: var(--active-bg);
        }
      }

      .user_avatar {
        background: url(./assets/profile.jpeg) no-repeat;
        background-position: 50% 10%;
      }

      .sidebar_avatar {
        width: 35px;
        height: 35px;
        border-radius: 100%;
      }

      .sidebar_user {
        display: flex;
        flex-direction: column;
        gap: 0.15rem;

        .sidebar_username {
          font-size: 0.9rem;
        }

        .sidebar_role {
          font-size: 0.8rem;
          color: rgba(255, 255, 255, 0.75);
        }
      }

      .sidebar_user_icon {
        text-align: right;
        margin-left: auto;
        align-self: center;
        background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9InJnYigxNzMgMTczIDE3MykiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaGV2cm9uLWRvd24taWNvbiBsdWNpZGUtY2hldnJvbi1kb3duIj48cGF0aCBkPSJtNiA5IDYgNiA2LTYiLz48L3N2Zz4=);
      }
    }
  }
}