.menu_navbar {
  --border-color: rgb(229 229 229);
  --border-size: 1px;
  --border-style: solid;

  --bg-color: rgb(251 251 251);
  --surface-color: rgb(238 238 238);

  --active-border-color: rgb(253 253 253);
  --active-bg-color: rgb(248 248 248);

  --regular-text-color: rgb(91 91 91);
  --active-text-color: rgb(19 19 19);

  --speed: 0.5s;
  --bounce: cubic-bezier(.47, 1.64, .41, .8);
  --width: 6.5rem;

  border: var(--border-size) var(--border-style) var(--border-color);
  padding: 0.25rem;
  background-color: var(--bg-color);
  border-radius: 0.75rem;
  box-shadow: 0 3px 3px 0 rgb(0 0 0 / 0.1);

  &:has(> .navbar > .menu_item:nth-child(1):hover) {
    --width: 6.5rem;
  }
  
  &:has(> .navbar > .menu_item:nth-child(2):hover) {
    --width: 6.5rem;
  }
  
  &:has(> .navbar > .menu_item:nth-child(3):hover) {
    --width: 6rem;
  }
  
  &:has(> .navbar > .menu_item:nth-child(4):hover) {
    --width: 6.15rem;
  }

  .navbar {
    list-style: none;
    display: flex;
    border-radius: 0.5rem;
    background-color: var(--surface-color);
    padding: 0.25rem;
    overflow: hidden;

    .menu_item {
      
      
      & a {
        display: flex;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        font-weight: bold;
        align-items: center;
        color: var(--regular-text-color);
        transition: var(--speed);

        .icon {
          display: grid;

          & > * {
            grid-area: stack;
            transition: var(--speed) var(--bounce);

            &:last-child {
              translate: 0 -3rem;
            }
          }
        }

        &:hover, &.active {
          anchor-name: --active;
          color: var(--active-text-color);

          .icon > *:last-child {
            translate: 0 0;
          }
          
          .icon > *:first-child {
            translate: 0 3rem;
          }
        }
      }
    }

    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      width: var(--width);
      height: calc(100% - 10px);
      border-radius: 0.40rem;
      border: 1px solid var(--active-border-color);
      background-color: var(--active-bg-color);
      z-index: -1;
      box-shadow: 0 2px 1px 0 rgb(0 0 0 / 0.1);
      position-anchor: --active;
      top: anchor(top);
      right: anchor(center);
      left: anchor(left);
      transition: var(--speed) var(--bounce);
    }
  }
}
