.container {
  display: grid;
  grid-template-columns: repeat(1, auto);
  width: 100vw;
  padding-inline: 2.5rem;
  gap: 2rem;
  margin: 0 auto;

  .section_title {
    grid-column: span 12;
    font-size: 2rem;
    text-align: center;
    width: calc(100% / 1.25);
    align-self: center;
    justify-self: center;
  }

  .section_description {
    grid-column: span 12;
    display: flex;
    justify-self: center;
    text-align: center;
    line-height: 1.5rem;
  }

  .section_image {
    grid-column: span 12;

    & img {
      width: 100%;
      height: auto;
      aspect-ratio: 1;
      object-fit: cover;
      border-radius: 1rem;
    }
  }
  
  .section_article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top: 2px solid rgb(230 230 230);
    padding-block: 1rem;
    grid-column: span 12;

    .section_link {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      position: relative;
      width: fit-content;

      &::after {
        position: absolute;
        content: "";
        bottom: -6px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgb(79 79 79);
      }
    }

    &:nth-of-type(odd) {
      grid-column: 1 / 6;
    }
    
    &:nth-of-type(even) {
      grid-column: 6 / 12;
    }
  }
  
  @media screen and (min-width: 600px) and (max-width: 1800px) {
    grid-template-columns: repeat(12, 1fr);
    width: max(1400px);
    margin: 0 auto;

    .section_title {
      grid-column: span 3;
      font-size: 1.5rem;
      text-align: left;
    }

    .section_description {
      grid-column: 7 / 11;
      text-align: left;
      padding-block-start: 1rem;
    }

    .section_image {
      grid-row: 2 / span 2;
      grid-column: 1 / span 4;
    }

    .section_article {
      &:nth-of-type(odd) {
        grid-column: 5 / 8;
      }
      
      &:nth-of-type(1) {
        grid-row: 2 / 2;
      }

      &:nth-of-type(3) {
        grid-row: 3 / 4;
      }
      
      &:nth-of-type(even) {
        grid-column: 9 / 12;
      }
      
      &:nth-of-type(2) {
        grid-row: 2 / 2;
      }
      
      &:nth-of-type(4) {
        grid-row: 3 / 4;
      }
    }
  }
}
