.dropdown_container {
  --bg-color: rgb(255 255 255);
  --state-hover-bg-color: rgb(245 245 245);
  --border-color: rgb(245 245 245);
  --text-color-primary: rgb(22 21 32);
  --text-color-secondary: rgb(139 138 140);
  --toggle-button-bg-color: rgb(213 213 216);

  .dropdown_button_menu {
    color: var(--text-color-primary);
    display: flex;
    gap: 0.5rem;
    width: min(20rem);
    padding: 1rem;
    border-radius: 0.75rem;
    border: none;
    background-color: var(--bg-color);
    anchor-name: --menu-button;
    cursor: pointer;

    .dropdown_dp_container {
      padding: .25rem 0.40rem;
      border-radius: 10rem;
      border: 1px solid #cccccc;
    }

    .dropdown_user {
      display: flex;
      flex-direction: column;
      gap: 0.15rem;

      .dropdown_username {
        font-size: 1.1rem;
      }
      .dropdown_role {
        text-align: left;
        color: var(--text-color-secondary);
      }
    }

    .menu_icon_container {
      flex-basis: 40%;
      align-self: center;
      margin-left: auto;
      text-align: right;

      .menu_icon {
        rotate: 180deg;
        transition: rotate 0.3s;

        &.menu_open {
          rotate: 0deg;
        }
      }
    }
  }

  .separator {
    border-bottom: 1px solid var(--border-color);
  }

  .dropdown_menu_items {
    position-anchor: --menu-button;
    position-area: bottom center;
    margin-top: 0.5rem;
    background-color: var(--bg-color);
    border-radius: 0.75rem;
    width: min(20rem);
    color: var(--text-color-primary);
    border: none;
    transition: 1s;

    .dropdown_list_item_container {
      .dropdown_item_section_title {
        font-size: 0.8rem;
        padding-inline: 0.75rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        display: block;
      }
    }

    .dropdown_list_item {
      display: flex;
      font-size: 0.9rem;
      padding: 0.5rem;
      padding-inline: 0.75rem;
      transition: 0.8s;

      &:hover:not(:first-child) {
        border-radius: 0.5rem;
        background-color: var(--state-hover-bg-color);
      }

      .dropdown_button_toggle_container {
        position: relative;

        .toggle_online_status {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            padding: 5px;
            right: -3px;
            top: -2px;
            width: 35px;
            height: 100%;
            border-radius: 10rem;
            cursor: pointer;
            transition: 0.5s;
            background: var(--toggle-button-bg-color);
          }

          &::after {
            content: "";
            position: absolute;
            left: -26px;
            top: 1px;
            padding: 0.55rem;
            border-radius: 10rem;
            cursor: pointer;
            transition: 0.5s;
            background-color: var(--bg-color);
          }

          &:checked {
            &::after {
              left: -4px;
            }
          }
        }
      }

      .icon {
        margin-right: 0.25rem;
      }

      .dropdown_button_toggle_container {
        flex-basis: 60%;
        text-align: right;
        margin-left: auto;
      }

      .icon_logout_container {
        flex-basis: 100%;
        text-align: right;
        margin-left: auto;
      }

      &.logout_container {
        padding: 0.75rem;
        padding-inline: 0.75rem;
      }
    }
  }
}