.actions_list {
  --icon-hover-color: rgb(191 105 73);
  --border-color: rgb(217, 217, 217);
  --text-color: rgb(75 75 75);
  --bounce: cubic-bezier(.47, 1.64, .41, .8);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  box-shadow: 0 10px 10px 0 rgb(0 0 0 / 0.05);

  .actions_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    padding: 1.5rem;

    &:hover {
      & > .icon {
        box-shadow: 0 1rem 1rem 0rem rgb(0 0 0 / 0.05);
      }

      & > .icon > svg {
        stroke: var(--icon-hover-color);
      }

      & > .desc {
        z-index: 1;
        opacity: 1;
        filter: blur(0);
        top: -2.5rem;

        & > span {
          translate: 0 0;
        }
      }
    }

    .desc {
      transition: 0.5s;
      z-index: -1;
      position: absolute;
      width: 15rem;
      opacity: 0;
      font-size: 0.8rem;
      filter: blur(3px);
      top: -3rem;
      padding: 1rem;
      color: rgb(255 255 255);
      border-radius: 1rem;
      background-color: rgb(115 115 115);
      overflow: hidden;
      
      & > span {
        transition: 0.5s var(--bounce);
        transition-delay: 0.05s;
        display: block;
        translate: 0 -4rem;
      }
    }

    .icon {
      transition: 0.5s;
      padding: 0.5rem 1.75rem;
      border-radius: 10rem;
      border: 1px solid var(--border-color);

      & > svg {
        transition: 0.5s;
        stroke-width: 1.5px;
      }
    }

    &:nth-child(1) {
      border: 1px solid var(--border-color);
    }

    &:nth-child(2), &:nth-child(3), &:nth-child(4) {
      border-top: 1px solid var(--border-color);
      border-right: 1px solid var(--border-color);
      border-bottom: 1px solid var(--border-color);
    }

    &:nth-child(5) {
      border-right: 1px solid var(--border-color);
      border-bottom: 1px solid var(--border-color);
      border-left: 1px solid var(--border-color);
    }

    &:nth-child(6), &:nth-child(7), &:nth-child(8) {
      border-right: 1px solid var(--border-color);
      border-bottom: 1px solid var(--border-color);
    }
  }
}