.page_title {
  text-align: center;
  margin-block: 1rem;
  border-bottom: 1px solid rgb(40 40 40 / 0.2);
  padding-block: 1rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 70vw;
  margin: 0 auto;
  padding-block-end: 6rem;

  .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    position: relative;

    .product_photo {
      width: 100%;
      height: auto;
      aspect-ratio: 1;
      border-radius: 1rem;
      object-fit: cover;
      outline: 4px solid rgb(255 255 255);
    }

    .product_image {
      position: relative;
    }

    .product_caption {
      padding-block: 1rem;
      display: flex;
      gap: 0.5rem;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 1rem 0.5rem;
    }

    .buy_button {
      background-color: rgb(100 100 100 / 0.7);
      display: flex;
      align-items: center;
      padding: 0.15rem;
      gap: 0.5rem;
      padding-inline-start: 0.75rem;

      .button_icon {
        background-color: rgb(255 255 255);
        border-radius: 10rem;
        width: 2rem;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
      }
    }

    .product_price, .buy_button {
      color: rgb(255 255 255);
      
      border-radius: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;
      
    }
    
    .product_price {
      margin-left: auto;
      background-color: rgb(40 40 40);
      padding: 0.5rem 1rem;
      gap: 0.25rem;
    }

    .product_name {
      font-size: 1.1rem;
    }

    .button_cart {
      position: absolute;
      top: 1rem;
      right: 1rem;
      padding: 0.60rem 0.65rem;
      border-radius: 10rem;
      border: none;
      cursor: pointer;
      background-color: rgb(255 255 255);
      color: rgb(40 40 40);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .info {
      display: flex;
    }

    .product_reviews {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      margin-left: auto;
    }
  }
}
