.page_title {
  text-align: center;
  margin-block: 1rem;
  border-bottom: 1px solid rgb(40 40 40 / 0.2);
  padding-block: 1rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 70vw;
  margin: 0 auto;
  padding-block-end: 6rem;

  .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    position: relative;

    .product_photo {
      width: 100%;
      height: auto;
      aspect-ratio: 1;
      border-radius: 1rem;
      object-fit: cover;
      outline: 4px solid rgb(255 255 255);
    }

    .product_image {
      position: relative;
    }

    .product_caption {
      padding-block: 1rem;
      display: flex;
      gap: 0.5rem;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 1rem 0.5rem;
    }

    .buy_button {
      background-color: rgb(100 100 100 / 0.7);
      display: flex;
      align-items: center;
      padding: 0.15rem;
      gap: 0.5rem;
      padding-inline-start: 0.75rem;

      .button_icon {
        background-color: rgb(255 255 255);
        border-radius: 10rem;
        width: 2rem;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
      }
    }

    .product_price, .buy_button {
      color: rgb(255 255 255);
      
      border-radius: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;
      
    }
    
    .product_price {
      margin-left: auto;
      background-color: rgb(40 40 40);
      padding: 0.5rem 1rem;
      gap: 0.25rem;
    }

    .product_name {
      font-size: 1.1rem;
    }

    .button_cart {
      position: absolute;
      top: 1rem;
      right: 1rem;
      padding: 0.60rem 0.65rem;
      border-radius: 10rem;
      border: none;
      cursor: pointer;
      background-color: rgb(255 255 255);
      color: rgb(40 40 40);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .info {
      display: flex;
    }

    .product_reviews {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      margin-left: auto;
    }
  }
}

.filter_container {
  display: flex;
  gap: 1rem;
  width: 70vw;
  margin: 1rem auto;

  .filter_sort {
    margin-left: auto;
  }

  select {
    appearance: base-select;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    width: 9rem;

    option {
      padding: 0.75rem 0.5rem;
    }

    &::picker(select) {
      appearance: base-select;
    }

    &::picker-icon {
      color: transparent;
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="rgb(141 146 153)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>') no-repeat;
      padding-right: 0.25rem;
      margin-top: 0.25rem;
    }

    &:open {
      &::picker(select) {
        padding: 1rem;
        background-color: rgb(255 255 255);
        border: 1px solid rgb(238 238 240);
        border-radius: 0.5rem;
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 0.2);
        color: rgb(67 68 82);
        padding: 0.25rem;
      }
    }
  }
}