.container {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .header {
    display: flex;
    flex-direction: column;

    .sort {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      & > span {
        color: rgb(40 40 40 / 0.5);
        font-size: 0.8rem;
      }

      & > select {
        appearance: base-select;
        padding: 0.25rem 0.5rem;
        border: 1px solid rgb(40 40 40 / 0.2);
        font-size: 0.8rem;
        cursor: pointer;
      }
    }

    & > div {
      display: flex;
      gap: 1rem;
      align-items: center;

      .toggle_view {
        display: flex;
        /* gap: 0.5rem; */

        .button_grid {
          border-top-left-radius: 0.25rem;
          border-bottom-left-radius: 0.25rem;
        }
        
        .button_list {
          border-top-right-radius: 0.25rem;
          border-bottom-right-radius: 0.25rem;
        }

        & label {
          background-color: rgb(40 40 40 / 0.1);

          &:has(input:checked) {
            background-color: rgb(40 40 40 / 0.2);
          }
        }

        & label {
          cursor: pointer;
          padding: 0.25rem 0.5rem;
          display: flex;

          &:hover {
            background-color: rgb(40 40 40 / 0.2);
          }
        }

        & input {
          display: none;
        }
      }
    }
  }

  &:has(.list_input:checked) {
    .contents {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .card {
      display: flex;
      gap: 0.25rem;

      .liked {
        left: 0.5rem;
        top: 0.25rem;
      }

      .card_media {
        width: 6rem;
        height: auto;
        aspect-ratio: 2 / 1;
        border-radius: 0;
        border-top-left-radius: 0.75rem;
        border-bottom-left-radius: 0.75rem;
      }

      .card_contents > div:first-child {
        display: flex;
        width: 210%;

        .price {
          margin-left: auto;
        }
      }
    }
  }

  .contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .card {
    width: 100%;
    border-radius: 0.75rem;
    border: 1px solid rgb(40 40 40 / 0.1);
    position: relative;

    .liked {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    }

    .card_media {
      width: 100%;
      height: auto;
      aspect-ratio: 2 / 1;
      object-fit: cover;
      border-top-left-radius: 0.75rem;
      border-top-right-radius: 0.75rem;
    }

    .card_contents {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 0.5rem;

      /* & > div:first-child, div:last-child, .place {
        display: flex;
        padding-inline: 0.5rem;
      } */
      & > div:first-child, div:last-child, .place {
        display: flex;
        padding-inline: 0.5rem;
        align-items: flex-start;
      }

      & > div:last-child {
        gap: 0.5rem;

        & > span {
          display: flex;
          align-items: center;
          gap: 0.25rem;
          color: rgb(40 40 40 / 0.5);
          font-size: 0.6rem;
        }
      }

      .price {
        background-color: rgb(244 244 244);
        padding: 0.25rem 0.5rem;
        font-size: 0.6rem;
        font-weight: bold;
        border-radius: 10rem;
        margin-left: auto;
      }

      .place {
        color: rgb(40 40 40 / 0.5);
        font-size: 0.8rem;
      }

      .title {
        font-weight: bold;
      }
    }
  }
}