.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  & * {
    transition: 0.3s;
  }

  & button {
    border: none;
    background: rgb(185 185 190);
    cursor: pointer;
  }

  .button {
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: rgb(98 98 98);
    background-color: rgb(254 254 254);
    border: 1px solid rgb(230, 230, 230);
    width: fit-content;

    cursor: pointer;

    display: flex;
    gap: 0.5rem;
    box-shadow: 0 1.5px 1px 0px rgb(40 40 40 / 0.2);

    &.visible {
      opacity: 1;
      display: flex;

      @starting-style {
        opacity: 0;
      }
    }

    &.hide {
      opacity: 0;
      display: none;
    }

    &:hover {
      background-color: rgb(249 249 249);
    }

    .button_input {
      display: none;
    }
  }

  &:has(.button > .button_input:checked) {
    .button {
      opacity: 0;
    }

    .options_list {
      opacity: 1;
      display: flex;
      translate: 0 0;

      @starting-style {
        opacity: 0;
      }
    }
  }

  .options_list {
    display: none;
    opacity: 0;
    flex-direction: column;
    gap: 0.5rem;
    align-content: center;
    justify-content: center;
    gap: 1rem;
    width: 20rem;

    padding: 1rem;
    border: 1px solid rgb(246 246 246);
    border-radius: 1rem;
    transition: 0.3s var(--bounce) 0.3s;
    box-shadow: 0 0 0.5rem 0.25rem rgb(40 40 40 / 0.2);

    &.hide {
      display: none;
      opacity: 0;

      & * {
        opacity: 0;
      }
    }

    &.visible {
      opacity: 1;
      display: flex;

      & * {
        opacity: 1;
      }

      @starting-style {
        opacity: 0;
      }
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      width: 100%;

      .button_close {
        margin-left: auto;
        font-size: 1rem;
        width: 20px;
        aspect-ratio: 1;
        border-radius: 10rem;
        rotate: 45deg;
      }
    }

    .desc {
      color: rgb(136 136 136);
      font-size: 0.8rem;
      line-height: 1.1rem;
      letter-spacing: 0.03rem;
    }

    & ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      list-style: none;

      li {
        & > a {
          display: flex;
          gap: 0.75rem;
          align-items: center;
          padding: 0.5rem 0.75rem;
          background-color: rgb(252 252 252);
          border: 1px solid rgb(246 246 246);
          border-radius: 1rem;
          font-size: 0.8rem;
          transition: 0.3s;

          &:hover {
            background-color: rgb(240, 240, 240);
          }

          & > div {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
          }

          .info {
            color: rgb(158 158 158);
          }

          & > svg:last-child {
            margin-left: auto;
          }
        }
      }
    }
  }
}