.card {
  width: 20rem;
  border-radius: 1rem;
  position: relative;
  box-shadow: 0 0rem 1rem 0.25rem rgb(40 40 40 / 0.3);
  transition: 0.2s var(--bounce);

  &:hover {
    rotate: 2deg;
    box-shadow: none;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgb(40 40 40), rgb(40 40 40 / 0) 130%);
    z-index: 1;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-block-start: 2rem;
  }

  .card_media {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 1rem;
    transition: 0.2s;
  }

  .card_geo {
    display: flex;
    padding: 1rem;
    position: absolute;
    width: 100%;

    .card_pill {
      background-color: rgb(105, 105, 105, 0.7);
      border-radius: 10rem;
      padding: 0.25rem 0.5rem;
      font-size: 0.7rem;
      color: rgb(255 255 255);
      backdrop-filter: blur(3px);
      display: flex;
      align-items: center;
    }

    .card_availability {
      margin-left: auto;
    }
  }

  .card_info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    color: rgb(255 255 255);
    z-index: 2;

    .card_title {
      font-size: 1.25rem;
    }

    .card_price {
      > span {
        color: rgb(204, 204, 204);
        font-size: 0.7rem;
      }
    }

    .card_ameneties {
      display: flex;
      gap: 0.5rem;

      > section {
        display: flex;
        flex-direction: row;
        gap: 0.25rem;
        align-items: center;
        background-color: rgb(90, 90, 90);
        padding: 0.25rem 0.5rem;
        border-radius: 10rem;
        font-size: 0.6rem;
      }
    }
  }
}