:where(.product_colors, .product_sizes) {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  > div {
    display: flex;
    gap: 1rem;
  }

  input {
    display: none;
  }

  .section_title {
    grid-column: span 12;
  }

  :where(.product_color, .product_size) {
    width: 2.25rem;
    aspect-ratio: 1;
    background-color: var(--product-color);
    cursor: pointer;
    transition: 0.3s, scale 0.1s;
    border-radius: 0.25rem;

    &:hover {
      opacity: 0.8;
    }
  }

  .product_color {
    outline: 1px solid rgb(255 255 255 / 0);
    outline-offset: -3px;

    &:active {
      scale: 0.97;
    }
  }

  .product_color:has(input:checked) {
    outline: 1px solid rgb(255 255 255 / 1);
  }

  .product_size {
    outline: 1px solid rgb(206, 206, 206);
    
    display: flex;
    align-items: center;
    justify-content: center;

    &:has(input:checked) {
      border-color: rgb(238 238 238);
      background-color: rgb(0 0 0);
      color: rgb(240 240 240);
    }

    &:active {
      scale: 0.97;
    }
  }
}