.tasks_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  width: 20rem;
  background-color: rgb(255 255 255);
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem 0.5rem rgb(40 40 40 / 0.1);

  > li {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    transition: 0.3s;
    border-radius: 0.85rem;

    &:hover {
      background-color: rgb(245 245 245);
    }

    .title {
      font-weight: bold;
      text-transform: capitalize;
      font-size: 1.25rem;
      transition: 0.3s;
      position: relative;
    }

    .duration {
      color: rgb(130 130 130);
      transition: 0.3s;
      position: relative;
      width: fit-content;
    }

    .title, .duration {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        width: 0;
        height: 2px;
        background-color: rgb(40 40 40 / 0.6);
        transition: 0.3s var(--bounce);
      }
    }

    div {
      display: flex;
      gap: 0.25rem;
      flex-direction: column;
    }

    &:has(input:checked) {
      label::after {
        opacity: 1;
      }

      .title, .duration {
        &::before {
          width: 110%;
        }
      }
    }

    label {
      margin-left: auto;
      margin-right: 0.25rem;
      display: flex;
      cursor: pointer;
      position: relative;
      translate: 0 10px;

      & input {
        display: none;
      }

      &::before {
        content: "";
        top: 0;
        right: 0;
        width: 25px;
        height: 25px;
        border-radius: 10rem;
        border: 1px solid rgb(213 213 213);
        position: absolute;
      }

      &::after {
        content: "";
        top: 8px;
        right: 5px;
        width: 15px;
        height: 5px;
        border-left: 1px solid rgb(163, 163, 163);
        border-bottom: 1px solid rgb(163, 163, 163);
        position: absolute;
        rotate: -45deg;
        transition: 0.2s;
        opacity: 0;
      }
    }
  }
}