.controls {
  display: flex;
  gap: 1rem;
  
  .button {
    
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: 0.3s, scale 0.1s;

    &:hover {
      background-color: rgb(0 0 0 / 0.7);
    }

    &:active {
      scale: 0.97;
    }
  }

  .add_button {
    background-color: rgb(0 0 0);
  }
  
  :where(.buy_now_button, .bookmark_button) {
    background-color: rgb(229 229 229);
    color: rgb(40 40 40);
  }
}