.button {
  --bounce: cubic-bezier(.47, 1.64, .41, .8);
  --pos: 3.75rem;
  
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(40 40 40);
  background-color: rgb(246 246 246 / 0.5);
  backdrop-filter: blur(3px);
  display: grid;
  border-radius: 10rem;
  z-index: 1;

  & * {
    transition: 0.3s var(--bounce);
  }

  .button_checkbox {
    display: none;
  }

  &:has(.button_checkbox:checked) {
    &::before {
      scale: 3;
      border: 0.25px solid rgb(40 40 40 / 0.1);
    }

    .icon_delete, .icon_share, .icon_edit, .icon_star {
      display: flex;
      opacity: 1;

      @starting-style {
        opacity: 0;
        translate: 0;
      }
    }

    .button_label {
      opacity: 0;
    }

    .button_close {
      opacity: 1;
      font-size: 2rem;
      border-radius: 10rem;
    }
    
    .icon_delete {
      translate: 0 calc(var(--pos) * -1);
      position: relative;

      &:hover {
        &::before {
          content: "Delete";
          translate: 0 var(--pos);
          opacity: 1;

          @starting-style {
            opacity: 0;
          }
        }
      }
    }

    .icon_edit {
      translate: 0 var(--pos);

      &:hover {
        &::before {
          content: "Edit";
          position: absolute;
          z-index: 1;
          opacity: 1;
          translate: 0 calc(var(--pos) * -1);
        }
      }
    }

    .icon_star {
      translate: var(--pos) 0;

      &:hover {
        &::before {
          content: "Star";
          position: absolute;
          opacity: 1;
          translate: calc(var(--pos) * -1) 0;
        }
      }
    }
    
    .icon_share {
      translate: calc(var(--pos) * -1) 0;

      &:hover {
        &::before {
          content: "Export";
          translate: var(--pos) 0;
          opacity: 1;
        }
      }
    }
  }

  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-color: rgb(246 246 246);
    width: 100%;
    height: 100%;
    scale: 1;
    z-index: -1;
    border-radius: 10rem;
    transition: 0.3s var(--bounce);
  }

  .icon_delete, .icon_share, .icon_edit, .icon_star {
    border-radius: 10rem;
    border: 1px solid rgb(40 40 40 / 0.1);
    background-color: rgb(255 255 255);
    translate: 0;
    color: rgb(170 170 170);
    
    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      opacity: 0;
      transition: 0.5s, translate 0s;
    }
  }

  &:has(.icon:hover) {
    .button_close {
      opacity: 0;
    }
  }

  & > button {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
    z-index: -1;
  }

  & > * {
    grid-area: 1 / 1;
    width: 2.5rem;
    aspect-ratio: 1;

    &:first-child {
      font-size: 2rem;
      font-weight: bold;  
      color: rgb(190 190 190);
    }

    &:not(:last-child) {
      display: flex;
      opacity: 0;
    }
  }

  .button_label {
    opacity: 1;
  }

  .button_close {
    opacity: 0;
  }

  .icon, .button_close, .button_label{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}