.card_container {
  --opacity: 1;
  --brand-color: rgb(0 0 0 / var(--opacity));
  --support-color: rgb(255 255 255 / var(--opacity));
  --speed: 0.4s;
  --bounce: cubic-bezier(.47, 1.64, .41, .8);

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-self: center;
  gap: 5rem;

  &:has(input[type="checkbox"]:checked) {
    & > .card > figure:nth-child(1), 
    & > .card > figure:nth-child(2) {
      rotate: 0deg;
      translate: 1rem 1rem;
    }

    & > .card > figure:nth-child(3) {
      transition-delay: 0.5s;
      scale: 1.5;
      padding: 0;
      inset: 0;
      width: 200px;
      height: 200px;
      border-radius: 0.25rem;
      
      & > img {
        border-radius: 0.25rem;
        transition-delay: 0.5s;
      }

      & > figcaption {
        translate: 10px -30px;
        transition-delay: 0.4s;
        color: rgb(255 255 255);
        font-size: 1rem;
      }
    }
  }

  & > label {
    cursor: pointer;
    padding: 0.75rem 2rem;
    border-radius: 10rem;
    border: none;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: var(--brand-color);
    text-align: center;
    display: grid;
    color: rgb(255 255 255);
    transition: var(--speed);

    &:hover {
      background-color: rgb(0 0 0 / 0.7);
    }

    &:has(input[type="checkbox"]:checked) {
      padding: 0.75rem 0.10rem;
      background-color: rgb(0 0 0 / 0.5);
    }

    & > input[type="checkbox"] {
      display: none;

      &:checked + .btn_label_start {
        opacity: 0;
      }

      &:checked + * + .btn_label_close {
        opacity: 1;
      }
    }

    & > span {
      grid-area: 1 / 1;
      transition: var(--speed);
    }

    & > span:nth-of-type(2) {
      opacity: 0;
      rotate: 45deg;
    }
  }

  .card {
    display: grid;
    height: 220px;

    & > * {
      transition: var(--speed) var(--bounce);
    }

    & > figure {
      padding: 0.75rem;
      width: 150px;
      grid-area: 1 / 1;
      background-color: rgb(255 255 255);
      box-shadow: 0 3px 10px 0rem rgb(0 0 0 / 0.5);

      & > img {
        transition: var(--speed);
        object-fit: cover;
      }

      & > figcaption {
        font-weight: bold;
        font-size: 1.3rem;
        transition: var(--speed) var(--bounce);
        text-align: left;
      }

      &:nth-child(3) {
        width: 225px;
      }

      &:nth-child(1) {
        rotate: -10deg;
        translate: -3rem 1rem;
        z-index: -1;
        width: 180px;
        aspect-ratio: 1;
      }

      &:nth-child(2) {
        width: 180px;
        aspect-ratio: 1;
        rotate: 15deg;
        z-index: -2;
        translate: 6rem 0.25rem;
      }
    }
  }
}