.button_container {
  --color: rgb(190 192 202);

  padding: 1rem;
  border: none;
  background: transparent;
  cursor: pointer;
  width: 0;

  &:hover {
    & > .expand {
      & > .button:first-child {
        rotate: -45deg;
        translate: 0 11px;
      }

      & > .button:last-child {
        rotate: 45deg;
        translate: 0 -11px;
      }
    }

    & > .collapse {
      & > .button:first-child {
        rotate: 45deg;
        translate: 0 11px;
      }

      & > .button:last-child {
        rotate: -45deg;
        translate: 0 -11px;
      }
    }
  }

  .button {
    width: 3px;
    height: 3rem;
    background-color: var(--color);
    display: block;
    transition: 1s;
  }
}