.container {
  --bounce: cubic-bezier(.47, 1.64, .41, .8);

  width: 100%;

  .table {
    width: 100%;
    text-align: left;

    .table_head {
      .head_column {
        & > div {
          display: flex;
          gap: 0.5rem;
          align-items: center;
          color: rgb(167 167 167);
          font-weight: normal;
          margin-bottom: 0.5rem;
          padding-block: 0.5rem;
        }
      }
    }

    .table_body {
      & > * {
        transition: 0.5s;
      }

      & > tr:has(input:checked) {
        background-color: rgb(248, 253, 223);
      }

      & tr:nth-of-type(even) {
        background-color: rgb(253, 236, 245);
      }
      
      & tr:hover {
        background-color: rgb(255, 244, 231);
      }

      .body_column {
        padding-inline: 0.75rem;
        padding-block: 0.5rem;
        font-weight: normal;
        position: relative;

        &:hover {
          .column_text {
            & button {
              opacity: 1;
            }
          }
        }

        .column_text {
          display: flex;
          align-items: center;

          .email_text {
          }

          & button {
            margin-left: auto;
            opacity: 0;
            transition: 0.5s;
            cursor: pointer;
            anchor-name: --tooltip;
            padding: 0.15rem 0.25rem;
            background: none;
            border: none;
            box-shadow: 0 0 1px 0 rgb(50 50 50);
            border-radius: 0.25rem;
            display: flex;

            &:hover + .button_tooltip {
              position-anchor: --tooltip;
              bottom: calc(anchor(top) + 0.25rem);
              left: calc(anchor(left) - 1.25rem);
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          .button_tooltip {
            display: none;
            position: absolute;
            background-color: rgb(50, 50, 50);
            padding: 0.25rem;
            border-radius: 0.25rem;
            width: 4rem;
            box-shadow: 0 0 0.25rem 0.25rem rgb(0 0 0 / 0.1);
            font-size: 0.7rem;
            text-align: center;
            color: rgb(222, 222, 222);
          }

          
        }

        & input {
          accent-color: rgb(14 53 47);
          cursor: pointer;
          border: 1px solid rgb(14 53 47);
          outline: none;

          &:hover {
            &::before {
              /* background-color: rgb(255, 226, 237); */
            }
          }

          &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
          }
        }
      }
    }
  }

  .action_bar {
    position: sticky;
    bottom: 2.5rem;
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    gap: 0.5rem;
    background-color: rgb(255 255 255 / 0/2);
    backdrop-filter: blur(2px);
    padding: 0.75rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.15rem 1rem 0.15rem rgb(0 0 0 / 0.3);
    opacity: 0;
    transition: 0.3s var(--bounce);
    translate: 0 2rem;

    &.reveal {
      opacity: 1;
      translate: 0 0rem;
    }

    & > div {
      color: rgb(121 121 121);
      padding: 0.25rem 0.5rem;
      padding-inline-end: 0.20rem;
      border: 1px solid rgb(0 0 0 / 0.1);
      border-radius: 0.25rem;
      display: flex;
      align-items: center;
      justify-content: center;

      & > button {
        display: flex;
        border: none;
        padding: 0.25rem;
      }
    }

    & button {
      cursor: pointer;
      padding: 0.5rem 0.75rem;
      border: 1px solid rgb(0 0 0 / 0.1);
      border-radius: 0.25rem;
      color: rgb(121 121 121);
      background-color: rgb(255 255 255);
      display: flex;
      align-items: center;
      gap: 0.25rem;

      &.button_delete {
        background-color: rgb(235 89 19);
        border: 1px solid rgb(235 89 19);
        color: rgb(255 255 255);
      }
    }
  }
}