@property --counter {
  syntax: "<integer>";
  initial-value: 10;
  inherits: true;
}

.button {
  --bounce: cubic-bezier(.47, 1.64, .41, .8);

  background-color: rgb(255 57 49);
  color: rgb(255 252 249);
  border-radius: 10rem;
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  user-select: none;
  overflow: hidden;
  height: 3rem;
  transition: 0.3s var(--bounce);
  position: relative;

  box-shadow: 0 0 0.25rem 0rem rgb(40 40 40 / 0.8);

  & * {
    transition: 0.4s var(--bounce) 0.1s;
  }

  & input {
    display: none;
  }

  &:has(input:checked) {
    background-color: rgb(253 248 249);
    color: rgb(255 57 49);
    width: 12rem;
  }

  .label_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    translate: 0 1.5rem;
  }

  & input:checked + * + .label_container {
    translate: 0 -1.5rem;
  }
  
  & input:checked + .button_icon {
    opacity: 1;
    display: flex;

    @starting-style {
      opacity: 0;
    }
  }
  
  & input:checked + * + * + .button_counter {
    opacity: 1;
    display: flex;

    &::after {
      animation: counter 6s linear forwards;
      counter-reset: count var(--counter);
      content: counter(count);
    }

    @starting-style {
      opacity: 0;
    }
  }

  .button_icon {
    opacity: 0;
    display: none;
    background-color: rgb(255 57 49);
    color: rgb(250 250 250);
    padding: 0.25rem 0.25rem;
    border-radius: 10rem;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    position: relative;
    transition: 0.2s;

    anchor-name: --tooltip;
  }

  &:has(input:checked):hover > .button_tooltip {
    display: flex;
    position-anchor: --tooltip;
    top: calc(anchor(top) - 3.5rem);
    opacity: 1;

    @starting-style {
      opacity: 0;
    }
  }

  .button_tooltip {
    position: fixed;
    display: none;
    opacity: 0;
    background-color: rgb(40 40 40);
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: rgb(220 220 220);
    font-weight: normal;
    font-size: 0.7rem;
    box-shadow: 0 4px 5px 0 rgb(40 40 40 / 0.5);
    transition: 0.2s 0.4s;

    &::before {
      content: "";
      position: absolute;
      bottom: -0.25rem;
      background-color: rgb(40 40 40);
      left: 48%;
      padding: 5px;
      rotate: 45deg;
    }
  }

  .button_delete_label {
    display: flex;
  }
  
  .button_cancel_label {
    display: flex;
  }

  .button_counter {
    align-items: center;
    justify-content: center;
    display: none;
    opacity: 0;
    flex-direction: column;
    gap: 2rem;
    background-color: rgb(255 57 49);
    color: rgb(250 250 250);
    padding: 0.15rem 0.40rem;
    border-radius: 10rem;
  }
}

@keyframes counter {
  from {
    --counter: 9;
  }
  to {
    --counter: 0;
  }
}