.container {
  --bg-color: rgb(255 255 255);
  --bg-status-color-progress: rgb(250, 243, 200);
  --text-status-color-progress: rgb(180, 159, 22);
  --bg-status-color-complete: rgb(229 249 224);
  --text-status-color-complete: rgb(46 120 62);
  --bg-danger-color: rgb(245 238 232);
  --text-danger-color: rgb(121 57 55);
  --text-primary-color: rgb(24 24 24);
  --text-secondary-color: rgb(156, 156, 156);
  --text-base-color: rgb(98 98 98);
  --text-supporting-color: rgb(142 114 191);
  --border-color: rgb(229, 228, 228);

  max-width: 35rem;
  padding: 1rem;
  border-radius: 0.75rem;
  background-color: var(--bg-color);
  box-shadow: 0 20px 20px 0 #c7c7c7;

  .btn {
    cursor: pointer;
    padding: 0.25rem 0.30rem;
    padding-bottom: 0;
    border-radius: 0.25rem;
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
    transition: 0.4s;

    &:hover {
      background-color: #eeeded;
    }
  }

  .task_header {
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    border-bottom: 1px solid var(--border-color);

    .header_breadcrumb {
      font-size: 0.7rem;

      .breadcrumb_back {
        color: var(--text-secondary-color);
      }
    }

    .header_actions {
      display: flex;
      gap: 0.25rem;
      align-items: flex-end;
      text-align: right;
      margin-left: auto;
    }
  }

  .badge {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    text-wrap: nowrap;
    font-weight: bold;
    font-size: 0.7rem;
    justify-content: center;

    &.progress {
      color: var(--text-status-color-progress);
      background-color: var(--bg-status-color-progress);
    }

    &.danger {
      color: var(--text-danger-color);
      background-color: var(--bg-danger-color);
    }

    &.completed {
      color: var(--text-status-color-complete);
      background-color: var(--bg-status-color-complete);
    }
  }

  .details_labels {
    flex-basis: 100px;
    display: flex;
    gap: 0.25rem;
    color: var(--text-secondary-color);
    align-items: center;
    font-size: 0.8rem;
  }

  .task_content {
    padding-top: 1rem;

    .task_title {
      display: block;
      margin-bottom: 1rem;
      font-size: 1.3rem;
    }

    .task_details {
      display: flex;
      gap: 1rem;
      font-size: 0.8rem;
      margin-bottom: 1rem;

      .details_assignee {
        display: flex;
        gap: 0.5rem;

        & > a {
          display: flex;
          gap: 0.25rem;
          align-items: center;
          padding: 0.15rem 0.25rem;
          border-radius: 0.25rem;
          border: 1px solid var(--border-color);

          & > span:first-child {
            display: block;
            width: 15px;
            height: 15px;
            border-radius: 0.15rem;
            background-color: red;
          }
        }
      }

      .details_date {
        color: var(--text-secondary-color);
      }

      .details_tags {
        display: flex;
        gap: 0.5rem;
      }
    }

    .task_desc {
      & > p {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
        margin-top: 1rem;
        border-radius: 0.75rem;
        text-wrap: pretty;
        border: 1px solid var(--border-color);
      }
    }
    
    .task_attachments_container {
      margin-top: 1rem;
      display: flex;

      .task_action_download {
        display: block;
        font-size: 0.8rem;
        font-weight: bold;
        text-align: right;
        width: 100%;
        color: var(--text-supporting-color);

        & > img {
          margin-right: 0.25rem;
        }

        & > span {
          vertical-align: top;
        }
      }
    }

    .task_attachment_contents {
      margin-top: 1rem;
      border-radius: 0.5rem;

      .btn_attach {
        cursor: pointer;
        padding: 0.5rem 0.75rem;
        border-radius: 0.5rem;
        border: 1px solid var(--border-color);
        background-color: var(--bg-color);
      }
    }

    .task_list_container {
      margin-top: 1rem;

      .details_labels {
        padding-bottom: 1rem;
      }

      & > table {
        border-collapse: collapse;
        width: 100%;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid var(--border-color);

        & > thead {
          text-align: left;

          & > tr {
            & > th {
              margin: 0;
              padding: 0.5rem;
              font-size: 0.8rem;
              font-weight: normal;
              color: var(--text-secondary-color);
              border: 1px solid var(--border-color);
            }
          }
        }

        & > tbody {
          & > tr {

            & > td {
              margin: 0;
              padding: 0.5rem;
              font-size: 0.8rem;

              &:first-child {
                text-align: center;
              }
              
              &:last-child {
                text-wrap: nowrap;
              }

              border: 1px solid var(--border-color);
            }
          }
        }
      }
    }
  }
}