.container {
  --shadow: 0 -2px 5px 1px #cccccc;
  --gradient: radial-gradient(circle,rgba(252, 114, 225, 1) 0%, rgba(250, 250, 250, 1) 61%);
  width: 600px;
  height: 100px;
  position: relative;
}

.button {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #f19be8;
}

.hover {
  &:hover {
    z-index: 1;
  }
}

.popover {
  position-area: start center;
  position: relative;
  
  padding: 0.5rem;
  border-radius: 0.45rem;
  background-color: #ffffff;
  color: #414141;
  font-size: 0.85rem;
  border: 1px solid #cbc8c8;
  box-shadow: var(--shadow);

  display: none;
  opacity: 0;
  animation: bubble 1s linear;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: var(--gradient);
  }

  & > span {
    display: block;
    text-align: center;
    margin-block: 2px;
  }

  & > :nth-child(2) {
    color: #a4a3a3;
  }

  &:popover-open {
    display: block;
    opacity: 1;

    @starting-style {
      opacity: 0;
    }
  }
}

.dp_container {
  width: 70px;
  height: 70px;
  position: absolute;
}

.user_one_dp {
  anchor-name: --popover;

  .popover_target {
    position-anchor: --popover;
  }
}

.user_one {
  background: url(./assets/profile.jpeg) no-repeat -5px -10px;
}

.user_two_dp {
  left: 60px;
  anchor-name: --popover-user-two;

  .popover_target {
    position-anchor: --popover-user-two;
  }
}

.user_two {
  left: 0px;
  background: url(./assets/profile.jpeg) no-repeat -115px -15px; /* x, y */
}

.user_three_dp {
  left: 120px;
  anchor-name: --popover-user-three;

  .popover_target {
    position-anchor: --popover-user-three;
  }
}

.user_three {
  left: 0px;
  background: url(./assets/profile.jpeg) no-repeat -220px -15px; /* x, y */
}

.user_four_dp {
  left: 180px;
  anchor-name: --popover-user-four;

  .popover_target {
    position-anchor: --popover-user-four;
  }
}

.user_four {
  left: 0px;
  background: url(./assets/profile.jpeg) no-repeat -330px -15px; /* x, y */
}

.user_five_dp {
  left: 240px;
  anchor-name: --popover-user-five;

  .popover_target {
    position-anchor: --popover-user-five;
  }
}

.user_five {
  left: 0;
  background: url(./assets/profile.jpeg) no-repeat -325px -270px; /* x, y */
}

@keyframes bubble {
  0% {
    rotate: -30deg;
    transform: translateX(-15px);
    opacity: 0;
  }
  25% {
    rotate: 30deg;
    transform: translateX(15px);
    opacity: 1;
  }
  50% {
    rotate: -20deg;
    transform: translateX(-10px);
  }
  75% {
    rotate: 20deg;
    transform: translateX(10px);
  }
  100% {
    rotate: 0deg;
    transform: translateX(0px);
  }
}