.card {
  border-radius: 1rem;
  width: 25rem;
  aspect-ratio: 12 / 16;
  background: url(https://images.pexels.com/photos/2409681/pexels-photo-2409681.jpeg) no-repeat;
  background-size: cover;
  background-position: -120px 0px;
  box-shadow: 0 0.75rem 0.75rem 0 rgb(0 0 0 / 0.3);
  display: flex;
  align-items: flex-end;

  .content {
    width: 99.9%;
    margin-inline: auto;
    padding: 1rem;
    color: rgb(255 255 255);
    backdrop-filter: blur(3px);
    border-top: 1px solid rgb(255 255 255 / .2);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: rgb(255 255 255 / .1);

    .title_section {
      display: flex;
      align-items: center;
    }

    .trip_price {
      margin-left: auto;
      background-color: rgb(0 0 0 / 0.4);
      backdrop-filter: blur(2px);
      padding: 0.5rem 0.75rem;
      border-radius: 0.5rem;
      font-weight: bold;
    }

    .text {
      margin-top: 1rem;
      color: rgb(209, 209, 209);
    }

    .trip_tags {
      margin-top: 2rem;
      margin-bottom: 1rem;
      display: flex;
      gap: 0.5rem;

      .tag {
        background-color: rgb(55 61 61);
        padding: 0.5rem 0.75rem;
        border-radius: 0.5rem;
      }
    }

    .button {
      width: 100%;
      padding: 0.5rem 1rem;
      font-weight: bold;
      background-color: rgb(255 255 255);
      border: none;
      border-radius: 0.75rem;
      color: rgb(0 0 0);
      font-size: 1.1;

      &:active {
        scale: 0.99;
      }

      & div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
      }
    }
  }
}