.button {
  border-radius: 10rem;
  border: none;
  width: 10rem;
  height: 3rem;
  overflow: hidden;
  color: rgb(40 40 40);
  font-weight: bold;
  justify-content: center;
  display: grid;
  cursor: pointer;
  box-shadow: 0 1.5px 0.25rem 0 rgb(40 40 40 / 0.5);
  transition: 0.2s;
  
  &:active {
    scale: 0.97;
    box-shadow: none;

    .label {
      box-shadow: 0 0 2px 1px rgb(40 40 40 / 0.2) inset;
    }
  }

  & > * {
    grid-area: 1 / 1;
  }

  .label {
    backdrop-filter: blur(3px);
    padding-block-start: 0.85rem;
    text-shadow: 0 0.5px 1px rgb(255 255 255 / 1);
    color: rgb(40 40 40 / 0.9);
    font-size: 1rem;
    box-shadow: 0 0 3px 2px rgb(255 255 255 / 0.9) inset;
    border-radius: 1.5rem;
    height: 3rem;
    transition: 0.2s;
    background-color: rgb(153 163 163 / 0.3);
  }

  .webcam {
    width: 100%;
    height: 100%;
  }
}