.container {
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  gap: 4rem;

  @media screen and (max-width: 800px) {
    flex-direction: column;
  }

  .page_title {
    grid-row: 1 / 1;
    grid-column: span 2;
    align-items: center;
    justify-content: center;
    margin-block-start: 4rem;
  }

  .section_title {
    position: relative;

    &::after {
      content: attr(data-counter);
      position: absolute;
      top: -0.5rem;
      left: 6.85rem;
      background-color: blue;
      color: rgb(255 255 255);
      padding: 0.15rem 0.35rem;
      border-radius: 10rem;
      font-size: 0.6rem;
    }
  }

  .items_list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-basis: 60%;

    @media screen and (max-width: 800px) {
      border: none;
      padding: 0;
    }
  }

  .cart_item {
    display: flex;
    gap: 1rem;
    border-radius: 0.5rem;

    .color, .size {
      color: rgb(151 156 168);
      display: flex;
      align-items: center;
      gap: 0.25rem;
      font-size: 0.750rem;
      text-transform: capitalize;
    }

    .name_container {
      width: 100%;
    }

    > div {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }
  }

  &.center {
    align-items: center;
    justify-content: center;
    height: 50svh;
  }

  .empty_state {
    align-self: center;
    justify-self: center;
  }

  .image {
    width: 75px;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  .counter_container, .price_container {
    margin-left: auto;
    font-weight: bold;
    align-self: center;
  }

  .button_delete {
    margin-left: auto;
    align-self: flex-start;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    padding: 0.25rem;
    border-radius: 0.5rem;
    align-self: center;

    &:hover {
      background-color: rgb(40 40 40 / 0.1);
    }
  }

  .aggregation_container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    flex-basis: 30%;
    padding: 1rem;
    border-radius: 0.5rem;
    color: rgb(40 40 40);
    align-self: flex-start;
    position: relative;
    box-shadow: 0 0rem 0.15rem rgb(40 40 40 / 0.2);

    @media screen and (max-width: 800px) {
      align-self: center;
      width: 100%;
    }

    .box {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      .value {
        margin-left: auto;
        font-weight: bold;
      }
    }
  }

  .button_checkout {
    background-color: rgb(0 87 215);
    color:  rgb(250 250 250 / 1);
    border: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-block-start: 2rem;
    transition: 0.2s, scale 0.1s;

    &:hover {
      box-shadow: 0 0 0.5rem rgb(40 40 40 / 1);
    }

    &:active {
      box-shadow: none;
      scale: 0.98;
    }
  }
}
