.card_container {
  --bg-color: rgb(254 254 254);
  --text-primary-color: rgb(2 11 30);
  --text-secondary-color: rgb(122 123 127);
  --status-change-color: rgb(240 155 88);

  width: min(20rem);
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--bg-color);
  container-type: inline-size;
  font-size: 1.1rem;

  .card_header_title {
    font-size: 1.2rem;
    font-weight: bold;
    padding-block: 1rem;
    margin-bottom: 1rem;
    display: block;
    position: relative;

    &::before, &::after {
      content: "";
      position: absolute;
      bottom: 5px;
      left: 0;
      height: 1.5px;
    }

    &::before {
      min-width: 100%;
      background-color: rgb(238 238 238);
    }

    &::after {
      min-width: 15%;
      background-color: var(--status-change-color);
    }

    &.active {
      &::after {
        animation: expand_decoration .2s ease-in-out forwards alternate;
      }
    }
  }

  .card_body {
    color: var(--text-secondary-color);
    padding-bottom: 2rem;
    line-height: 1.5rem;
  }

  .card_footer_link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: bolder;
    font-size: 5cqi;
    transition: .3s;

    &:hover {
      color: var(--status-change-color);

      .icon {
        animation: toggle_icon .3s ease-in-out forwards alternate;
      }
    }

    .card_footer_icon {
      flex-basis: 66%;
      text-align: right;

      .icon {
        rotate: 20deg;
        translate: -3px 5px;
        opacity: 0;
      }
    }
  }
}

@keyframes expand_decoration {
  from {
    min-width: 15%;
  }
  to {
    min-width: 100%;
  }
}

@keyframes toggle_icon {
  from {
    rotate: 20deg;
    translate: -3px 5px;
    opacity: 0;
  }

  to {
    rotate: 0deg;
    translate: 0 0;
    opacity: 1;
  }
}