.button {
  --bounce: cubic-bezier(.47, 2.64, 1, .8);
  background: #6fd00d;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: .25rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  transition: all .3s;

  &:hover {
    background-color: #f79438;

    > .button_icon {
      animation: rotate_icon .3s var(--bounce)
        forwards;
    }
  }
}

.button_icon {
  animation: rotate_back_icon .1s linear forwards;
}

@keyframes rotate_icon {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 40deg;
  }
}

@keyframes rotate_back_icon {
  from {
    rotate: 40deg;
  }
  to {
    rotate: 0deg;
  }
}