.container {
  background-color: rgb(21 21 21);
  color: rgb(255 255 255);
  padding: 0.25rem;
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
  min-inline-size: 50vw;
  box-shadow: 0 0 1rem 0.5rem rgb(40 40 40 / .5);

  .empty_state {
    align-self: center;
    justify-self: center;
    padding-inline: 2rem;
    text-align: center;
    line-height: 2.25rem;
    letter-spacing: 3px;
  }

  .profile_form {
    background-color: rgb(255 255 255);
    border-radius: calc(1rem - 0.25rem);
    padding: 0.75rem;
    color: rgb(135 135 135);
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    .box {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .form_field {
      display: flex;
      gap: 1rem;
      align-items: center;

      .field_label {
        flex-basis: 35%;
      }

      .form_input {
        flex-basis: 100%;
        padding: 0.5rem;
        background: none;
        border: none;
        transition: 0.3s;
        border-radius: 0.5rem;
        cursor: pointer;
        color: rgb(40 40 40);

        &:hover {
          background-color: rgb(245 245 245);
        }

        &:focus {
          outline: 1px solid rgb(121 121 121);
        }
      }
    }

    .theme_box {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      input {
        cursor: pointer;
        position:  relative;

        &::before, &::After {
          content: "";
          position: absolute;
          z-index: 1;
          background-color: var(--color);
          width: 1.5rem;
          aspect-ratio: 1;
          border-radius: 10rem;
          top: -0.5rem;
          left: -0.5rem;
        }

        &::after {
          border: 1px solid rgb(30 30 30);
          width: 1.75rem;
          aspect-ratio: 1;
          background-color: transparent;
          left: -0.70rem;
          top: -0.68rem;
          opacity: 0;
          transition: 0.3s;
        }

        &:checked {
          &::after {
            opacity: 1;
          }
        }

        &:hover {
          &::after {
            opacity: 1;
          }
        }
      }

      .form_theme {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        flex-basis: 35%;
      }
    }




    .form_actions {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      gap: 0.5rem;
      padding-block-start: 1rem;
      border-block-start: 1px solid rgb(241 241 241);

      .button {
        background: none;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: 0.3s;

        

        

        &.button_save {
          background-color: rgb(13 13 13);
          color: rgb(255 255 255);

          &:hover {
            box-shadow: 0 0 10px 2px rgb(40 40 40 / .6);
          }

          &:active {
            box-shadow: 0 0 5px 5px rgb(40 40 40 / 0);
            scale:  0.98;
          }
        }

        &.button_cancel {
          color: rgb(134 134 134);
          position: relative;

          &::before {
            content: "";
            position: absolute;
            bottom: 5px;
            left: 8px;
            height: 1.5px;
            background-color: rgb(213, 213, 213);
            transition: 0.2s;
          }

          &:hover {
            &::before {
              inline-size: 80%;
            }
          }
        }
      }
    }
  }

  .profile_title {
    font-size: 1rem;
    color: rgb(30 30 30);
  }










  .profile_preview {
    inline-size: 25rem;
    block-size: 100%;
    transition:  0.3s;
    padding: 0.75rem;
    isolation: isolate;

    * {
      transition: 0.3s;
    }

    .preview_contents {
      padding: 0.75rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      border-radius: calc(1rem - 0.25rem);
      padding: 0.75rem;
      block-size: 100%;
      background-color: rgb(8 8 8);
      position: relative;
      background-image: linear-gradient(to top right, rgb(23 35 51), rgb(8 8 8) ,rgb(23 35 51));
      

      &::before {
        content: "";
        position: absolute;
        inline-size: calc(100% + 4px);
        block-size: calc(100% + 4px);
        top: -2px;
        left: -2px;
        background-color: rgb(255 255 255);
        z-index: -1;
        border-radius: calc(1rem - 0.25rem);
        background-image: conic-gradient(
          rgb(27 27 27 / .9),
          rgb(70 81 100),
          rgb(30 30 30),
          rgb(74 85 101)
        );
      }




      .form_avatar {
        background-color: var(--color);
        inline-size: 5rem;
        aspect-ratio: 1;
        border-radius: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 2rem;
      }





      .preview {
        background-color: rgb(47, 47, 47);
        padding: 0.5rem;
        padding-inline: 0.75rem;
        border-radius: 10rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        z-index: 10;
      }



      .form_bio {
        position: relative;
        margin-block:  1rem;

        &::before {
          content: "";
          width: 100%;
          height: 2px;
          background-image: linear-gradient(to right, transparent, rgb(49 60 72), transparent);
          z-index: 1;
          /* background-color: red; */
          position: absolute;
          top: -0.75rem;
        }
      }
    }
  }
}
