.container {
  --bg-color: rgb(239 239 241);
  --secondary-bg-color: rgb(228 227 232);
  --text-color: rgb(17 17 17);
  --supporting-text-color: rgb(79 78 85);
  --brand-color: rgb(255 255 255);
  --regular-text-size: 1rem;
  --medium-text-size: 1.1rem;
  --large-text-size: 2rem;

  --padding: 1.5rem;
  --radius: 1.5rem;

  display: flex;
  flex-direction: row;
  gap: 1rem;
  

  @media all and (max-width: 600px) {
    flex-direction: column;
  }

  .pricing {
    padding: calc(var(--padding) - 1rem);
    border-radius: var(--radius);
    background-color: var(--bg-color);
    box-shadow: 0 0.5rem 0.5rem 0rem rgb(0 0 0 / 0.3);

    .price_recommendation {
      font-size: 0.8rem;
      text-align: center;
      display: block;
      padding-bottom: 0.5rem;
    }

    .pricing_plan_details {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border-radius: calc(var(--radius) - 0.25rem);
      padding-inline: var(--padding);
      padding-block: calc(var(--padding) - 0.5rem);
      background-color: var(--secondary-bg-color);

      .pricing_header {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        padding-block: 0.5rem;
        border-bottom: 1px solid rgb(207, 207, 207);

        .plan_name {
          font-size: var(--medium-text-size);
          font-weight: bold;
        }

        .plan_offer {
          position: absolute;
          right: 0rem;
          color: var(--brand-color);
          font-size: 0.7rem;
          padding: 0.5rem;
          border-radius: 10rem;
          background-color: var(--text-color);
          animation: shake 1s ease-in-out infinite;
        }
      }

      .pricing_content {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        .plan_price {
          font-weight: bold;
          font-size: var(--large-text-size);
          align-self: flex-start;
        }

        .plan_target {
          display: flex;
          flex-direction: column;
          gap: 0.15rem;
          font-size: 0.8rem;

          & > span:last-child {
            min-width: 13rem;
          }
        }
      }

      .btn_action {
        width: 100%;
        padding: 1rem 1.5rem;
        color: var(--text-color);
        cursor: pointer;
        border: none;
        border-radius: 10rem;
        background-color: var(--brand-color);
      }
    }

    .pricing_features {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      margin-block: 2rem;

      & > li {
        display: flex;
        gap: 0.75rem;
        align-items: center;
        font-size: 0.8rem;
        padding-left: 1rem;
        
        .icon {
          width: 15px;
          aspect-ratio: 1;
          background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9InJnYigxMjMgMTIyIDEzMCkiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaGVjay1pY29uIGx1Y2lkZS1jaGVjayI+PHBhdGggZD0iTTIwIDYgOSAxN2wtNS01Ii8+PC9zdmc+) no-repeat;
          background-size: cover;
        }
      }
    }
  }
}

@keyframes shake {
  0% {
    translate: 0 0;
  }
  20% {
    translate: -20px 0;
  }
  40% {
    translate: 20px 0;
  }
  60% {
    translate: -10px 0;
  }
  80% {
    translate: 10px 0;
  }
  100% {
    translate: 0 0;
  }
}