.button_container {
  background-color: rgb(239 240 241);
  padding: 0.35rem;
  border-radius: 10rem;
  box-shadow: inset 0 0 0.25rem 0 rgb(40 40 40 / 0.4);
  transition: 0.5s;

  > button {
    border-radius: 10rem;
    width: 8rem;
    aspect-ratio: 3/1;
    cursor: pointer;
    font-size: 1.1rem;
    border: 1px solid rgb(255 255 255);
    background-image: linear-gradient(
      180deg,
      rgb(255 255 255),
      rgb(232 237 236)
    );
    color: rgb(97 97 97);
    font-weight: bold;
    transition: 0.2s;
    box-shadow: 0 0.5rem 0.5rem 0 rgb(40 40 40 / 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;

    > .label {
      display: none;
      opacity: 0;
      align-items: center;
      justify-content: center;
      gap: 0.35rem;
      transition: 0.5s;
      user-select: none;

      .button_icon {
        border: 1px solid rgb(192 192 192);
        background: linear-gradient(to bottom, rgb(193 193 193), rgb(228 226 227));
      }

      .done_icon {
        border: 1px solid rgb(70 233 126);
        background: linear-gradient(to bottom, rgb(153 249 196), rgb(96 242 155));
      }

      .status_pending {
        animation: --spin 1s linear infinite;

        .button_icon, .done_icon {
          display: flex;
          border-radius: 10rem;
          padding: 0.25rem;
        }
      }
    }

    .pending {
      .button_icon {
        display: flex;
        border-radius: 10rem;
        padding: 0.25rem;
      }
    }

    .done {
      .done_icon {
        display: flex;
        border-radius: 10rem;
        padding: 0.25rem;
      }
    }

    > :is(.initial, .pending, .done) {
      display: flex;
      opacity: 1;
      translate: 0 0;

      @starting-style {
        opacity: 0;
        translate: 0.25rem 0;
      }
    }

    &:hover {
      background-image: linear-gradient(
        180deg,
        rgb(255 255 255),
        rgb(252 252 253)
      );
      box-shadow: 0 0.5rem 0.5rem 0 rgb(40 40 40 / 0.2);
    }

    &:active {
      background-image: linear-gradient(
        180deg,
        rgb(230 232 233),
        rgb(254 254 254)
      );
    }
  }
}

@keyframes --spin {
  100% {
    transform: rotate(360deg);
  }
}
