.container {
  --opacity: 100%;
  --bg-color-finance: 123 122 198;
  --bg-color-services: 1 180 136;
  --bg-color-energy: 162 181 91;
  --bg-color-technology: 251 206 0;
  --bg-color-consumer: 247 151 24;
  --bg-color-capital: 255 92 59;
  --bg-color-health: 199 57 117;
  --bg-color-others: 239 239 239;
  --color-text-label: rgb(124 124 124 / 100%);
  --color-text-regular: rgb(48 48 48 / 100%);
  --bg-color: rgb(255, 255, 255);
  --transition-speed: 0.3s;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 25rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--bg-color);
  filter: drop-shadow(0.25rem 1rem 1rem rgb(0 0 0 / .25));

  .statistics_bar {
    width: 100%;
    display: flex;
    gap: 0.05rem;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));

    &.bar_active {
      & + .statistics > *:not(.active) {
        opacity: 0.5;
      }
    }

    & > button {
      --border-opacity: 100%;
      --border-props: 4px solid;

      padding-block: 1.5rem;
      border: none;
      cursor: pointer;
      transition: var(--transition-speed);

      &:nth-child(1) {
        --_color-border: 98 95 156;
        width: 19.938rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-bottom: var(--border-props) rgb(var(--_color-border) / var(--border-opacity));
        background-color: rgb(var(--bg-color-finance) / var(--opacity));

        &:hover {
          --opacity: 75%;
          --border-opacity: 50%;
          background-color: rgb(var(--bg-color-finance) / var(--opacity));
          border-bottom: var(--border-props) rgb(var(--_color-border) / var(--border-opacity));
        }
      }

      &:nth-child(2) {
        --_color-border: 12 146 111;
        width: 6.938rem;
        border-bottom: var(--border-props) rgb(var(--_color-border) / var(--border-opacity));
        background-color: rgb(var(--bg-color-services) / var(--opacity));

        &:hover {
          --opacity: 75%;
          --border-opacity: 50%;
          background-color: rgb(var(--bg-color-services) / var(--opacity));
          border-bottom: var(--border-props) rgb(var(--_color-border) / var(--border-opacity));
        }
      }

      &:nth-child(3) {
        --_color-border: 131 146 77;
        width: 6.625rem;
        border-bottom: var(--border-props) rgb(var(--_color-border) / var(--border-opacity));
        background-color: rgb(var(--bg-color-energy) / var(--opacity));

        &:hover {
          --opacity: 75%;
          --border-opacity: 50%;
          background-color: rgb(var(--bg-color-energy) / var(--opacity));
          border-bottom: var(--border-props) rgb(var(--_color-border) / var(--border-opacity));
        }
      }

      &:nth-child(4) {
        --_color-border: 204 164 0;
        width: 6rem;
        border-bottom: var(--border-props) rgb(var(--_color-border) / var(--border-opacity));
        background-color: rgb(var(--bg-color-technology) / var(--opacity));

        &:hover {
          --opacity: 75%;
          --border-opacity: 50%;
          background-color: rgb(var(--bg-color-technology) / var(--opacity));
          border-bottom: var(--border-props) rgb(var(--_color-border) / var(--border-opacity));
        }
      }

      &:nth-child(5) {
        --_color-border: 195 121 18;
        width: 5.313rem;
        background-color: rgb(var(--bg-color-consumer) / var(--opacity));
        border-bottom: var(--border-props) rgb(var(--_color-border) / var(--border-opacity));

        &:hover {
          --opacity: 75%;
          --border-opacity: 50%;
          background-color: rgb(var(--bg-color-consumer) / var(--opacity));
          border-bottom: var(--border-props) rgb(var(--_color-border) / var(--border-opacity));
        }
      }

      &:nth-child(6) {
        --_color-border: 205 72 46;
        width: 3.688rem;
        background-color: rgb(var(--bg-color-capital) / var(--opacity));
        border-bottom: var(--border-props) rgb(var(--_color-border) / var(--border-opacity));

        &:hover {
          --opacity: 75%;
          --border-opacity: 50%;
          background-color: rgb(var(--bg-color-capital) / var(--opacity));
          border-bottom: var(--border-props) rgb(var(--_color-border) / var(--border-opacity));
        }
      }

      &:nth-child(7) {
        --_color-border: 163 45 97;
        width: 3.125rem;
        background-color: rgb(var(--bg-color-health) / var(--opacity));
        border-bottom: var(--border-props) rgb(var(--_color-border) / var(--border-opacity));

        &:hover {
          --opacity: 75%;
          --border-opacity: 50%;
          background-color: rgb(var(--bg-color-health) / var(--opacity));
          border-bottom: var(--border-props) rgb(var(--_color-border) / var(--border-opacity));
        }
      }

      &:nth-child(8) {
        --_color-border: 191 191 191; 
        width: 10.813rem;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-bottom: var(--border-props) rgb(var(--_color-border) / var(--border-opacity));
        background-color: rgb(var(--bg-color-others) / var(--opacity));

        &:hover {
          --opacity: 75%;
          --border-opacity: 50%;
          background-color: rgb(var(--bg-color-others) / var(--opacity));
          border-bottom: var(--border-props) rgb(var(--_color-border) / var(--border-opacity));
        }
      }
    }
  }

  .statistics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    & > div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      transition: var(--transition-speed);

      .indicator {
        display: flex;
        align-self: flex-start;
        width: 12px;
        aspect-ratio: 1;
        border-radius: 100%;

        &.stat_indicator_finance {
          background-color: rgb(var(--bg-color-finance));
        }
        &.stat_indicator_consumer {
          background-color: rgb(var(--bg-color-consumer));
        }
        &.stat_indicator_services {
          background-color: rgb(var(--bg-color-services));
        }
        &.stat_indicator_capital {
          background-color: rgb(var(--bg-color-capital));
        }
        &.stat_indicator_energy {
          background-color: rgb(var(--bg-color-energy));
        }
        &.stat_indicator_healthcare {
          background-color: rgb(var(--bg-color-health));
        }
        &.stat_indicator_technology {
          background-color: rgb(var(--bg-color-technology));
        }
        &.stat_indicator_others {
          background-color: rgb(var(--bg-color-others));
        }
      }

      .stats_container {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        .stat_label {
          font-weight: bold;
          color: var(--color-text-label);
        }

        .stat_figures {
          font-weight: bold;
          color: var(--color-text-regular);
        }
      }
    }
  }
}