.product_similar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: auto;
  margin-block-end: 4rem;
  width: 81%;

  grid-row: 4 / 4;
  grid-column: span 3;

  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center;
    justify-content: center;

    .similar_container {
      flex-basis: 100%;
      flex-grow: 1;

      img {
        width:  100%;
      }
    }
  }

  .section_title {
    grid-column: span 4;
    text-align: center;
  }

  .product_title {
    font-weight: bold;
  }

  .section_subtitle {
    grid-column: span 4;
    grid-row: 2 / 2;
    text-align: center;
    margin-block-end: 1.5rem;
    color: rgb(40 40 40 / 0.7);
  }

  .product_price {
    color: rgb(40 40 40 / 0.9);
  }

  .similar_container {
    grid-row: 3 / 3;
    width: 10rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @media screen and (max-width: 600px) {
      width: 100%;
    }

    img {
      width:  100%;
      height: auto;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
}
