.user_selector {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(221 221 221);
  border-radius: 0.5rem;
  background-color: rgb(255 255 255);
  width: 15rem;
  height: 2.75rem;
  min-height: 0;
  /* height: auto; */
  position: relative;
  transition: .3s var(--bounce);
  overflow: hidden;

  .selector_input {
    position: relative;
    border-bottom: 1px solid rgb(236 236 236);
    padding: 0.5rem;
    padding-block-end: 0.5rem;

    > svg {
      position: absolute;
      left: 0.75rem;
      top: 0.85rem;
    }

    .form_input {
      background: rgb(255 255 255);
      border: 1px solid rgb(221 221 221);
      border-radius: 0.25rem;
      padding: 0.25rem 0.75rem;
      padding-inline-start: 1.5rem;
      width: 100%;
      color: rgb(40 40 40);
      transition: 0.2s;

      &:focus {
        border: 1px solid rgb(99 106 243 / 1);
        outline: 2px solid rgb(99 106 243 / 0.3);
      }
    }
  }

  .title {
    padding: 0.5rem 1rem;
    padding-block-end: 0.25rem;
  }

  &:has(.form_input:focus) {
    min-height: 15rem;
    box-shadow: 0 0 0.75rem 0.75rem rgb(40 40 40 / 0.1);

    .users_container {
      min-height: 10rem;
      opacity: 1;
      display: flex;

      @starting-style {
        opacity: 0;
      }
    }
  }

  .title {
    color: rgb(78 78 78);
  }

  .users_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-height: 0rem;
    overflow-y: auto;
    position: absolute;
    top: 4.5rem;
    background-color: rgb(255 255 255);
    width: 100%;
    transition: 0.3s;
    opacity: 0;

    list-style: none;
    padding: 0.5rem 1rem;

    .user_item {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .avatar {
        width: 25px;
        aspect-ratio: 1;
        background-color: var(--bg);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10rem;
        font-size: 0.7rem;
      }
    }
  }
}