.header {
  max-width: 80vw;
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr auto;
  position: relative;
  margin: auto;
  margin-block-end: 4rem;
}

.page_title {
  text-align: center;
  border-bottom: 1px solid rgb(40 40 40 / 0.2);
  padding-block: 1rem;
}

.cart {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 0.75rem;
  row-gap: 1.5rem;
  max-width: 70vw;
  margin: 0 auto;
  padding-block-end: 6rem;
}
