.filter_container {
  display: flex;
  gap: 1rem;
  width: 70vw;
  margin: 1rem auto;

  .filter_sort {
    margin-left: auto;
  }

  select {
    appearance: base-select;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    width: 9rem;

    option {
      padding: 0.75rem 0.5rem;
    }

    &::picker(select) {
      appearance: base-select;
    }

    &::picker-icon {
      color: transparent;
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="rgb(141 146 153)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>') no-repeat;
      padding-right: 0.25rem;
      margin-top: 0.25rem;
    }

    &:open {
      &::picker(select) {
        padding: 1rem;
        background-color: rgb(255 255 255);
        border: 1px solid rgb(238 238 240);
        border-radius: 0.5rem;
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 0.2);
        color: rgb(67 68 82);
        padding: 0.25rem;
      }
    }
  }
}
